[2020-01-20 15:31] cyriltovena opened #1552 "Partial result for query range."
**Is your feature request related to a problem? Please describe.**

Currently when doing query range search (using |= or |~) over long per period of time, the user might receive a 502 (Gateway timeout) or 500 (timeout). However the query has probably executed long enough to have meaningful result and could be followed up with a smaller queries to fetch remaining/missing information. Unfortunately

[2020-01-20 16:14] cyriltovena commented on #1552
/cc @davkal @aocenas

[2020-01-20 16:16] cyriltovena commented on #1551
between 10 and 50, depending on some tenants.

[2020-01-20 16:19] pracucci commented on #1551
Got it. Then the strategy used for the ingestion rate global limit doesn't work. We need start brainstorming how to do it here.

[2020-01-20 16:31] cyriltovena commented on #1551
@mattmendick I think we need to assign this to someone. May be @sandlis (not sure if you have some bandwidth on your side.)? Let's get a design in doc may be and link it here.

[2020-01-20 18:20] cyriltovena commented on #1547
Loki seems to not be ready, causing promtail to backoff. Not sure why you are having issue with Loki though, you should dig into that.

[2020-01-20 18:20] koi8-r commented on #1549
Thaks, you answer for all my questions

[2020-01-20 18:20] #1549 closed

[2020-01-20 23:18] till commented on #1547
@cyriltovena this doesn’t happen right away, but only after a couple hours,  do you have any suggestions how to dig into it?

[2020-01-21 00:03] cyriltovena commented on #1550
Just looked at our p99 for age chunks and it's around 5 to 15 hours, so we do have a lot of chunks in memory.

Apparently cortex had this issue and fixed it by batching ingester reads.

[2020-01-21 06:04] sandlis commented on #1551
I can have a look at it. Ingesters are the only components which have all the live tailing requests at one place. The simplest solution I can think of is ingester exposing an RPC call for finding the count of the number of live tailing connections that it has for a tenant, which would then be used by queriers and decide whether limits are being crossed. I know its not a sophisticated solution but

[2020-01-21 08:05] Eraac commented on #1267
Make sense, if i understand well Loki use Cortex with AWS autoscaling mode, so Loki team has to update the code and use the "metrics-based" scaling mode? (which is implemented in cortex independently of AWS?)

I guess, this will fix the weird behaviors with write scaling? (see my second post)

[2020-01-21 09:54] cwrau commented on #985
Explore fails with the the same error:

![image](https://user-images.githubusercontent.com/14326070/72792689-b83c8d80-3c39-11ea-8ec9-0d2625fc208f.png)

When I add loki as a Prometheus it works, but I think that is suboptimal

[2020-01-21 09:56] EraYaN commented on #343
Since https://github.com/cortexproject/cortex/pull/1913 was merged the documentation might need an update (and example).

[2020-01-21 10:17] thedeveloperr commented on #1011
I like this one, new stage property way looks good, I will try to implement that. What's your opinion ? Shall I research on this ? I am currently reading the source code to get the idea of the pipelines.

[2020-01-21 11:04] tmikaeld commented on #74
Any updates on this? It's a constant show-stopper.

[2020-01-21 11:37] cyriltovena commented on #1011
I think that works yeah! Let us know if you need help, we’re on the grafana slack.

[2020-01-21 11:38] cyriltovena commented on #74
Yes there’s a PR, we’ll review it!

[2020-01-21 11:45] cyriltovena commented on #1551
If one live tailing requires multiple connection to ingesters, we should count that as one. Your solution could work yes, but be aware there will be a race.

[2020-01-21 11:51] sandlis commented on #1551
Yes but I think we could live with that assuming in worst-case scenario there would be at most 1 or 2 extra websocket connections over the configured limit that would be allowed due to that race.
What do you think? Am I missing something else?

[2020-01-21 11:53] cyriltovena commented on #1551
Yeah if possible we should instrument this.

[2020-01-21 11:57] cyriltovena commented on #985
@ivanahuckova which Grafana version has native metrics support for Loki ?

@cwrau the thread above explain how to use loki as a prometheus data source in the meantime.

[2020-01-21 13:01] cwrau commented on #985
I just tried 6.6.0-beta1 for #20300, and this works as well.

The only thing that's missing is the legend format that's available for Prometheus and alerting 😞

So even in 6.6.0-beta1 I'll need Loki as a Prometheus datasource, at least for alerting

[2020-01-21 13:03] cyriltovena commented on #985
Yeah for alerting it will take time also, we use Loki as prom data source internally and it does the job.

[2020-01-21 13:43] cyriltovena opened #1554 "Loki chunk dashboard is broken"
**Describe the bug**
It seems that entries and stats panel are showing wrong data.

[2020-01-21 14:12] rfratto commented on #1542
@gouthamve had mentioned that the Prometheus code already does this for its label matchers. I took a quick look at the code but wasn't able to find anything other than some optimizations in the TSDB [querier](https://github.com/prometheus/prometheus/blob/4708915ac6ef3f1a8b7c348c6463c08f098a1e0a/tsdb/querier.go#L303). We should follow up with Goutham later to find out where this code is; we might b

[2020-01-21 14:41] cyriltovena commented on #1507
Forgot to mention that this won't help metrics queries as they are relative to the start,end and step. So we don't have the distribution over time, which what the metrics queries are returning.

However using the index to store more information is definitively interesting for other use cases.

[2020-01-21 14:49] owen-d commented on #1540
If I understand this correctly we can solve this problem for file-based targets (which can be reread) by just deferring updating the positions file until we've seen successful response codes from loki.

[2020-01-21 14:56] slim-bean commented on #1199
You are correct, rate limited logs are dropped.  The reasoning is that if you are hitting the rate limit, attempting to retry those logs would never be successful and would just dig the hole deeper.  (New logs still coming in while you retry failed logs would only add to the problem)

[2020-01-21 14:57] slim-bean commented on #1199
Also sorry for the slow reply, the stale bot nudged this and realized I never responded.  I'm going to close this issue however, as I believe the initial issue was addressed/responded to.

[2020-01-21 14:57] #1199 closed

[2020-01-21 14:58] slim-bean commented on #1554
Or at the least, the data is confusing.  For example the Size table is showing entries per chunk not the size of chunks

[2020-01-21 15:03] owen-d commented on #1552
As an alternative, we could also use a statistics api to signal this query has touched too many series/log lines.

[2020-01-21 15:04] slim-bean commented on #1547
@till there is a [max_age](https://github.com/grafana/loki/blob/master/docs/clients/promtail/configuration.md#journal_config) configuration for the journal scraper to limit how far back in time it will look.

But more importantly you should probably find a directory outside of `/tmp` to store your files as on most operating systems this is deleted on a restart.

The current position in the journal

[2020-01-21 15:10] slim-bean commented on #1544
As @cyriltovena mentioned, trying to buffer the data and sort it inside Loki is a big task, and would come with a big consequence in memory usage, especially with a large amount of streams.  This is primarily why we aren't too excited about implementing this and have been deferring the task of sorting to the clients.

However, the idea of applying the timestamp by Loki at the time of ingestion is

[2020-01-21 15:11] rfratto commented on #1540
That'd solve most problems for file-based targets, unless the log files are rotated after we read them. Admittedly, it's probably really unlikely to Promtail to need to recover after a log file rotated.

[2020-01-21 15:13] slim-bean commented on #1544
(or if you'd like you can create a separate issue for this and keep this one for posterity)

[2020-01-21 16:08] owen-d opened #1556 "per tenant split by overrides"
**Is your feature request related to a problem? Please describe.**
Currently the frontend `querier.split-queries-by-interval` configuration is a constant set per deployment. This works well in single tenant environments or environments where tenants have similar throughput, but does not when tenant throughput varies.

**Describe the solution you'd like**
I'd like to have per tenant overrides for t

[2020-01-21 19:08] till commented on #1547
@slim-bean thank you!

I'll look into `max_age`, and I agree: good idea on `/tmp` — would you mind a PR to your docs to change that? I mostly copy and pasted to get it off the ground.

[2020-01-21 19:20] mattfarina opened #1557 "Helm Chart issues"
Over on the Helm Hub (where Loki is listed) there have been two issues reported:

1. https://github.com/helm/hub/issues/225 - there is no README.md in the chart so no description is showing up on the Helm Hub
2. https://github.com/helm/hub/issues/226 - the release date for the charts is the same and regularly updated

I tried to contact the [support email address (a google group) that's listed wit

[2020-01-21 20:08] mattmendick commented on #1551
@sandlis Will you work on a design doc first to make sure we're on the same page or is this straightforward enough to reference the design in your comment above?

[2020-01-21 20:47] till commented on #1547
I wouldn't know why it hits this limit. I feel like loki and promtail may be doing that to themselves. They run on the server where I am collecting `journald` from.

Also, I guess this is a log stacked in a log, in a log? Judging from the error message and attempts to escape the `{}`?

[code]

The logs look weird. 👆

There are also a ton of these (I added a few `\n` here):

[code]

[2020-01-21 21:10] till commented on #1547
So far `journalctl -k` has nothing. Where else would you like me to look?

[2020-01-21 21:14] slim-bean commented on #1547
i would turn off debug logging in promtail to start, it's incredibly verbose and I would only turn it on if you are actively debugging

[2020-01-21 22:06] createdanew commented on #1159
So was there a definitive answer to this? I haven't been able to discover a proper solution. I'm also having issues with "Unhealthy" ingestors not leaving the ring.

[2020-01-21 23:05] robshep opened #1559 "Promtail : Support entire extracted value map in template pipeline stage"
**Is your feature request related to a problem? Please describe.**
I want to construct a new log message from previously extracted parts but cannot join elements together.

**Describe the solution you'd like**
The template pipeline stage operator to have access to the whole scope
Here's a simplistic - *but maybe not 100% correct* - example)

    pipeline_stages:
        - json:
            express

[2020-01-21 23:19] robshep commented on #1559
Or even support String Templates in the `output` stage for the same effect.

[2020-01-22 00:19] shughes-uk commented on #1544
Fine with me! Both solutions are totally workable

[2020-01-22 00:40] cyriltovena commented on #1547
There must more info in Loki logs related to that unhealthy ingester, you’re getting throttled too so you can look at increasing limits

[2020-01-22 01:10] cyriltovena commented on #1348
Send a pr if you don’t to wait, this low priority for me. I also like it.

[2020-01-22 01:18] cyriltovena commented on #1368
We don’t have a solution because we are restrained by how docker plugins work which is either bridge or host network, currently it configure as host. I’m really busy to try out bridge which should solve most use cases except custom network. Wanna try bridge here is an image:

grafana/loki-docker-driver:latest-bridge

[2020-01-22 07:52] sandlis commented on #1551
It is straight forward enough and should not take much time to build. I will work on it and open a PR soon. Any other approach would be complex since queriers can't talk to each other so some other component would have to keep a count of open web socket connections which is an added overhead.
As rightly pointed out by Marco, we also can't go with the global average approach due to the size of the

[2020-01-22 11:31] cyriltovena commented on #1547
This means loki is trying to shutdown, still  I don’t see any reason. Are you running more than a single replica? You should not.

[2020-01-22 11:44] till commented on #1547
@cyriltovena I realize that a single process does not provide HA or fault tolerance. My idea was that for lab purposes and before I go full-on and provision a bunch of infrastructure, I run a single instance of it to test and evaluate it. Are you suggesting a single instance is not at all possible?

This is is the full cycle — there is nothing though why the ingester goes away in the first place.

[2020-01-22 11:49] slim-bean commented on #1547
All those logs still indicate Loki is shutting down.  How are you starting Loki?

[2020-01-22 11:49] cyriltovena commented on #1547
I’m just telling you scaling the single binary does not work. It’s like Prometheus. The micro service can be scale.

How is you config ? How are you hosting it ? anything on this host that would suggest request for termination?

[2020-01-22 12:00] till commented on #1547
@slim-bean I am starting it using `systemd`:

[code]

@CyrilPeponnet it's running in a "Container" (~similar to OpenVZ) on a HV. The HV is running Virtuozzo7.  The container/VM has no resource issues — according to Prometheus/node-exporter. :-)

My config is on the top of this thread.  I've adjusted two things since I started this ticket: `log_level` (a couple times) and I moved everything to `/va

[2020-01-22 13:07] cyriltovena commented on #1547
The config looks good. I'm pretty sure Loki is getting signaled to shutdown by the host. Are you using some sort of healthiness probe ?

[2020-01-22 13:26] till commented on #1547
@cyriltovena no. Any idea where I would determine this?

[2020-01-22 13:32] till commented on #1547
Hmm, I see what you mean. When I search the previous minute I see that systemd is shutting it down, but I am not sure why. (Still looking.)

The log from the previous minute:

[code]

[2020-01-22 13:39] till commented on #1547
Nothing. I'll deploy with `Environment=SYSTEMD_LOG_LEVEL=debug` hoping to see more.

[2020-01-22 21:03] dankirkpatrick opened #1566 "Helm chart for loki-stack requires template "loki.serviceName"...it does not exist"
**Describe the bug**
When installing the helm chart for loki-stack, I get an error that reads:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install the helm chart.  Type:

[code]

**Expected behavior**
The helm chart should install instead of giving an error.

**Environment:**
 - On-premises K8S cluster, provisioned with Kubespray, running on vSphere
 - Deployment tool: helm v3

*

[2020-01-23 04:43] WeiBanjo opened #1568 "Promtail 1.3: field relabel_configs not found in type scrape.JournalTargetConfig"
**Describe the bug**
Promtail fails to start on 1.3 when we have `relabel_configs` in journal configuation

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade Promtail from 1.2 to 1.3

**Expected behavior**
Promtail works on 1.3

**Environment:**
 - Infrastructure: Kubernetes
 - Deployment tool: helm

**Screenshots, Promtail config, or terminal output**
 ### Promtail configuration
This c

[2020-01-23 07:13] ksriteja95 commented on #1535
I do have around 25 nodes.  After troubleshooting i get these results
<img width="307" alt="Capture" src="https://user-images.githubusercontent.com/46532977/72963681-b8897580-3d6c-11ea-8c48-4c81e89b4388.PNG">
<img width="827" alt="Capture1" src="https://user-images.githubusercontent.com/46532977/72963682-b8897580-3d6c-11ea-86d7-7637c3fc825b.PNG">

[2020-01-23 09:32] pastatopf commented on #16
Upvote fromy my side :-)

[2020-01-23 13:03] rfratto commented on #1568
Hi! There's a subtle difference between the example and the config you posted: `relabel_configs` needs to be outdented one level:

[code]

[2020-01-23 16:49] aocenas commented on #597
@cyriltovena

Is this still true? Trying some requests and what I see:

request with start=1579792992203968000
[code]

Same request just start=1579792992203967000 (minus 1us)
[code]
This returned data with ts = 1579792992203968000 which is the start time of the first request

[2020-01-23 17:14] cyriltovena opened #1570 "Request start and end inclusivity/exclusivity"
**Describe the bug**
It seems that the start is not inclusive anymore from this discussion https://github.com/grafana/loki/issues/597#issuecomment-577768610

We should have the start inclusive and end exclusive for log query requests and also add this as part of the API documentation. The precision should be nanoseconds.

**To Reproduce**
see discussion

**Expected behavior**
 the start inclusive

[2020-01-23 17:42] WeiBanjo commented on #1568
Thanks for pointing that out.

[2020-01-23 17:42] #1568 closed

[2020-01-23 19:01] mrothroc opened #1571 "Helm chart service.yaml template missing a port"
**Describe the bug**
When you deploy via the helm chart, the headless service only has one port exposed: http-metrics.  However, internally the service also relies on port 9095 for grpc.  This creates an issue with Istio.  The Istio sidecar discovers ports via the service entry.  Without this port being listed (and with a name prefixed with grpc), Loki starts but logs errors and is non responsive.

[2020-01-24 00:56] cyriltovena opened #1574 "Code coverage in PR"
**Is your feature request related to a problem? Please describe.**
Would be nice to have code coverage comparison during github PR.

Currently it's hard to see what is covered by tests without pulling the PR and executing tests.

**Describe the solution you'd like**
There is a log of SaaS product or even open source cli we could use.

For instance https://codecov.io/ seems free for open source pro

[2020-01-24 01:46] AartiJivrajani commented on #1417
@evalsocket - Are you still working on this? If not, I would like to pick it up. Let me know!

[2020-01-24 09:39] jongyllen opened #1575 "Promtail will not start when running in docker on a Raspberry Pi 4"
**Describe the bug**
Promtail will not start when running in docker on a Raspberry Pi 4

**To Reproduce**
Run the Loki docker image on armv7 (in this case a Raspberry pi 4)
[code]
**Expected behavior**
Loki, Grafana and Promtail should be up and running

**Environment:**
Raspberry Pi 4, running Raspbian Buster (armv7)
Docker

**Screenshots, Promtail config, or terminal output**
Got error message f

[2020-01-24 09:47] aocenas commented on #1570
Hey @cyriltovena sorry my bad, I thought I was some newer master but seems like I did not pull for quite some time, now testing it on 1.3.0 and seems like this works as expected. Going to close this now, will test on master and reopen if I see this again.

[2020-01-24 09:47] #1570 closed

[2020-01-24 11:37] cyriltovena commented on #1570
Out of curiosity on which sha were you ?

[2020-01-24 13:01] #1439 closed

[2020-01-24 13:52] slim-bean opened #1576 "Allow docker driver to send logs to Promtail"
**Is your feature request related to a problem? Please describe.**

Sort of, the docker logging driver is great in many cases, however there are a few cases where it struggles, and leveraging promtail would help:

  * Configuring the pipeline for the logging driver is difficult #1296 and #1555
  * You cannot scrape metrics from the docker driver so you can't use the metrics pipeline stage
  * Conf

[2020-01-24 15:59] HarmtH commented on #553
I think this issues should have autoclosed when #1112 got merged.

For future googlers, [here](https://github.com/cyriltovena/loki/blob/master/docs/clients/promtail/stages/match.md#example) is a nice example for dropping log lines given certain criteria.

[2020-01-24 16:02] #1551 closed

[2020-01-24 18:09] cyriltovena commented on #553
Thanks you’re right !

[2020-01-24 18:09] #553 closed

[2020-01-24 20:23] cyriltovena commented on #1566
Interesting it seems to work for me. Which commit are you using for the chart ? I tried from the repo and from master.

[2020-01-25 03:05] AndrewCooper opened #1583 "Promtail-generated metrics have promtail_custom prefix"
**Describe the bug**
Metrics created by the metrics pipeline stage have a prefix of "promtail_custom_". This is not documented anywhere and not logged so I eventually figured it out by scraping the metrics and browsing through them manually.

**To Reproduce**
Steps to reproduce the behavior:
Add a unique metric name to a scrape_config pipeline, like foo_my_metric.
Scrape the metrics manually.
See

[2020-01-25 21:28] cyriltovena opened #1584 "Series API return total bytes for each stream within the range"
**Is your feature request related to a problem? Please describe.**

It could be really useful for the frontend to be able to send a first query using the series API and retrieve the amount of data it will target beforehand. This could allow to increase the parallelism based on the total size to process of course still bound by a per tenant Limit. As of today we recommend to use snappy so we know w

[2020-01-25 21:54] HaveFun83 commented on #1575
Same issue on raspberry k8s node:
promtail pod crashloop with the following error
[code]

[2020-01-25 22:02] cyriltovena commented on #1507
I definitely agree with you @owen-d (created an issue for your idea https://github.com/grafana/loki/issues/1584),  we have 3 good usages for Loki to contains metrics about streams without processing them:
- Query frontend can use those for query planning.
- Series API could be faster and richer. (contain more info without downloading logs)
- We could be way faster for `count_over_time` and `rate`.

[2020-01-25 23:14] REBELinBLUE commented on #1575
Yep same, been working fine previously

[2020-01-26 13:52] billimek commented on #1575
For what it's worth, this is not an issue when running on an arm64-based pi4 with containerd (via k3s `v1.17.0+k3s.1`):

[code]

[2020-01-27 08:55] anish-lal commented on #1464
@pstibrany The out of order errors seems to be directly proportional to the distributor -> ingester append failure rate. Looks like append failures causes logs to be send again that results in out of order error. Is there any way we can determine why the appends are failing?

Increasing the ingester and distributor replicas reduces the append failures but given the free resources in existing nodes

[2020-01-27 13:50] shaikatz commented on #1566
Looks like for some reason `loki.serviceName` is defined inside promtail helpers instead of loki helpers.
That produce @dankirkpatrick issue, probably he had disabled promtail.

[2020-01-27 13:51] pstibrany commented on #1464
I would look at logs from promtail, distributors or ingesters.

[2020-01-27 15:03] cyriltovena commented on #1566
Right and the test is using that. Seems like a bug to fix.

[2020-01-27 19:20] #1566 closed

[2020-01-27 22:24] cyriltovena opened #1588 "Improve stream proto format"
**Is your feature request related to a problem? Please describe.**
Currently we have:

[code]

This causes a lot of transformation between string and labels object.

**Describe the solution you'd like**
I think we used to have this proto exposed, but it is not the case anymore and we should make that proto more easier to work with by having labels a repeated object.

[2020-01-28 03:57] mtamura2 opened #1589 "Cannot calcurate in LogQL like PromQL. Error is "parse error at line 1, col 84: syntax error: unexpected IDENTIFIER""
**Describe the bug**
In Grafana Metrics, I try this Query
`rate({logName="apache-access",httpStatus="200"}[1h]) - 1`
but, I Got Error "parse error at line 1, col 84: syntax error: unexpected IDENTIFIER"...
Cannot I calcurate in Query？

**To Reproduce**
loki, version v1.3.0
`rate({logName="apache-access",httpStatus="200"}[1h])` looks Fine.

**Expected behavior**
PromQL can calcurate.
`rate(process_

[2020-01-28 12:00] cyriltovena commented on #1589
We don’t yet support binary operations, but that’s on the todo list

[2020-01-28 13:29] cyriltovena commented on #1588
We should use this type:

https://github.com/cortexproject/cortex/blob/master/pkg/ingester/client/timeseries.go#L69

Like cortex does here:

https://github.com/cortexproject/cortex/blob/master/pkg/querier/queryrange/queryrange.proto#L43

[2020-01-28 14:09] slim-bean commented on #1507
I've updated the title of this issue to better reflect what we need going forward which is a way to get some info about the volume of logs a query will have to process.

[2020-01-28 15:21] nv30 commented on #940
Hi! Did you somehow manage to fix it?

[2020-01-28 16:29] RomainBelorgey opened #1591 "Installation documentation from tanka is out of date"
**Describe the bug**
Following https://github.com/grafana/loki/blob/master/docs/installation/tanka.md, not possible to install loki.

s3 and dynamodb configurations need also to be added to the configuration file.

Config file (removed sensitive infos):
[code]

When running `tk show environments/loki`:
[code]

From the line 30, I can find this line:
`clients: std.map(client_config, $._config.promt

[2020-01-28 17:06] ksriteja95 opened #1592 "Promtail not sending logs"
I am getting error below and promtail pods are not running. Install loki using helm

<img width="545" alt="Capture" src="https://user-images.githubusercontent.com/46532977/73287052-78335880-41ad-11ea-8f5c-5e584297adf8.PNG">

[2020-01-28 17:09] #1535 closed

[2020-01-28 17:10] ksriteja95 commented on #1592
After troubleshooting i get these results
<img width="307" alt="72963681-b8897580-3d6c-11ea-8c48-4c81e89b4388" src="https://user-images.githubusercontent.com/46532977/73287390-0b6c8e00-41ae-11ea-9533-f79f517fa512.png">
<img width="827" alt="72963682-b8897580-3d6c-11ea-86d7-7637c3fc825b" src="https://user-images.githubusercontent.com/46532977/73287391-0b6c8e00-41ae-11ea-9990-62d3c43197cc.png">

[2020-01-28 17:29] aocenas opened #1593 "Docs: Promtail Docker config example seem out of date with the docs"
**Describe the bug**
In docs [example section]( https://github.com/grafana/loki/blob/master/docs/clients/promtail/configuration.md#example-docker-config) there are parts:
[code]
but `docker` does not seem to be a valid option for the `pipeline_stages`. I would expect `kubernetes_sd_config` there.

**To Reproduce**

**Expected behavior**

**Environment:**

**Screenshots, Promtail config, or termina

[2020-01-28 17:45] avarsava opened #1594 "Installation documentation flow missing steps"
Scenario: I am setting up Loki for the first time. I am working top to bottom through the installation documentation.
I want to install locally, so the first page I read is 2.iii, 'Installing locally'. I complete the instructions under 'Release binaries', which leads me to the instructions on the release page, which only instruct on how to extract and make executable the release.
I then move on to

[2020-01-28 17:59] avarsava opened #1595 "Remove '$' from command line instructions"
**Is your feature request related to a problem? Please describe.**
When commands are provided in documentation, my usual workflow is to triple-click to select the whole line then middle click in the terminal to paste. When the '$' at the beginning of every line is included in the code block, this does not work.

**Describe the solution you'd like**
Don't include the '$'.

**Describe alternatives y

[2020-01-28 18:08] cyriltovena commented on #1591
Try this ! If the docs if out of data may be should improve this.

[code]

[2020-01-28 18:10] cyriltovena commented on #1591
Yep the docs is not up to date ....

[2020-01-28 18:40] avarsava opened #1597 "Promtail pipelines docs: regex requires double quotes"
The 'Pipelines' page of the Promtail section of the Loki documentation shows examples where regex expressions are encased in no, or single, quotes, where double quotes are required.

[2020-01-28 18:57] #1450 closed

[2020-01-28 18:58] #1591 closed

[2020-01-28 19:33] victorhaggqvist opened #1599 "panic on GET /loki/api/v1/labels in fresh install with loki-stack"
**Describe the bug**

Panic when setting up the loki datasource in grafana, which I believe queries loki with `GET /loki/api/v1/labels` on save.

[code]

Blocks are written to object_store (minio), thus there should be data to query

**To Reproduce**
Steps to reproduce the behavior:
1. Started Loki with loki-stack
2. Blocks are flushed to minio
3. `curl http://loki.example.com/loki/api/v1/labels`

[2020-01-28 19:50] cyriltovena commented on #1599
You don't have a schema version, so it defaults to v1 which doesn't support what we use.

Although let's keep this open we should not panic. :/

[code]

I set it to `v11` for faster label queries, doesn't use aws for them, but if that doesn't work well use `v10`.

And you can switch like this you need to add a new config with a new date to tomorrow, or just wipe all data and that will work.

[2020-01-28 20:16] tmikaeld commented on #1544
I'm using Loki to log stack traces from distributed serverless workers, so this keeps coming up as a problem. Applying timestamp @ the time of ingestion would work well for this scenario.

[2020-01-29 04:11] slim-bean commented on #1593
hey @aocenas I agree that example is confusing and misleading.  The config is technically valid if you had docker writing logs into `/var/log` but this is very OS dependent and we really recommend the docker logging driver instead.

`docker` is a valid pipeline_stage but was not documented which is also not very helpful.

I opened #1602 to hopefully address the problems you encountered.

[2020-01-29 11:29] Estrax opened #1604 "Loki returns an entire table on query with negative limit value."
**Describe the bug**
When querying Loki with a query parameter `limit: -1` (or any other negative value), Loki returns an entire table. When doing it from Grafana, it crashes a browser thread when the returned object is too big (because parsing takes too long or we exceed a memory limit).

**Expected behavior**
With negative limit parameter Loki returns no elements.

[2020-01-29 13:11] #1597 closed

[2020-01-29 14:11] RomainBelorgey commented on #1591
@cyriltovena Thanks for the help and the changes on the doc.
Will retry the installation :+1:

[2020-01-29 18:46] PabloCastellano opened #1607 "s3_secret_access_key does not allow slashes"
**Describe the bug**
Loki fails to start when an s3 bucket is configured as storage and the secret key contains a slash. I have generated a different access key pair whose secret key doesn't contain a slash character and it works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure s3 storage with a secret key that contains a slash. E.g.

[code]
2. Start Loki (master-765b34d)

**E

[2020-01-29 20:03] pstibrany commented on #1544
If we do this, let’s make sure that time is applied by distributor, so that all ingesters get the same value.

[2020-01-29 20:16] victorhaggqvist commented on #1599
I see, thanks. Adding that does indeed make it work, must have omitted that part copying things around.

[2020-01-30 15:06] CRad14 commented on #1512
Thanks so much for everything!

[2020-01-30 15:06] #1512 closed

[2020-01-31 02:24] #1398 closed

[2020-01-31 04:42] shokada commented on #1503
Probably, "chunk" table will not be created if you do not use the index table period.
https://github.com/cortexproject/cortex/blob/master/pkg/chunk/table_manager.go#L246-L284

[2020-01-31 09:25] abelal83 commented on #343
documentation not updated yet, would be really helpful.

[2020-01-31 19:34] tomdsmartdata commented on #1368
@cyriltovena, I'm encountering a similar as @scobcov and am interested in trying your bridge image. Where can I pull it from?

[2020-01-31 19:37] #1556 closed

[2020-01-31 23:53] sergeyshaykhullin opened #1618 "Add Redis defaultDatabase support"
**Is your feature request related to a problem? Please describe.**
Trying to use non-default redis database with `redis-master.redis:6379,defaultDatabase=14` endpoint, getting `msg="failed to put to redis" name=store.index-cache-read.redis err="dial tcp: address tcp/6379,defaultDatabase=14: unknown port`

**Describe the solution you'd like**
Add more cache-config options or connection string parsi

[2020-01-31 23:58] cyriltovena commented on #1368
grafana/loki-docker-driver:latest-bridge

[2020-02-01 20:34] cyriltovena commented on #1544
How do we handle batches ? For performance reason, data is sent in batches. Should we just realign out of order entries ?

[2020-02-03 13:15] abelal83 commented on #343
Any updates on this please? loki --help seems to suggest there is some support

[code]

but clearly something is wrong when adding to config.yaml

[2020-02-03 14:01] slim-bean opened #1621 "Loki Roadmap"
Just a placeholder for now :)

[2020-02-03 14:46] shaikatz opened #1622 "Provide configs for mixin queries"
**Is your feature request related to a problem? Please describe.**
My setup has a different label then the hardcoded `cluster` to distinguish between clusters.
Currently, I cannot override it since it's hardcoded inside the dashboard queries.

**Describe the solution you'd like**
I would like to create `config.libsonnet` in `loki-mixin`.
This file will hold for example the `clusterLabel` configura

[2020-02-03 15:24] abelal83 opened #1623 "runtime error when using azure storage account"
**Describe the bug**
Azure storage account used for chunks, this seems to work fine however when querying with grafana loki crashes with the following

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Started Loki v1.3.0
3. Attempting to query Loki as using grafana results in panic

**Expected behavior**
Loki should not panic

**Environment:**
 - Infrastructure: Azure Kubernetes
 - Dep

[2020-02-03 16:10] fredgate opened #1624 "Add Grafana datasource even if Grafana is not installed"
**Describe the bug**
The umbrella helm chart `loki-stack` allow to install desired charts using flags : Loki, Promtail, Fluentbit, Grafana, Prometheus.
When Prometheus and Grafana are installed in another way (for example using `prometheus-operator`), it should be useful to be able to install the file that declares Loki as a datasource in Grafana.
But actually it is not possible as the ConfigMap c

[2020-02-03 16:32] cyriltovena commented on #1621
- Rulers
- Partial Response
- Stats API

[2020-02-03 16:50] abelal83 commented on #1623
so I've managed to get past that issue by deleting blob container, cassandara database and starting over again but now facing a completely different issue. When adding Loki as a datasource it errors with this message

[code]

Any ideas?

[2020-02-03 23:57] atombender opened #1625 "Unable to stream log with high limit, no option to disable limit"
**Describe the bug**
The API seems to have a default limit, and also an upper limit which is undocumented, or even discernible. Here are some example API requests (query doesn't matter):

[code]

So the limit is around 111430? But if I restart Loki, the upper limit before it bugs out with `Bad Request` isn't exactly the same. Some kind of buffer issue?

Anyway, I fully expect Loki to be able to st

[2020-02-04 08:08] Eraac commented on #1356
Not a big issue, but still exist

[2020-02-04 10:02] adityacs commented on #1607
@PabloCastellano Can you try to escape the secret key and try?  Like below
`s3://ASDFGHJIQWETTYUI:Jkasduahdkjh213kj1h31+lkjaflkjzvKASDOasofhjafaKFAF\/GoQd@region/bucket_name`

[2020-02-04 13:50] ThoreKr commented on #1536
@slim-bean `make dist` does still have some major drawbacks. While it apparently runs builds without requiring docker it takes quite a lot of time building all components.

I just have to build promtail with journald support. Is there a way to avoid docker, or do I have to rebuild my build pipeline?

[2020-02-04 14:21] cyriltovena commented on #1625
So I'm not able to reproduce this, I blew up my chrome with 115000 lines. I even added a tests and it seems to parse the limit correctly. Could it be related to the logcli or you're using curl ? Which version are you running ? Are you using helm or ksonnet ?

[2020-02-04 14:31] owen-d commented on #1607
Nice digging @adityacs. I do think we should have nicer error handling for this (or transparently handle this case)

[2020-02-04 16:03] atombender commented on #1625
For this, I'm using `curl` directly, though I'm also seeing it with `logcli`.

I'm using my own custom Helm chart. Loki 1.3.0.

[2020-02-04 16:08] cyriltovena commented on #1625
Can you share you config so I can try to reproduce it ? How is your custom chart different ?

[2020-02-04 16:12] atombender commented on #1625
[code]

I built our Helm chart from scratch, because reasons. 🙂

[2020-02-04 16:43] randomchance commented on #1192
is there *any* way to get data from logstash to loki at present, even without a plugin?  My environment uses ELK, but we want to move away from it, both because it's so heavy and because we want to avoid installing java everywhere.

I would love to replace the EK part with Loki - I still need the ability to transform and forward logs that logstash gives, and I haven't found a replacement I'm happy

[2020-02-04 16:46] cyriltovena commented on #1192
Not really but the Loki push API is fairly easy so writing a small exporter for your use case shouldn't be too much trouble.

[2020-02-04 16:55] randomchance commented on #1192
Alright, I'll give it a shot, thanks :)

[2020-02-04 21:44] peimanja commented on #340
Really interested in `Prometheus-style rules and alerts` and possibly ability to send the alerts to Alertmanager so same receivers and alert routes get applied there.

[2020-02-05 01:06] slim-bean commented on #1625
how long is your query taking before it returns the 400?

There is a limit on how long a query can execute before it's terminated which defaults to 1 minute

You can change this with the `query_timeout` see [here](https://github.com/grafana/loki/tree/master/docs/configuration#querier_config) for more info.

It looks like this timeout could likely produce a timeout with no body.

It's also probably

[2020-02-05 01:09] atombender commented on #1625
Just a second or two. I don't see how it can be a timeout.

[2020-02-05 01:29] slim-bean commented on #1625
I'm not able to reproduce this either.  If i make a request for 1mil lines I just get an error like this:

`Query failed: Error response from server: response larger than the max (260072437 vs 104857600) (<nil>)`

This is doing a label only query with no filter expression.  What kind of query are you sending?

[2020-02-05 08:52] Mikesch-mp opened #1635 "Request: promtail client binary for AIX (7.2)"
**Is your feature request related to a problem? Please describe.**
We have a lot aof AIX lpars, with mayn applications that write their own logfiles which cant use the central syslog. As iam not familar with go enough, i dont get it compiled for AIX. i tried it with
'''
GOOS=aix GOARCH=ppc64 go build ./cmd/promtail
'''
but it doesnt build for me.

**Describe the solution you'd like**
Go should be

[2020-02-05 16:49] atombender commented on #1625
I'm doing pure label queries with no filter. I just tried another one, and it worked fine. Maybe it's completely unrelated. I will see if I can reproduce.

Might be worth checking the code for places where `400` is returned, and also where naked `err` values are returned without wrapping in something like `fmt.Errorf("blah: %w", err)`.

[2020-02-05 19:22] Demon-DK opened #1643 "Add discovered source labels for systemd-journal module in promtail GUI"
**Is your feature request related to a problem? Please describe.**
---
I use promtail gui discovery section to review and the clarity of which source labels I got from kubernetes. But the same approach doesn't work for **systemd journal** module (_screen below_)

**Describe the solution you'd like**
---
I'd like to suggest to add discovered source labels for **systemd journal** module in promtail

[2020-02-05 19:31] #1593 closed

[2020-02-06 01:03] cyriltovena commented on #1192
I’m working on a pipe to promtail feature that should help you.

[2020-02-06 01:43] cyriltovena commented on #340
This is great idea we want to implement.

[2020-02-06 03:29] takanabe opened #1645 "Hard to debug and refactor fluent-plugin-grafana-loki"
**Describe the bug**

https://github.com/grafana/loki/tree/master/fluentd/fluent-plugin-grafana-loki is not well maintained and hard to debug because,

* the code creates many rubocop violations
* the spec does not work

**To Reproduce**
Steps to reproduce the behavior:
1. `bin/setup`
2. `bundle exec rake spec` creates the following violation messages and errors

[code]

Even if we ignore the robo

[2020-02-06 08:43] adityacs commented on #1607
@owen-d May be we can encode the username and password field of the URL. We should create a PR here https://github.com/weaveworks/common. Will do that

[2020-02-06 10:36] PabloCastellano commented on #1607
I can confirm that URL encoding the character works. In my opinion there should be better error handling or at least the documentation should warn you. I can provide a PR for documentation if you think this is useful

[2020-02-06 10:48] adityacs commented on #1520
@cyriltovena Is my understanding correct? If we have below loglines
[code]

After Pipeline Processing we should have entries like below.
[code]

In this run https://circleci.com/gh/grafana/loki/16854?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link, pipeline has returned the processed lines in reverse and that's why the error.

If there is no order for Pipeline p

[2020-02-06 11:51] cyriltovena commented on #1645
Awesome please join #loki-dev on slack if you need help.

[2020-02-06 11:53] cyriltovena commented on #1625
Could be a limit ?

[2020-02-06 12:59] owen-d commented on #1607
Definitely! Feel free to stop by #loki-dev on grafana.slack.com if you have any questions.

[2020-02-06 15:33] Eraac commented on #1462
Still no tags in my dynamoDB table

[2020-02-06 18:04] lukipro opened #1650 "Multi-tenant superuser support"
**Is your feature request related to a problem? Please describe.**
Suppose I have Grafana Loki installed in multi tenant mode.
Grafana is configured to use generic OAuth.
In Grafana I have several dashboards connected to a single Loki datasource. This Loki datasource is actually behind a proxy which adds an appropriate 'X-Scope-OrgId' header to the request based on the contents of the forwarded OA

[2020-02-06 23:58] takanabe commented on #1645
@cyriltovena

This issue is ongoing 💨  could you reopen this issue so I can put all the information here? I'm planning to fix broken specs and introduce CI. Otherwise, this plugin won't be maintained.

[2020-02-07 00:42] cyriltovena commented on #1520
It should be ordered not sure what you mean

[2020-02-07 02:49] adityacs commented on #1520
@cyriltovena The expected labels and entries are

Labels
[code]

Returned Labels
[code]

Entries
[code]

Returned Entries
11.11.11.12 - - [19/May/2015:04:05:16 -0500] "POST /blog HTTP/1.1" 200 10975 "http://grafana.com/test/" "Mozilla/5.0 (Windows NT 6.1; WOW64) Gecko/20091221 Firefox/3.5.7 GTB6"
11.11.11.11 - frank [25/Jan/2000:14:00:01 -0500] "GET /1986.js HTTP/1.1" 200 932 "-" "Mozilla/5.0 (Win

[2020-02-07 05:05] adityacs commented on #1583
@cyriltovena Instead of removing the prefix, can we make it user defined like below?

[code]

[2020-02-07 05:25] adityacs commented on #1571
@mrothroc This is already supported. FYR https://github.com/grafana/loki/blob/master/production/helm/loki/templates/service-headless.yaml#L18

https://github.com/grafana/loki/blob/master/production/helm/loki/values.yaml#L232

[2020-02-07 07:02] crossdbpro opened #1655 "How to get the top N row of return data?"
I have a health check system regularly writing the result of checking. The data can be filtered in Loki easily, but I'm having trouble coming up with a command just to show the top one row of latest data.
Please advise.

[2020-02-07 08:07] adityacs commented on #1559
@robshep Allowing all extracted values in a single template stage would not be a good idea as templating is just to manipulate the current extracted values. It would be good to support templating/manipulating the log line in output stage.

@cyriltovena @slim-bean What's your thoughts on this?

[2020-02-07 14:14] slim-bean commented on #1650
For posterity there were a few different discussions about this in a few different slack rooms but out of that came a couple ideas:

* The ability to pass in a list of tenant ID's to the query frontend which would issue these queries mostly like it does now with same parallelization but aggregating the result from all tenants into a single result.
* Run Loki in single tenant and have an upstream p

[2020-02-07 15:43] evgenii-petrov-arrival opened #1657 "Trailing / in storage_config.s3 results in SignatureDoesNotMatch error"
**Describe the bug**
When storage_config.s3 is set to `s3://$region/$bucket/` instead of `s3://$region/$bucket` following error appears in the logs:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start Loki v1.3.0 with storage_config.s3 set to `s3://$region/$bucket/` and ingester.chunk_idle_period to 1m to observe the failure quickly
2. Send some logs using `/api/prom/push`

**Expec

[2020-02-07 16:45] cyriltovena opened #1658 "Querier returns 400 for all type of errors."
Just discovered we return 400 in case of error in the LogQL engine.

I think we should have at least a way to separate limit and bad request types from internal errors which should translate in 500.

or may be create a function in logql `Error(err error) int ` that returns the status code for an error, default to 500

[2020-02-07 16:55] cyriltovena commented on #1658
/cc @owen-d

[2020-02-07 20:41] avarsava opened #1659 "Promtail crash: 'panic: assignment to entry in nil map'"
**Describe the bug**
Promtail crashed while doing nothing, can't tell why. Restarted and it seems fine

**To Reproduce**
Haven't reproduced

**Expected behavior**
For promtail to run indefinitely

**Environment:**
 - Infrastructure: Ubuntu 18.04
 - Deployment tool: systemd service file

**Screenshots, Promtail config, or terminal output**
[code]

Positions file:
[code]

[2020-02-07 20:46] rfratto commented on #1659
I looked into this a little bit and it seems like the only thing that would cause the positions map to be empty is if the positions file had existed at some point but was empty.

That might not entirely address this, but it should help make it more resilient.

[2020-02-07 21:33] cyriltovena commented on #1559
I think it's a fair request we can support at least in template multiple keys.

For the output I don't think we can unless we do a breaking change so I'm less interested by this idea.

All in for more function and properties in template, it can be used for labels as well as entries.

[2020-02-08 16:50] evalsocket commented on #1417
/assign @AartiJivrajani

[2020-02-08 16:50] evalsocket commented on #1417
@AartiJivrajani you can pick it up

[2020-02-08 17:41] rfratto opened #1663 "CI: plugins/manifest is flaking"
Our manifest job on Drone seems to [fail](https://cloud.drone.io/grafana/loki/1900/6/3) unpredictably with the following message:

[code]

Some research of the problem suggested that primary issue is a large number of image tags. We've added a pruning stage to remove master build images after 90 days, but the error is still happening. Help figuring this out would be appreciated!

[2020-02-08 21:02] slim-bean commented on #1663
Do we need to delete old manifests too?

[2020-02-08 21:07] rfratto commented on #1663
I don't think so? If the error really is about too many tags, we're deleting both image and manifest tags with the new prune job. We still have ~800 images for Loki right now based on the last time the prune job ran. It could be that that's still too many or it could also mean the error has nothing to do with the amount of tags. 🤷‍♂

[2020-02-08 21:13] rfratto commented on #1663
[This](https://github.com/estesp/manifest-tool/blob/6e39f8185b2bedca15e61862f5c8c3915194fa51/docker/inspect_v2.go#L60) is where the first error comes from and the second one is coming from [here](https://github.com/estesp/manifest-tool/blob/3d2a946e3ec29c64c0e3e02bb7df2c741046bb28/docker/createml.go#L69).

I was looking into this a few days ago but nothing stood out at me for explaining why we're

[2020-02-09 10:19] adityacs commented on #1559
@cyriltovena If we support multiple keys in template, what would be the new key to the templated values? With the current logic, we reassign the templated value to the same extracted key. In the case of having multiple template keys, we should create new extracted key. We should add a field to existing template `TemplateConfig` fields to label the new templated value.

Is it ok to have above chang

[2020-02-09 19:43] cyriltovena commented on #1559
Sorry I think this wasn't clear.

I think we can support this:

[code]

without breaking the current API or change the current template stage config. Might not be easy but it seems like a nice to have.

[2020-02-09 21:52] #1402 closed

[2020-02-10 13:36] owen-d commented on #1659
@avarsava @rfratto Can we mark this as closed (at least until it pops back up)?

[2020-02-10 13:42] owen-d commented on #1655
Please check out the LogQL [docs](https://github.com/grafana/loki/blob/master/docs/logql.md). If you know the labels that are creating the log lines, it may be something as simple as `{app="foo", env="bar"}`. You can also set the limit parameter if you're only interested in a few lines.

Users generally use grafana to visualize data from loki, but you may also use `logcli`, a CLI which is bundled

[2020-02-10 13:42] #1655 closed

[2020-02-10 13:45] owen-d commented on #1624
Hey, thanks for the details; this is a great candidate for a PR. Would you be interested in contributing this change?

[2020-02-10 13:45] rfratto commented on #1659
@owen-d Good idea. Fixed (maybe) by #1660 :man_shrugging:

[2020-02-10 13:45] #1659 closed

[2020-02-10 14:10] cyriltovena opened #1667 "Promtail metric vector improvement."
As of today we've by-passed a lot of the prometheus golang client to build our own metric engine. This allowed us to build metric on the fly for each stream created by promtail.

However in the long term, streams are volatile (new stream are created and disappear every time a file is rolling) which could cause some memory issues if we were to keep too many metrics for some streams.

Since those me

[2020-02-10 14:11] #1583 closed

[2020-02-10 15:57] cloudam opened #1668 "How to set non-root path for loki"
I installed loki using helm and configured ingress to to port 3100 and path /loki. Now when I access https://myURL/loki is giving 404. It seems loki is trying to basepath as / instead of /loki.

is there a way where I can install loki with defining path (key for path)?

[2020-02-10 18:25] #1352 closed

[2020-02-10 22:13] cloudam commented on #1668
http_path_prefix proeprty is missing in values.yaml

[2020-02-10 22:53] cloudam commented on #144
helm upgrade --install loki loki/loki-stack --namespace=monitoring -server.path-prefix=/loki/
Error: unknown shorthand flag: 's' in -server.path-prefix=/loki/

[2020-02-10 22:56] cloudam commented on #1668
Tried with solution in https://github.com/grafana/loki/issues/144. But its not working too. getting below error

helm upgrade --install loki loki/loki-stack --namespace=monitoring -server.path-prefix=/loki/
Error: unknown shorthand flag: 's' in -server.path-prefix=/sonar/loki/

[2020-02-10 23:11] varac commented on #1575
Same problem here with a `Raspberry Pi 2 Model B Rev 1.1`:

[code]

[2020-02-10 23:18] cyriltovena commented on #1668
Helm doesn't understand loki flags. You have to use extraArgs and because it's a dictionary I don't think you can't use command line with helm (e.g. --set) .

You need to have your own custom helm value override:

[code]

then you can do

[code]

[2020-02-11 00:17] owen-d commented on #1417
I’m guessing we’ll probably need a few variants, perhaps like this:

[code]

This way we have a few structs for different use cases:
1) when we just have a log line
2) When we have a collection of log lines
3) when we have a log line with labels attached
4) when we have a collection of log lines that share labels

[2020-02-11 00:29] owen-d commented on #1621
- [performance] ast mapping, on the fly sharding queries.
- [extension] binary operators & numeric literals in LogQL
- [performance] Result caching

[2020-02-11 00:32] cyriltovena commented on #1417
Package name could be model as suggested by owen

[2020-02-11 00:32] owen-d commented on #1589
This should come very soon:
https://github.com/grafana/loki/pull/1662 will add binary operators and I have another PR ready afterwards to add numeric literals. Then your query should work :)

[2020-02-11 00:34] owen-d commented on #1574
closing this as we now have this added. Reopen if insufficient @cyriltovena :)

[2020-02-11 00:34] #1574 closed

[2020-02-11 00:44] owen-d commented on #1401
I also think this functionality would be nice. Now, to convince someone to do the CI work... 😈 .

[2020-02-11 00:47] owen-d commented on #1387
Oh I like this as a per tenant override. I'm not sure if we've seen this complaint yet, but it seems very reasonable.

[2020-02-11 00:52] owen-d commented on #1356
This seems important. Currently it technically does work correctly from a _semantic_ sense as far as I can tell, but it's more than reasonable to be surprised/frustrated by this.

I wonder if we can have a more robust option for this case.

[2020-02-11 00:57] owen-d commented on #1348
I think I got hit by this in cortex today 😱. AFAICT we have to set the prefix per project. It's not too bad and I like the style. I guess I'll have to figure out how to set this up automatically.

[2020-02-11 01:14] cyriltovena commented on #1520
Fir sure that test is a big one there must be a race somewhere.

[2020-02-11 01:21] cyriltovena commented on #1520
I think the test is using files on the filesystem so may be one file is read before causing the race, I would be ok to not verify order but only assert exact entries expected. We have other tests that cover the ordering.

[2020-02-11 03:18] evalsocket commented on #1588
@CyrilPeponnet Would like to work on this. Can this be assigned to me.

[2020-02-11 04:16] gouthamve commented on #1663
Are we deleting them from the CI machine or are we deleting them from dockerhub? If its dockerhub then it's setting people up for outages, as if we delete the image and if the pod is rescheduled it'll cause an outage. What is the reasoning behind choosing to remove the tags?

[2020-02-11 05:20] CyrilPeponnet commented on #1588
Wrong Cyril :) not the first time though :)

[2020-02-11 05:56] rfratto commented on #1663
@gouthamve They're being deleted from Docker Hub. The reasoning to delete them so far has been to try to get the manifest job to not flake, since some results online implied the number of tags would cause manifest-tool to have issues. We've since deleted more extremely old non-release tags from Loki (which were non-release tags from a non-master branch) and manifest-tool seems to be working consis

[2020-02-11 06:28] tfchan0 opened #1670 "Fluentbit forwards from Journald to Loki experience 'out of order' error"
**Describe the bug**
Fluentbit taking log entries from Journald and output to Loki.
From the logs:
level=error caller=client.go:246 id=0 component=client host=loki:3100 msg="final error sending batch" status=400 error="server returned HTTP status 400 Bad Request (400): entry with timestamp 2020-02-07 14:51:17.592162 +0000 UTC ignored, reason: 'entry out of order' for stream: {job=\"fluent-bit\"},"

[2020-02-11 06:39] gouthamve commented on #1663
Hrm, but what I am afraid is that people will end up pinning the cluster to get a new shiny unreleased feature and will complain after it causes an outage. I don't know of any other project that nukes docker images and this is a very unique case. Can we rather fix the `manifest-tool` rather than work around the bug by nuking the tags?

[2020-02-11 06:51] adityacs commented on #1520
@cyriltovena The entries belong to the same files.

[code]

[2020-02-11 09:04] AndrewNeudegg commented on #1461
Thanks, will close this issue

[2020-02-11 09:04] #1461 closed

[2020-02-11 12:02] cyriltovena commented on #1588
Sure not an easy one but we’ll guide you during review

[2020-02-11 14:34] owen-d opened #1672 "Minimize label hashing in metric queries"
When calculating metric queries, we hash labels per each step _and_ sample due to the [`StepEvaluator`](https://github.com/grafana/loki/blob/master/pkg/logql/ast.go#L239-L244) construct. We should look to minimize this, possibly by changing our `StepEvaluator` interface/implementers, using a shared LRU cache, etc.

Any work here will probably follow https://github.com/grafana/loki/pull/1662

[2020-02-11 15:09] adityacs commented on #1520
I am still confused. If this part of the test(https://github.com/grafana/loki/blob/master/pkg/promtail/promtail_test.go#L218-L222) is working correctly then even this(https://github.com/grafana/loki/blob/master/pkg/promtail/promtail_test.go#L225-L236) should work as well.

If there is no order in processing the entries, maybe something to do with pipeline stage?

[2020-02-11 15:23] fredgate commented on #1624
Sure I can contribute to this.
So the datasources for Grafana should be installed if the sidecar is enabled, even if Grafana is not enabled.

It will introduce a small breaking change as by default Grafana is disabled, and sidecar is enabled.
https://github.com/grafana/loki/blob/50c216a7b4f31ffe559fb2e843ada21af6866ee3/production/helm/loki-stack/values.yaml#L10-L14
With default configuration, actu

[2020-02-11 15:42] owen-d commented on #1624
I think that's reasonable.

[2020-02-11 15:45] cyriltovena commented on #1192
@randomchance you can pipe to promtail now, not sure if it helps a lot but that can be used to transfer data and/or test before transfering.

[2020-02-11 16:45] cyriltovena commented on #1588
This seems more complicated than I thought, we will need to keep backward compatibility. If we don't then rolling out a new version will be difficult as ingester won't allow old distributors message.

We should may be introduce a new field instead:

[code]

Then refactor the code to use `labels` as fallback.

We should also be careful to keep the same label order along the way as this will be a bi

[2020-02-11 16:48] ArthurSens commented on #144
shouldn't it be something like?:

[code]

[2020-02-11 21:51] Dieterbe opened #1676 "logcli --quiet flag misleading"
latest logcli.
--quiet flag promises to "only show log lines".
but this is not true. it still shows all kinds of extra json data I don't want.
the only way i can get "just the log lines" is by adding -o raw
cc @owen-d

[2020-02-12 01:01] cyriltovena commented on #144
It should be `--set loki.extraArgs.server.path-prefix=/loki/` but it doesn't work for object in helm. see https://github.com/grafana/loki/issues/1668#issuecomment-584406225

[2020-02-12 10:19] jackeylhm commented on #1655
Thanks for the reply, Owen

From the document provided, I could not find any way to limit to just one row of returned data , using the latest timestamp. My use case can be quite common, I just need to get the latest data (output) of filtered labels.
Is there command key words similar to top, limit,  or like shell script "| head -n 3"  , or | timestamp=max(ts)    ..and such?

Thanks in advance.

[2020-02-12 10:39] adityacs commented on #1676
@Dieterbe You see this behaviour just when `tailing` logs or both in `tail` and `query`?

[2020-02-12 10:42] Dieterbe commented on #1676
i used logcli query. did not try tail.

[2020-02-12 11:35] adityacs commented on #1676
Yeah, something wrong. Was trying some debugging. Somehow, `--quiet` is not getting parsed correctly

[code]

[2020-02-12 11:49] cyriltovena commented on #1655
You can use the logcli https://github.com/grafana/loki/blob/master/docs/getting-started/logcli.md it contains a way to limit and choose direction (backward recent first), loki support per query limit but Grafana currently set it once in the data source, I believe this will be added soon in grafana.

[2020-02-12 11:59] cyriltovena commented on #1670
Your Loki is rate limited, you should increase those limit see https://github.com/grafana/loki/tree/master/docs/configuration#limits_config it might be the reason for the other errors.

[2020-02-12 12:41] arats-io opened #1679 "invalid memory address or nil pointer dereference"
**Describe the bug**
invalid memory address or nil pointer dereference

**To Reproduce**
Steps to reproduce the behavior:
1. Started Loki in Docker Compose
2. Configured to use AWS S3 & DynamoDb
3. Push operation over REST API with: Labels[CreationTime:1581510766494, CustomIdx1:filter, EventType:MISL_ERROR, Id:02831853-ce05-4c03-a027-d1ef0626abfb, Message:NEW Can't read data Filter 1 - 02831853-ce

[2020-02-12 12:49] arats-io commented on #1679
It's working if changing the following configuration:
`
ingester_client:
  pool_config:
    health_check_ingesters: false
`
But anyway with: health_check_ingesters: true, should not kill the loki server.

[2020-02-12 13:17] owen-d commented on #1672
/cc @cyriltovena

[2020-02-12 13:20] adityacs commented on #1676
Bug is likely in this line https://github.com/grafana/loki/blob/master/cmd/logcli/main.go#L66
`rangeQuery` doesn't parse `quiet` value as `rangeQuery` is only defined with `newQuery() `https://github.com/grafana/loki/blob/master/cmd/logcli/main.go#L30

If we print the value of `*quiet`, it's returning correct value
Will create a PR to fix this.

[2020-02-12 13:21] owen-d commented on #1676
Great @adityacs , thanks!

[2020-02-12 14:54] thomasdraebing opened #1680 "Promtail: Nil pointer reference, when parsing JSON logs"
**Describe the bug**
I am trying to parse JSON logs with a pipeline in JSON. The JSON maps do not all have the same set of keys, e.g. the 'exception'-key is only present in a few logs. When I know want to extract the 'exception'- key-value pair and use it later on in the pipeline, e.g. to set it as a label, Promtail panics when trying to set the label, when the key did not exist in the JSON. Proma

[2020-02-12 15:30] sdwire opened #1681 "Enhancement Request: Index on Cassandra, Chunks on S3?"
Our on-prem datacenter has an S3-compatible object store for cheap long-term storage, but - being an on-prem environment - we don't have AWS's DynamoDB available for indexes.

We'd like to use Cassandra for the indexes and S3(-compatible) Object Storage for chunks. This combination would make Loki the perfect solution for our logs, but the current documentation suggests this isn't currently an opt

[2020-02-12 17:07] cyriltovena opened #1685 "Test panic on `require.Eventuallyf`"
It seems the library we are using has a bug.

[code]

This is the code from the library we are using. The ticker can technically send a message after `checkPassed` is closed.

It seems fixed https://github.com/stretchr/testify/blob/master/assert/assertions.go#L1566:6\\

We should update it.

[2020-02-12 17:09] cyriltovena commented on #1685
We are using this https://github.com/grafana/loki/blob/master/pkg/promtail/targets/syslogtarget_test.go#L90

And it broke 3 build already.

[2020-02-12 20:35] #1667 closed

[2020-02-12 23:07] rhbroberg commented on #1368
As of 2.2.0.3 (42716) DockerDesktop on the mac, or 19.03.5 on linux, neither of these approaches works for me: both of them result in the same error message from 'docker-compose logs':

Attaching to docker-loki_app_1, docker-loki_grafana_1, docker-loki_loki_1
app_1      | WARNING: no logs are available with the 'loki' log driver

I'm using the exact docker-compose file as posted above, and I've tr

[2020-02-13 02:53] #1498 closed

[2020-02-13 02:53] #1491 closed

[2020-02-13 04:38] adityacs commented on #1680
@thomasdraebing Could you please confirm this error without using `DEBUG` mode? You should not get this error if you are not using `DEBUG` mode.

[2020-02-13 08:30] #1463 closed

[2020-02-13 08:32] fredgate commented on #1624
So how to upgrade the chart version. Currently it is `0.31.1`. Should we set `0.32.0`, `0.31.2` (or even `1.0.0`) ?

[2020-02-13 08:36] thomasdraebing commented on #1680
@adityacs that indeed works and promtail sends the logs to loki as expected. However, with debug-logging activated, promtail crashes with the above mentioned exception. So the nil pointer is probably happening, when the debug log message is created, I would guess.

[2020-02-13 08:38] thomasdraebing commented on #1680
AH, I just saw your pull request. Quick work. Note, that this does not only happen, when trying to set labels, but at least also when trying to use the template stage.

[2020-02-13 08:53] adityacs commented on #1680
@thomasdraebing Yeah, you are right. Will look into it

[2020-02-13 10:03] oke-py opened #1690 "Loki Helm Chart document should support Helm 3 ?"
**Is your feature request related to a problem? Please describe.**
Helm 3 is GA now and some command options changed from v2.
For example, the command below fails.

[code]

**Describe the solution you'd like**
The document below should be updated.
https://github.com/grafana/loki/tree/master/production/helm

**Describe alternatives you've considered**
I'm not sure which of Helm v2 or v3 should be m

[2020-02-13 11:28] Sreevani871 commented on #310
Facing the same issue. I didn't understand where to add this line of code `labels = labels.Merge(model.LabelSet{"__name__": model.LabelValue("somename")})` exactly. https://github.com/grafana/loki/blob/master/pkg/promtail/targets/filetargetmanager.go#L171 does not have any labels variable.

[2020-02-13 13:10] vbichov commented on #1192
@cyriltovena  any chance you could share link to the relevant docs?

[2020-02-13 13:20] cyriltovena commented on #1192
https://github.com/grafana/loki/blob/master/docs/clients/promtail/troubleshooting.md#pipe-data-to-promtail

[2020-02-13 13:21] cyriltovena commented on #1624
0.32.0 is fine

[2020-02-13 13:24] #1624 closed

[2020-02-13 15:59] cyriltovena commented on #1588
Also I just realized the `Stream` proto is used by our push API. So this would be a big API break.

[2020-02-13 16:01] owen-d commented on #1658
After a little looking, I believe we should check the error type and 400 if it's a parse error (500 otherwise).

[2020-02-13 16:03] cyriltovena commented on #1658
Yes I think this would be a good first step. To avoid the httpgrpc.Errorf contamination we could use an exposed error we could check against in the querier.

[2020-02-13 16:04] owen-d commented on #1658
logql already uses a `ParseError` type, so it might be as easy as introducing a few type switches

[2020-02-13 17:24] merqurio commented on #1690
It works on Helm 3, the example fails because the `-n` argument was deprecated. Test this, it works for me:

[code]

[2020-02-13 17:33] owen-d opened #1691 "Align model types and proto types when applicable"
I'd really like to see deduplication of code around logproto definitions. I think this is feasible and would help with both code deduping and type conversions.

Should follow https://github.com/grafana/loki/pull/1669

[2020-02-13 17:38] Dieterbe commented on #1676
this is still not fixed.
[code]

for both these lines, the first two columns (i.e. up until `{}`) is not part of the loglines that my app emits.

Am I misinterpreting what "Log line" means? does it not mean the lines emitted by my app?

[2020-02-13 17:40] Dieterbe commented on #1676
this is still not fixed.
[code]

for both these lines, the first two columns (i.e. up until `{}`) is not part of the loglines that my app emits.

Am I misinterpreting what "Log line" means? does it not mean the lines emitted by my app?

[2020-02-13 17:40] owen-d commented on #1691
cc @cyriltovena

[2020-02-13 18:07] #1387 closed

[2020-02-13 18:21] rfratto commented on #1676
@Dieterbe I think in this case, when the help says log line, it's instead referring to the log entry from Loki's perspective (i.e., the combination of the timestamp, the label set, and the raw log line). Given that, `--quiet` seems to be doing the right thing now: it's only showing log entries and not printing the URL used to query Loki and any common labels.

A combination of `--quiet` and `-oraw

[2020-02-13 18:28] Dieterbe commented on #1676
yes --quiet and -o raw combined works well.

i guess throughout the docs and help menus it should be clearer what the different kinds of "log lines" are.

[2020-02-13 19:00] Typraeurion opened #1692 "InvalidParameter: minimum field value of 1"
**Describe the bug**
I’m trying to switch my DynamoDB tables from on-demand to provisioned I/O.  At first I wanted to enable auto-scaling, but besides the fact that the documentation does not give any example of the expected URL format for `applicationautoscaling' (nor s3 nor dynamodb; I had to suss those out from examples of other users’ configs), I read in issue #1267 that autoscaling is not sup

[2020-02-13 19:47] shane-axiom commented on #1502
Thank you stale bot.

@slim-bean Disabling `dir_index` while using loki 1.2.0 seemed to solve this issue for us.

We don't have any performance metrics running for loki other than loki-canary, but it seems fine after this change, and subjectively I haven't noticed any significant difference.

Just upgraded to loki 1.3.0 and haven't tried `target-chunk-size` or `chunk_idle_period` yet, so I can't c

[2020-02-13 19:55] cyriltovena opened #1693 "Improve iterator and compression allocations"
It seems that under heavy load with queries that have a lot of series we are doing a lot of allocations that could be improved by reusing previous iterator and compression reader. We use pool but there is a better than that, we could simply reuse previous iterator for the next one since we run synchronously. (that's what Prom does.)

Screenshot of GC rates during heavy queries:

![image](https://u

[2020-02-13 21:26] avarsava opened #1694 "Explain 'query' vs 'instant-query' in logcli"
The distinction between 'query' and 'instant-query' in logcli, the help output, and the documentation is completely unexplained. Please include explanations in the help output and documentation.

[2020-02-13 21:47] avarsava commented on #1694
@rfratto explained to me the distinction, but it's not clear from the help output and documentation that 'query' returns logs or metrics grouped into small windows of time (like the graph in the Expore pane in Grafana) and 'instant-query' returns metrics (like the table on the same).
It seems to me like I would always want to use 'instant-query'; if I figure a metrics query is a question, then the

[2020-02-14 00:59] owen-d commented on #1694
Thanks - these are very good points. It's unfortunately very easy to forget who we're writing (or not writing) documentation for. I think either @slim-bean or myself are good candidates to add some docs here (because I've worked on LogQL and he's explained different queries 1000x to different people).

[2020-02-14 01:15] owen-d commented on #1681
Hey, this is definitely do-able. You'll want to set up both storage configs (`aws` and `cassandra`). Then in your [schema](https://github.com/grafana/loki/blob/master/docs/configuration/README.md#schema_config) you just set `store: cassandra` and `object_store: s3`.

If you have any trouble let us know (and/or submit a docs PR if it wasn't clear and you get everything working)

[2020-02-14 01:22] cyriltovena commented on #1694
If someone tackle this issue. We should may be link to Ian's talk https://www.youtube.com/watch?v=hTjHuoWxsks `PromQL for mere mortals` very good introduction on this subject.

[2020-02-14 01:27] slim-bean commented on #1502
Thanks for the update @shane-axiom yes this should definitely make it into the docs somewhere I haven't looked to see where.

If you have a chance to add something that would be awesome, else I will try to add something too, for now we'll just kick stale bot and see where we end up in another 30 days :)

[2020-02-14 07:56] oke-py opened #1696 "loki/promtail Helm Chart shows invalid notes"
**Describe the bug**
When loki/promtail is installed, it shows invalid notes.
The last 2 lines are wrong.
[code]

**To Reproduce**
As mentioned above.
Version is like below.
[code]

**Expected behavior**
It shows notes like this.
[code]
**Environment:**
 - Infrastructure: [e.g., Kubernetes, bare-metal, laptop] minikube, macOS Catalina 10.15.2
 - Deployment tool: [e.g., helm, jsonnet] helm

**Scree

[2020-02-14 11:11] slim-bean commented on #1483
I think this is related to another issues and should be fixed

[2020-02-14 11:42] DenisBiondic commented on #137
This is kind of a deal breaker for us because:
- we advise all the teams to log in a structured manner in JSON (but each team defines own format, no need for central format)
- we don't want to manage a centralized configuration for everyone where we transform all JSON formats, which means we push this responsibility to "query" side. This approach is already supported by many logging solutions, wit

[2020-02-14 12:14] nt-rbmk opened #1698 "Streaming data: Wrong sorting"
Hello,

first of all i` d like to congratulate you for the good job.

I popped up to a weird behavior while playing around with grafana-loki-promtail:
Logs seem not be sorted correctly, because **ts** under **Parsed fields** takes some time ~10m to get the proper value (from UTC->EET)
I` m using pipeline(s) in promtail to pass the proper timestamp.

**Environment:**
grafana: 6.5.1
loki: v1.3.0
pro

[2020-02-14 12:22] nt-rbmk commented on #1698
After some time, the ts of the following log was converted in a mysterious way to the proper one.
[code]

![stream3](https://user-images.githubusercontent.com/61050727/74531472-6552af00-4f35-11ea-8ab1-2c48841edad7.png)

[2020-02-14 14:20] shokada opened #1700 "Loki Canary should have a better way to be suspended"
For details, please refer to https://github.com/grafana/loki/pull/1695

[2020-02-14 14:40] slim-bean opened #1701 "Improve caching strategy"
It would be nice to modify the Tiered cache code and some other bits in cortex to allow a more complex caching strategy.

Mainly, when a chunk is written it's stored in cache, we would like to keep _x_ amount of data in this cache for general querying, assuming a lot of queries will be within say the last hour (_x_ == 1 hour in this case).

However when people query older data, say from a week ago

[2020-02-14 15:45] cyriltovena opened #1702 "Frontend 500 on merging response."
This errors seems to happen `merging responses requires at least one response`. Not sure how but we should find out. I've seen it once too.

/cc @owen-d if you have some time next week.
/cc @gouthamve Do you have more context ?

[2020-02-14 16:03] #1559 closed

[2020-02-14 18:14] #1696 closed

[2020-02-14 18:50] fl-max commented on #1277
@roidelapluie Were you able to get it built? Seems the [repo](https://github.com/grafana/loki/tree/master/cmd/fluent-bit) is missing some files (e.g. `Makefile`).

I've added a Makefile:
[code]

and a step to get the dependencies:
`cd /src/loki; go get ./`

But I get the following error:
[code]

Am I missing something?

[2020-02-14 19:05] fl-max commented on #1277
Never mind, my mistake. found the proper Makefile in the root of this repo. The [Dockerfile](https://github.com/grafana/loki/blob/master/cmd/fluent-bit/Dockerfile#L2) should be modified to:
`COPY ../../ /src/loki` to include the root of this repo.

[2020-02-14 19:22] cyriltovena commented on #1691
Which duplications ? Something we should be careful is currently our push API uses the same logproto definitions, so changing it is an API break.

[2020-02-15 00:55] cyriltovena commented on #1698
Have you check using the API if the timestamp are correct? I’m asking to triage the issue, not sure if this a grafana or loki issue.

Also you can cat your raw log to promtail locally in dry mode it show the timestamp it will send.

See https://github.com/grafana/loki/blob/master/docs/clients/promtail/troubleshooting.md#dry-running

This would help you verify promtail parsing is working as expecte

[2020-02-15 00:59] cyriltovena commented on #1698
At least on the first look, I’d say it’s a UI issue, let us know.

[2020-02-15 13:51] #1458 closed

[2020-02-15 13:58] oke-py commented on #1690
thx, but what I'd like to know is whether the document should be updated or not.

[2020-02-16 03:51] #1487 closed

[2020-02-16 12:54] HaveFun83 commented on #1575
@slim-bean any news with the issue here?

[2020-02-16 17:03] Konpon96 commented on #1503
I've analyzed the same code part too, adding the period option for both index and chunks made it work!

The documentation doesn't make this behavior clear though:

[code]

I'm not sure but from what I remember from analyzing the Cortex's source code, the Period field is an integer, which in Go is 0 by default. In such case the `default = 168h` part from the docs disagrees with the `config.IndexTab

[2020-02-17 02:54] #1422 closed

[2020-02-17 09:08] nt-rbmk commented on #1698
Hello @cyriltovena,

thank you very much for the rapid response.
Please find attached the debug.

Best,
[debug_promtail.txt](https://github.com/grafana/loki/files/4212724/debug_promtail.txt)

P.S. i changed the **chunk_idle_period** value in loki config (from 5m -> 1m) and now is takes ~2m to get the proper value.

[2020-02-17 11:01] adityacs commented on #1098
@cyriltovena I started looking into this. It's trickier than I thought. Could you please give me some clue on which part of the code is downloading the chunk and iterating over the logs. I initially thought `len(h)` here https://github.com/grafana/loki/blob/master/pkg/iter/iterator.go#L73 should give the number of log lines to iterate. My understanding was wrong. Kindly give some clue to proceed o

[2020-02-17 11:45] cyriltovena commented on #1098
The statistics added recently cover this. Sorry forgot to close.

[2020-02-17 11:45] #1098 closed

[2020-02-17 13:04] cyriltovena commented on #1698
Can you share you promtail config too please ?

[2020-02-17 13:05] cyriltovena commented on #1503
I would definitively add a paragraph there about this configuration.

[2020-02-17 13:21] adityacs commented on #1098
@cyriltovena Sorry, I referenced wrong issue

[2020-02-17 13:21] adityacs commented on #1252
@cyriltovena I started looking into this. It's trickier than I thought. Could you please give me some clue on which part of the code is downloading the chunk and iterating over the logs. I initially thought len(h) here https://github.com/grafana/loki/blob/master/pkg/iter/iterator.go#L73 should give the number of log lines to iterate. My understanding was wrong. Kindly give some clue to proceed on

[2020-02-17 14:17] #1589 closed

[2020-02-17 14:20] cyriltovena commented on #1252
This is not an easy task and an urgent one.  I'd suggest you look at another issue.

I'd suggest you look at those may be ?

https://github.com/grafana/loki/issues/1348
https://github.com/grafana/loki/issues/1397
https://github.com/grafana/loki/issues/1604
https://github.com/grafana/loki/issues/1524
https://github.com/grafana/loki/issues/1346

[2020-02-17 15:03] nt-rbmk commented on #1698
Sure!
[promtail-cfg.txt](https://github.com/grafana/loki/files/4214401/promtail-cfg.txt)

[2020-02-17 16:12] adityacs commented on #1252
@cyriltovena Sure. Will look into other issues you mentioned. Still, `indicate if there is more logs` would be an interesting task to work on 😃

[2020-02-17 16:34] adityacs commented on #1604
@cyriltovena This is already fixed here #1470
@Estrax Which version of loki you are using?
Example
[code]

[2020-02-17 16:58] #1680 closed

[2020-02-17 20:38] bastjan commented on #577
I've hacked together a rough prototype of the delete API after seeing cortexproject/cortex#2103 and blowing up my index with an erroneously parsed timestamp.

Is anyone working on the delete API on the Loki team? I could finish up my prototype over the next 2-3 weeks if needed.

[2020-02-17 21:15] sandeepsukhani commented on #577
Not yet. I appreciate your efforts! We would like to get it working for Cortex and then reuse most of the code in Loki.
Also out of curiosity, was the issue that you were facing introduced by code from that Cortex PR? I would like to fix it if it is.

[2020-02-17 22:37] amiga23 opened #1709 "Promtail does not fully use http_path_prefix"
**Describe the bug**
when setting http_path_prefix e.g. "/promtail/"
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start promtail docker image with http_path_prefix configured as "/promtail/"
2. curl promtail endpoint with /promtail/

**Expected behavior**
Promtail should answer with redirect to:
/promtail/targets
but it does redirect to /targets
so http_path_prefix seems to be impl

[2020-02-17 22:59] Estrax commented on #1604
@adityacs always the current master :) this particular thing was noticed in 1.3.0. We already took care of that on a Grafana side, I just pointed it out that it might be worth checking on a Loki side again.

[2020-02-17 23:54] khaines commented on #1575
This is also occurring on Pi 3 Model B+ k8s nodes (using docker)

[2020-02-18 06:54] avii-tectonic commented on #1011
@thedeveloperr - Any progress done with this?
Any help with this issue will be highly appreciated.

[2020-02-18 07:08] thedeveloperr commented on #1011
I will be working on this over the weekends. Sorry for delay. I am new to
Golang so learning it along the way.

On Tue, 18 Feb, 2020, 12:24 PM avii-tectonic, <notifications@github.com>
wrote:

[2020-02-18 07:26] bastjan commented on #577
My issue was unrelated. I parsed the "time since boot" counter from the linux kernel log as label by accident.

The cortex PR allowed me to use the new `storage.DeleteSeriesIDs`. Which made it quite easy to implement the remainder :)

[2020-02-18 13:54] brunowowk opened #1711 "[docker-driver] Allow passing pipeline config inline"
**Is your feature request related to a problem? Please describe.**

I'm using the docker logging driver on a swarm setup. I make remote deploys using `docker stack deploy`, so the images are fetched from my docker registry.

The problem is the plugin only allows specifying the pipeline using a file, and the file should be available on the host running the container. In my setup the pipeline file i

[2020-02-18 21:19] #1348 closed

[2020-02-19 00:02] cyriltovena opened #1714 "Querier errors cleanup"
While working on https://github.com/grafana/loki/issues/1658

I realize there is a lot of other places where we don't send the right status code.

On top of this our errors are not consistent sometimes we use httpgrpc, sometimes we don't. Which leds to different type of error message structure.

Question should we come up with a json structure for error ? is that an API break ? at the very least w

[2020-02-19 02:10] yang3808282 opened #1715 "where Loki and promtail log file"
where is the file of loki.log and protail.log , i can not find it

[2020-02-19 03:05] cyriltovena commented on #1715
Hey 👋,

they log to stdout (which can be redirected to a file) so it depends on how you run them like almost any software. How do you run Loki and Promtail ? Kubernetes ? Linux systemd ? ./loki ?

[2020-02-19 03:33] yang3808282 commented on #1715
yep,i run it on linux system,like this:

[2020-02-19 03:36] yang3808282 opened #1716 "another question：How loki achieves clustered deployment"
How loki achieves clustered deployment，Where to fill in the clustered deployment configuration

[2020-02-19 04:18] adityacs commented on #1397
@cyriltovena @davkal The code here https://github.com/weaveworks/common/blob/master/tracing/tracing.go#L19 is doing `os.Exit(1)` which fails loki as well on jaeger not being available.
How should we see this for loki?
Currently we don't have any retry logic to connect to jaeger when it comes up. So, when we start loki without jaeger being present and later when jaegar comes up, loki won't connect

[2020-02-19 18:10] #1225 closed

[2020-02-19 18:10] #1319 closed

[2020-02-19 23:19] oliverfei opened #1720 "Signed helm charts"
**Is your feature request related to a problem? Please describe.**
We would like to verify the integrity of the helm charts we are installing but cannot do so because the loki helm charts are not signed.

**Describe the solution you'd like**
We would like for the loki helm charts to be signed and public key published as per https://helm.sh/docs/topics/provenance/

**Describe alternatives you've co

[2020-02-20 12:34] sfro commented on #1159
We are having the same issue with version v1.3.0. Currently playing around with some of the parameters mentioned in this issue.

[2020-02-20 13:10] sfro opened #1722 "Table-manager endpoint /ready gives 404"
**Describe the bug**
In v1.3.0 table-manager `/ready` endpoint was giving 404, which meant that k8s would restart the pod. We are using `/metrics` now as a readiness probe.

**To Reproduce**
Steps to reproduce the behavior:
1. Started Loki in microservices mode v1.3.0
2. curl `/ready` endpoint for table-manager pod

**Expected behavior**
Receive status code 200.

**Environment:**
 - Infrastructure

[2020-02-20 18:18] shughes-uk opened #1723 "Allow specifying multiple configuration files in priority order"
We deploy loki as part of our application, and currently have no way set up loki with defaults that make sense for our app, while also providing a method for individual customers to override certain settings according to their needs.

Customers can change our 'sensible defaults file', but we either need to write a complex configuration migration script to preserve their changes each time we upgrad

[2020-02-20 18:40] cyriltovena commented on #1723
Have you considered an init container with jsonnet merging since this seems more like a configuration problem ?

Loading multiple configuration files seems to be a fine idea, but I don't think we'll have the bandwidth right now to work on this, of course contributions are more than welcome and we can assist you there.

[2020-02-21 01:43] cyriltovena opened #1724 "CI steps to push fluentd image with Loki output plugin"
**Is your feature request related to a problem? Please describe.**

Currently we have a docker image that embed fluentd and our Loki plugin. But we don't provide a built version that can be easily be pulled.

**Describe the solution you'd like**
We should build a new image on each merge to master, like we do for other docker images.

Bonus point it would be great to also automatically push to gem

[2020-02-21 01:45] cyriltovena commented on #1724
FYI we already have a step for fluent-bit that could may be re-used.

[2020-02-21 02:06] shughes-uk commented on #1723
We're on just docker and init containers seem to be a kube thing so we can't use them unfortunately. I'll see if i can find someone decent at Go to submit a PR.

[2020-02-21 02:12] cyriltovena commented on #1723
In the meantime you could run something to merge default+custom config in the entry point of docker by reusing our image.

I suggested jsonnet but whatever works. There's a lot of tool out there to merge yaml.

[2020-02-21 03:11] adityacs commented on #1397
@cyriltovena Kindly let me know your thoughts on this

[2020-02-21 10:47] #1525 closed

[2020-02-21 10:47] #1527 closed

[2020-02-21 13:27] cyriltovena commented on #1701
I think this is on point. The current strategy (mixing query and ingestion cache) doesn't work well for Loki, cause one can totally erase the other due to the size.

I think we have to have a cache per tenant also. Currently a single tenant can take over the full cache cluster.

Now the question is how do we do that cause this code is deep into Cortex.

/cc @gouthamve We need your input here.

[2020-02-21 13:52] till commented on #1547
I can confirm that this was _something_ related to the HV we are running on and the virtualisation technology we use. The system effectively killed everything doing a lot of i/o. Closing this. Thanks for the help.

[2020-02-21 13:52] #1547 closed

[2020-02-21 13:52] slim-bean commented on #1700
Currently we have a script that iterates over the kubernetes contexts on your machine and sends a SIGINT to all the canaries, this is both slow and error prone depending on who runs it and what contexts they have access to:

[code]

I'm not sure the best way to handle this, it would be nice to be able to do it from a centralized manner, even from Loki, but the challenge here is usually that when y

[2020-02-21 14:22] till opened #1725 "Provide Changelog for 1.3.0"
**Describe the bug**
Changelog does not include 1.3.0.

**To Reproduce**
https://github.com/grafana/loki/blob/v1.2.0/CHANGELOG.md

**Expected behavior**
A description of all changes, and maybe upgrade paths (e.g. what happens when you change compression, etc..)

[2020-02-21 15:19] slim-bean commented on #1547
Thanks for the follow up! Glad you were able to figure out the cause!

[2020-02-21 15:20] ebini opened #1726 "loki service monitor scrapes loki twice (headless and normal service)"
**Describe the bug**
i use helm in a monitoring room with prometheus-operator and enabled serviceMonitor.
It seems that the selector  selects the headless and the normal service:
Same IP, Port, but with service=loki and service=loki-headless

**To Reproduce**
* a namespace monitoring with promtheus-operator
setup loki with helm:

`loki:
  enabled: true
  serviceMonitor:
    enabled: true
    addit

[2020-02-21 16:17] #1524 closed

[2020-02-21 22:47] #1365 closed

[2020-02-21 22:56] mailtosmyk opened #1727 "/api/prom/push produce error 400 with 'unexpected IDENTIFIER'"
**Describe the bug**
When trying to submit stream thru api endpoint "/api/prom/push" loki return error code 400 with not helpful message "parse error at line 1, col 1: syntax error: unexpected IDENTIFIER"

**To Reproduce**
1 clone grafana/loki from https://github.com/grafana/loki
2 Run docker-compose up
3 Using chrome plugin ARC create POST request with based on documentation from https://github.c

[2020-02-21 23:20] cyriltovena commented on #1727
The error should be better, the label field is incorrect. See https://github.com/grafana/loki/blob/master/docs/api.md#examples-8

Also I recommend you to use the v1 API see the link above.

[2020-02-22 02:19] talham7391 commented on #1727
I can take a look at this!

[2020-02-22 02:23] cyriltovena commented on #1727
Sure I'll feed you with more info on how to on Monday!

[2020-02-23 00:10] m-mccormick opened #1729 "Regex Label Name Filtering"
**Is your feature request related to a problem? Please describe.**
Querying multiple labels simultaneously.

**Describe the solution you'd like**
If I have multiple labels, for example:
- item00A
- item01A
- item00B
- item01B

It would be beneficial to be able to query them using regex such as:
- `{item*="value"}` to select:
  - item00A
  - item01A
  - item00B
  - item01B
- `{item*A="value"}` to s

[2020-02-23 12:47] cyriltovena commented on #1729
Thanks for the issue @m-mccormick.

Have you thought about consolidating those label names into one ? At least from your example it is one of the solution I'd suggest.

[2020-02-23 16:34] #1440 closed

[2020-02-23 20:16] m-mccormick commented on #1729
@cyriltovena
I've been digging trying to figure out how to combine values into the same field but I'm having trouble coming up with an appropriate query. Here is how I'm attempting to approach combining values into a single label:

Let's say I have a label `info`:
![image](https://user-images.githubusercontent.com/12577607/75119220-c4f43d00-564e-11ea-9a68-176cfb393d7f.png)

So, I effectively have

[2020-02-23 20:30] cyriltovena commented on #1729
What I was saying is you decide how log label s are populated in Loki, either via relabeling or via pipeline stages.

You should try to rework that label to have each index with their respective value.

info_1 info_2, ...

See those for manipulating labels:

https://github.com/grafana/loki/blob/master/docs/clients/promtail/configuration.md#pipeline_stages

https://github.com/grafana/loki/blob/mast

[2020-02-23 21:09] m-mccormick commented on #1729
I understand. In the case of a tree structure of labels, how would one traverse the tree, especially if it has any depth? For example:

- info_1_1_1
- info_1_1_2
- info_1_2_1
- info_1_2_2
- info_2_1_1
- info_2_1_2
- info_2_2_1
- info_2_2_2

[2020-02-24 13:08] cyriltovena commented on #1575
@rfratto not sure if you have time to also look at this, I think @slim-bean has been very busy lately.

[2020-02-24 13:16] #1658 closed

[2020-02-24 13:20] #1679 closed

[2020-02-24 14:08] rfratto commented on #1575
I'm planning on taking a look at this sometime this week. I bought a Raspberry Pi 4 to investigate this a few weeks ago and installed a 64-bit OS to reproduce. It turns out that this is only happening on 32-bit installs, so I need to install a different image and try again.

[2020-02-24 14:26] Pixelstudio commented on #1727
Hi,
Iv encoured the same error using the following json, im using the new api : loki/api/v1/push

{"streams": [{ "labels": "{foo=\"bar\"}", "entries": [{ "ts": "2018-12-18T08:28:06.801064-04:00", "line": "fizzbuzz" }] }]}

The error is :
parse error at line 1, col 2: syntax error: unexpected }, expecting IDENTIFIER

[2020-02-24 16:55] cyriltovena commented on #1727
I’m sorry you’re encountering this again, the v1 api has a different label format.

See https://github.com/grafana/loki/blob/master/docs/api.md#examples-4

Basically now it’s a map before it was a string.

[2020-02-24 19:15] vijay-jindal opened #1734 "Timeout error while trying to store Indexes in Cassandra"
**Bug Description**
Hi,
I am trying to store indexes on cassandra, but I keep getting this error :

**level=error ts=2020-02-24T18:54:52.789922236Z caller=main.go:66 msg="error initialising loki" err="error initialising module: table-manager: gocql: unable to create session: unable to discover protocol version: dial tcp x.x.x.x:9042: i/o timeout"**

My configuration for Cassandra is as follows :
[

[2020-02-24 21:59] cyriltovena commented on #1727
@talham7391 It's happening here: https://github.com/grafana/loki/blob/master/pkg/distributor/validator.go#L60

I would change add more context to the error. Something like

[code]

[2020-02-25 00:25] cyriltovena commented on #1397
I think we should change the common project to return an error and os.Exit, this consumer of the API can decide what to do.

[2020-02-25 04:44] vijay-jindal commented on #1681
Hi,
I am trying to store indexes on cassandra, but I keep getting this error :

**level=error ts=2020-02-24T18:54:52.789922236Z caller=main.go:66 msg="error initialising loki" err="error initialising module: table-manager: gocql: unable to create session: unable to discover protocol version: dial tcp 192.168.0.100:9042: i/o timeout"**

My configuration for Cassandra is as follows :
[code]
I tried

[2020-02-25 05:48] vijay-jindal commented on #1734
I resolved this issue. The timeout issue was caused because timeout and connect_timeout of Loki was set at 6s, while the timeout in Cassandra was set at 20s. On setting timeout and connect_timeout of Loki to 20s the issues were resolved. The timeout on both ends must be equal to avoid the issue in future.
Thanks.

[2020-02-25 05:48] #1734 closed

[2020-02-25 06:37] jgehrcke commented on #1725
The `CHANGELOG.md` file on the `1.2.0` branch will never contain a changelog for the 1.3.0 release.

Have a look at the `master` branch for now! https://github.com/grafana/loki/blob/master/CHANGELOG.md

You will also find release notes on https://github.com/grafana/loki/releases.

[2020-02-25 06:42] jgehrcke opened #1737 "metric loki_request_duration_second: add tenant ID dimension"
Thanks for the nice overview in https://github.com/grafana/loki/blob/master/docs/operations/observability.md#observing-loki.

I see that `loki_request_duration_second` is emitted by all components. It has quite some cardinality already, and can seemingly be used to get insight into many important aspects of HTTP request handling. Just to name an example, it can be used to visualize the rate of 204

[2020-02-25 14:46] slim-bean commented on #1575
@rfratto and I spent most of the day yesterday looking at this, and it's still not entirely clear why this is happening.  From what best we can tell the issue lies in the arm image being used by drone to build the image.  Looking at the drone logs, it looks like they are using an arm v8 architecture image for running what they describe as 32bit arm builds.  It's hard to get much detail on this fro

[2020-02-26 07:04] till commented on #1725
Ah, the link to the changelog in the 1.3 release notes is wrong. Maybe that can be fixed.

[2020-02-26 12:39] shokada commented on #1700
There seems to be a way to scale down the daemonset using the nodeSelector with any non-existing label.
https://stackoverflow.com/a/57533340

What do you think about this way?

[2020-02-26 17:22] talham7391 commented on #1727
Okay great, will push a PR soon!

[2020-02-26 18:51] cyriltovena opened #1747 "Apply request length limit to label and series queries."
**Is your feature request related to a problem? Please describe.**
Currently `max_query_length` limits is only apply to query_range.

**Describe the solution you'd like**
We should apply this limit to labels and series API too.

[2020-02-26 19:24] gibbonsjohnm commented on #343
Where does this currently stand?

[2020-02-27 08:50] varac opened #1751 "Provide logcli docker image"
**Is your feature request related to a problem? Please describe.**

I'd like to install logcli as a docker container, because installing binaries on some OS  (i.e.  k3os/coreos) is discouraged in favor of container installations.
However. the official [grafana/logcli](https://hub.docker.com/r/grafana/logcli/tags) is lacking tags and is therefore not usabale. I also don't like to install untrusted

[2020-02-27 08:53] #1267 closed

[2020-02-27 13:47] cyriltovena opened #1753 "We should document how to do alerting with Loki/Promtail"
**Is your feature request related to a problem? Please describe.**

We plan to do ruling and alerting like Prom with Alertmanager, but in the meantime we have multiple ways to already alerts on logs and I think we should document it.

This include alerting with Promtail/Alertmanager using stages or alerting with Grafana using Loki as Prometheus datasource.

We should also explain that you can use

[2020-02-27 17:10] rfratto opened #1754 "Promtail: allow single job with multiple service discovery elements"
Users can't configure a single job with two different service discovery entries:

[code]

When using this config, Promtail will only use the latest element in the array. I believe
[these lines](https://github.com/grafana/loki/blob/8df56cea6e3830a505d7f455894cd72c474f4c50/pkg/promtail/targets/filetargetmanager.go#L111-L122) are the cause.

[2020-02-27 19:53] #1557 closed

[2020-02-28 11:06] wardbekker commented on #1753
Video that illustrates the Grafana/Loki/Prometheus combo: https://www.youtube.com/watch?v=GdgX46KwKqo

[2020-02-28 12:49] optplx commented on #1462
hi @Eraac, I have the exact same issue, did you find any solution about it?

[2020-02-28 13:39] cyriltovena commented on #1702
![image](https://user-images.githubusercontent.com/1053421/75553124-c6828400-5a05-11ea-9451-3216fbab1a41.png)

Look what I found today ! Going to fix this, somehow we get 0 interval and that's bad !

[2020-02-28 16:34] cyriltovena opened #1759 "Slow queries log doesn't contains org id or traceid."
**Describe the bug**
We should log the trace id and org id along with all the informations we already have:

`level=info ts=2020-02-28T13:00:26.033764377Z caller=metrics.go:83 latency=slow query="sum(rate({namespace=\"default\"}[5m])) by (job)" query_type=metric range_type=range length=1h0m0s step=14s duration=10.711848032s status=200 throughput_mb=1.2469241 total_bytes_mb=13.3568624`

Not sure ye

[2020-02-28 19:19] slim-bean commented on #217
Closing as a duplicate or closely related to #91

[2020-02-28 19:19] #217 closed

[2020-02-28 19:24] slim-bean commented on #342
Closing this, the difficulty in implementing this is high, the solution suggested by @VasylSamoilov seems more feasible.

[2020-02-28 19:24] #342 closed

[2020-02-28 19:33] Jiawei0227 opened #1760 "S3 bucket prefix should be configurable"
It seems we only support the pointing bucket name in S3. However, we need should also support custom prefix of where the chunks go into the S3 bucket.

Right now they are all under "fake", which is unpleasant.

[2020-02-28 19:52] slim-bean commented on #808
Generally we would suggest at least tailing the promtail log to avoid this issue.

If you don't want to do this I suggest just removing the readiness probe entirely.

[2020-02-28 19:52] #808 closed

[2020-02-28 20:05] #977 closed

[2020-02-28 20:07] slim-bean commented on #1007
There are advantages to doing this on the write path which hasn't been done yet, mainly because we would like to change the labels definition in the proto format but not have to change the external API.  If we decouple this we can change the internal use and leave the API, or we can change the API....

[2020-02-28 20:16] slim-bean commented on #1015
I don't think this needs to be kept open as an issue, we always want to have good test coverage and this is an ongoing conversation.

[2020-02-28 20:16] #1015 closed

[2020-02-28 22:49] mwarchut-monsoon opened #1761 "Stop tailing files after no updates to them for X minutes"
It would be great if there was a setting so that promtail would stop tailing files after they not received any entries for X amount of time.    I don't see anything like that in here.  Our log collection server has literally 100's of thousands of files and as it sits promtail crashes if it tries to tail too many files.

[2020-03-01 17:21] #1685 closed

[2020-03-01 22:36] wapmorgan commented on #1296
So, is there any possibility for mounting config?

[2020-03-02 13:27] kylebrandt opened #1763 "License: Template not filled out"
At https://github.com/grafana/loki/blob/master/LICENSE#L190

`Copyright [yyyy] [name of copyright owner]`

[2020-03-02 14:25] nike61 opened #1764 "Template stage does not work with partially filled json log messages"
**Describe the bug**
Template stage does not work if log message does not contains all json expressions that json stage contains.

**To Reproduce**
Steps to reproduce the behavior:
1. Stage yaml file:
[code]
2. Send log from inside the container (this message is partially filled because it doesn't contain Username, HttpMethod, HttpResponseStatus, CustomFieldString and CustomFieldJson
[code]
3. The

[2020-03-02 14:50] adityacs commented on #1764
@nike61 Could you confirm which version of Loki you are using? Are you using master code?

[2020-03-02 14:56] nike61 commented on #1764
@adityacs I use docker image:
REPOSITORY                             TAG                 IMAGE ID            CREATED             SIZE
grafana/loki                           latest              dc361eb47438        11 days ago

[2020-03-02 18:22] #1764 closed

[2020-03-02 18:28] #1727 closed

[2020-03-03 01:29] slim-bean commented on #1584
@cyriltovena I don't think we want this closed yet do we?

[2020-03-03 03:17] yang3808282 opened #1768 "Loki clustered deployment configuration"
When I deploy a loki cluster, do each component only need to configure its own config, or all of them? For example, the configuration file of the ingester component only needs to write the ingester_config part, or do I need to configure server_config, chunk_store_config, storage_config, etc.
![image](https://user-images.githubusercontent.com/40430624/75740268-2c427900-5d42-11ea-95c9-af7b6672573e.p

[2020-03-03 11:26] markfermor opened #1769 "Can't access http://slack.raintank.io/ to join the #loki slack channel as per Readme"
**Describe the bug**
Was hoping to chat about Loki in the slack channel but doesn't seem to be possible to get logged in

**To Reproduce**
Go to http://slack.raintank.io/ as per docs

**Expected behavior**
Not sure, a method to sign-up to grafana slack?

**Environment:**
NA

**Screenshots, Promtail config, or terminal output**
If applicable, add any output to help explain your problem.

[2020-03-03 12:20] adityacs commented on #1754
@rfratto This is a bug coming from here https://github.com/prometheus/prometheus/blob/master/discovery/manager.go#L301. We are missing `Source` value in our configs. Which in turn ends up in the last element of the array.
Trying to configure with `source` value gives Unmarshal error.

I am working to fix this.

[2020-03-03 12:48] slim-bean commented on #1769
We'll take a look, thanks @markfermor

[2020-03-03 12:50] slim-bean commented on #1768
The only need config sections that are relevant to them, however, in some cases they share the same config (for example the lifecycle section with the ring information is used by multiple components).

We typically deploy it as one config file and share that same file with each component

[2020-03-03 12:53] slim-bean commented on #1760
`fake` is the tenant ID, when running Loki in a multi-tenant configuration this is replaced by a unique tenant id.  When auth is disabled it defaults to fake.

Is there a use case you have for a custom prefix or do you just not like the word 'fake'?

[2020-03-03 13:01] slim-bean commented on #1737
We've discussed this before and the problem as you mention is cardinality, adding a tenant ID to a histogram would cause an exponential explosion of metrics, if you have 1000 tenants in a system multiply by what looks like 15 buckets in that histogram you would be exporting 15,000 metrics....

Also, generally speaking it's not often useful to know what the individual latency for a tenant is, that

[2020-03-03 14:56] rfratto commented on #1769
Thanks for the heaps up @markfermor, the link should work again. I've also updated the readme to point to https://slack.grafana.com, although both links are valid and let you join the same Slack.

[2020-03-03 14:56] #1769 closed

[2020-03-03 16:03] markfermor commented on #1769
Many thanks :)

[2020-03-03 16:10] #1754 closed

[2020-03-03 17:08] nsherry4 opened #1772 "Loki query returns empty"
**Describe the bug**
`/loki/api/v1/query` always returns no data `{"status":"success","data":{"resultType":"streams","result":[]}}` but other URLs like `/loki/api/v1/query_range` or `/api/prom/query` return data properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Installed and started Loki v1.3.0
2. Waited for data to be populated from logs
3. Query: seems to be anything aimed at this

[2020-03-04 06:23] yang3808282 commented on #1768
I got it,can you share with your confug file? I can learn from it. I also want to ask another question, In the cluster deployment process, does each loki machine deploy a consul server, do I need to deploy a consul client?

[2020-03-04 14:48] #1464 closed

[2020-03-04 16:25] adityacs commented on #1761
@slim-bean Thinking on this feature. If we stop tailing a file after X minutes, later when there is an update to the file after X+Y minutes, we won't be tailing the new updates of the file since we already stopped it. So, it's similar to removing the file.

Suppose user wants to tail the file again. Loki will start reading the file from the beginning which is kind of duplicate.

Do you think this

[2020-03-05 11:48] Robikrom commented on #1365
The same issue. v1.16.2

[2020-03-05 18:09] #1592 closed

[2020-03-05 19:09] #1595 closed

[2020-03-05 20:11] rfratto commented on #1594
Reopening and marking as keepalive, I think this is important and should be fixed.

[2020-03-05 21:00] mwarchut-monsoon commented on #1761
The problem I am running into is that we have too many files for promtail to tail.. Maybe minutes is too granular and it should be hours or days.   our logs have a max size and when they reach it a new one is started and the previous one closed permanently.   Logstash has a feature like this.

[2020-03-06 11:51] candlerb opened #1778 "Doc: conflicting schema version recommendation"
**Describe the bug**
The documentation is inconsistent as to whether new installations should use v10 or v11 schema.

**To Reproduce**
At https://github.com/grafana/loki/blob/master/docs/architecture.md it says:

But in the sample loki configuration at https://github.com/grafana/loki/blob/master/cmd/loki/loki-local-config.yaml it says

**Expected behavior**
If the current schema recommendation is

[2020-03-06 12:54] slim-bean opened #1779 "Interval parameter for log queries"
Recently I created #1773 and after merging realized that Grafana defaults to sending a `step` with log queries.  I would consider this a bug but be that as it may keeping #1773 would result in some pretty nasty unexpected behavior when using Grafana against Loki (even if we fixed Grafana old versions would still be sending this parameter)

#1773 was reverted by #1777 however I would still like to

[2020-03-06 13:02] slim-bean commented on #1779
I've been waffling about the idea of supporting both actually, that way if clients want to be able to issue queries using `step` as intended for both log and metric queries they can do so by setting the header correctly.  I worry that supporting both would be confusing however

[2020-03-06 13:07] slim-bean commented on #1778
hey @candlerb thanks for bringing this up.

v11 is the recommended schema, would you be interested in a PR to fix the docs?

[2020-03-06 13:35] rfratto commented on #1779
Personally between the two, I think the header is the right way to go. In general, I agree that setting a header is a little tedious but tooling helps with making this easy. Arguably, I'd say URLs are already not easy to write if your query is sufficiently complicated.

Another option might be to introduce the functionality as another API endpoint, something like `/loki/api/v1/query_logs` (as oppo

[2020-03-06 21:06] #1778 closed

[2020-03-07 12:42] venkat424 commented on #333
Hi , how do you scrape docker logs , is it required to use sudo somehow to fetch the logs?

[2020-03-08 06:33] adityacs commented on #1761
@mwarchut-monsoon

This makes sense

[2020-03-08 10:49] slim-bean commented on #1761
Apologies for not responding sooner, this is a tricky one for the reasons @adityacs mentioned.
The biggest problem I see is how do we manage the state over promtail restarts? This feels like it would be a pretty big change to promtail.

Typically I think this would be handled by the way files are renamed when they are rolled (usually a number is appended) and the path matching is setup to ignore t

[2020-03-08 15:23] Mikesch-mp commented on #1635
#bump

[2020-03-08 17:20] NajemAyadi opened #1782 "Parsing Logs to create metric for prometheus"
i installed prometheus-operator and promtail using the helm chart. I'm trying to parse my logs in order to create metrics for prometheus, so i can create alerts in Grafana with Prometheus as Datasource. For that i created this configmap:
[code]
My custom app i logging always:
[code]
I'm actually expecting that promtail recognize the term "Test Error Log" in the logs and increase the counter metric

[2020-03-09 02:02] #1618 closed

[2020-03-09 10:45] adityacs commented on #1604
@Estrax Sorry for delayed reply. I tested this on `6.6.0` Grafana. It returns the expected error

<img width="900" alt="Screenshot 2020-03-09 at 4 14 19 PM" src="https://user-images.githubusercontent.com/7681197/76205920-286e9500-6221-11ea-80e2-178e762d9b82.png">

[2020-03-09 11:26] candlerb opened #1783 "promtail syslog receiver aborts on non-UTF8 logs"
**Describe the bug**
When promtail receives a message which is not valid UTF8 over the TCP syslog receiver, it logs an error and drops the TCP connection on the floor.

**To Reproduce**
This is tested with promtail-linux-amd64 1.3.0 from binary release.

1. Configure rsyslog to forward to promtail

[code]

2. Send a packet containing binary goop, e.g. this one captured from a Netgear switch

[code

[2020-03-09 11:43] candlerb commented on #1783
Possible resolutions I can see:

1. Attempt to decode the string as UTF8; if it fails then decode again as latin-1 (which will give codepoints `u80` to `uFF`)
2. Only decode the string as UTF8 if it begins with BOM; otherwise decode as latin-1
3. Decode as UTF8 and replace invalid characters with `RuneError` (`uFFFD`)
4. Decode as UTF8 and replace invalid characters with surrogate escape `uDC80` t

[2020-03-09 12:53] cyriltovena commented on #1296
Yes we're explaining this here:

https://github.com/grafana/loki/pull/1555

[2020-03-09 12:59] candlerb commented on #1783
Until this is fixed, here is a workaround when using rsyslog: you can use the [mmutf8fix](https://www.rsyslog.com/doc/v8-stable/configuration/modules/mmutf8fix.html) module to replace invalid utf8 characters with a single ASCII character (unfortunately the Unicode replacement character is not possible).

Put this before the action which forwards to promtail:

[code]

This module is available as pa

[2020-03-09 13:08] davidpean opened #1784 "Fluent-bit Loki Plugin key_value format"
**Describe the bug**
When using the fluent-bit loki plugin and setting LineFormat=key_value, strings are not being quoted thus causing parsing problems in Loki

**To Reproduce**
Steps to reproduce the behavior:

Using a fluent-bit image with the following config

[code]

**Expected behavior**
Example log message from Grafana that Loki parses

`t=2020-03-09T13:04:38+0000 lvl=dbug msg="Job Execution

[2020-03-09 14:24] cyriltovena commented on #1698
I don't see any issue, looks more like a UI glitch, the timestamp is the same in both cases, the only difference is the format really (one using UTC).

To confirm this is really a Loki issue I would need you too give a try to logcli and see if you see the same problem. (see https://github.com/grafana/loki/blob/master/docs/getting-started/logcli.md)

Thanks

[2020-03-09 14:29] cyriltovena commented on #1584
I'd like to keep this as a goal.

[2020-03-09 14:32] cyriltovena commented on #1737
Loki support tracing and also logging so you should be able to find those slow request and pinpoint who is generating them by checking traces or logs.

[2020-03-09 14:44] cyriltovena commented on #1772
Hey @nsherry4,

I think (I'm not fully sure since I don't have your data) there is no issue here but a lack of documentation on how the instant endpoint `/loki/api/v1/query` works.

By default (if you don't provide a time like you did in the example) the instant query endpoint will query for logs at the current nanoseconds and look back using the `max_look_back_period` configuration (by default 30

[2020-03-09 15:02] nsherry4 commented on #1772
So if I _do_ provide a time, it will still look backwards from that point for at most `max_look_back_period` (less with a limit set)?

[2020-03-09 15:03] cyriltovena commented on #1772
Yes correct. This is the exact same behavior as Prometheus.

[2020-03-09 15:08] nsherry4 commented on #1772
Okay, thanks. Sounds like I want to use the `query_range` API call instead to get logs from an unbounded time interval?

[2020-03-09 15:18] cyriltovena commented on #1772
Query range allows you to choose a start and end timestamp (ns) but not unbounded.

[2020-03-09 15:19] nsherry4 commented on #1772
Okay, thank you for your time.

[2020-03-09 15:19] #1772 closed

[2020-03-09 15:44] cyriltovena commented on #1709
/cc @sandeepsukhani Can you take a look please ?

[2020-03-09 16:24] cyriltovena opened #1786 "Tuned down log from table manager when running boltdb"
It seems that the table manager is chatty when running Loki using boltdb.

see transcript.

[2020-03-09 16:37] cyriltovena commented on #1786
This might require some work on cortex side too.

[2020-03-09 16:58] pomazanbohdan commented on #1434
@bastjan
pls paste full config

[2020-03-10 11:53] adityacs opened #1788 "Implement Cortex readiness Handler in Loki"
**Is your feature request related to a problem?
Loki currently handles `/ready` endpoint individually for each modules. Also, we are missing `/ready` endpoint for query-frontend.

**Describe the solution you'd like**
Cortex now has `readiness Handler` irrespective of module. Loki should implement this

[2020-03-10 12:58] wardbekker opened #1790 "Run promtail as a service from an installation package."
**Is your feature request related to a problem? Please describe.**
Promtail is now a binary release. If you want to run it as a service, you need to create and register the service definitions yourself.  For non-k8s installs, users very likely want to run promtail as a service.

**Describe the solution you'd like**
Provide installation packages for all major operating systems that will install pro

[2020-03-10 17:05] #1397 closed

[2020-03-10 17:45] #1542 closed

[2020-03-10 17:53] Jiawei0227 commented on #1760
Yes, I do have a use case for a custom prefix... It would be good if we can define a root prefix to place the fake/ or the multi-tenant id. We can make it default to "". What do you think?

[2020-03-10 18:12] cyriltovena commented on #1784
I'm thinking of using this https://github.com/go-logfmt/logfmt

[2020-03-10 23:52] slim-bean opened #1792 "Optimize empty filter queries"
If a query like:

`{label="foo"} |= ""` or `{label="foo"} |~ ""` these should be optimized to `{label="foo"}`

You might ask why would someone do this? When creating a dashboard with a log panel you might want to create a text variable on the dashboard which could be used in the filter expression like so:

`{label="foo"} |~ "$searchVar"`

If the user leaves this filter blank it ends up sending the

[2020-03-11 13:10] cyriltovena commented on #1625
I'm wondering if your Loki is not crashing ? I've seen something similar today although we run a distributed version.

[2020-03-11 13:12] cyriltovena commented on #1792
We should also support `{label="foo"} |~ ".*"`

[2020-03-11 13:16] cyriltovena opened #1795 "Configurable maximum of the limits parameter."
**Describe the bug**

Since sending a huge limits request can crash Loki. We should have a configurable maximum of the limit the users can requests. This should be configurable per tenant.

**To Reproduce**

100k line requests below crashes Loki.
[code]

**Expected behavior**

We should not crash and be able to limit.

/cc @owen-d @slim-bean

[2020-03-11 13:44] adityacs commented on #1795
@cyriltovena Would like to work on this. However, need your guidance

[2020-03-11 13:49] cyriltovena commented on #1795
Sure this is somehow similar to this commit https://github.com/grafana/loki/commit/d6b85876ca0e27282426029bbaddd6cfc7fcb298

We need a new overrides and config to limit to a maximum the limit query string.

Then you want to check in the querier and in the frontend this limit and return a 400. We don't need a metric for when someone is hitting this limit.

Pretty sure you can do this easily !

[2020-03-11 15:13] #1622 closed

[2020-03-11 15:28] davidelavarga commented on #1753
Hello,

I follow video instructions:

![image](https://user-images.githubusercontent.com/37444330/76431829-6c44d400-63b2-11ea-96dc-7e837320397d.png)

 **Query:**
`count_over_time( ( {namespace="dev-v1"} |= "[E]" )[1m] )`  (Spacers included)

**Alert:**
![image](https://user-images.githubusercontent.com/37444330/76432062-baf26e00-63b2-11ea-824b-95527b288e39.png)

If I select "if execution error or

[2020-03-11 18:13] #1623 closed

[2020-03-11 18:47] #1722 closed

[2020-03-11 18:51] cyriltovena commented on #1788
I'm going to assign this to Peter ! I think he has plan for this.

[2020-03-11 19:37] cyriltovena commented on #1782
I think you scrape configs doesn't have a service discovery. Is this the full config you are using ?

Do you also send logs to Loki, or is it just for the metric part of promtail ?

[2020-03-11 19:52] cyriltovena commented on #1753
Do you mind trying Loki v1.3.0 ?

[2020-03-11 19:54] NajemAyadi commented on #1782
yes, this the full config i'm using. I'm trying to generate metrics and to pass them to Prometheus. Loki is also configured and i can see the logs in Grafana but not the metrics/labels, the weird thing also is, i can't see Promtail as Target in Prometheus.
Promtail Config:
[code]

[2020-03-11 19:54] cyriltovena commented on #1622
I did something similar for cortex.

https://github.com/grafana/cortex-jsonnet/blob/master/cortex-mixin/alerts.libsonnet#L16

So yeah you can go ahead but make sure we can have a default that doesn't impact anyone. In this example if the setting is empty, it doesn't add any matcher.

[2020-03-11 19:55] cyriltovena commented on #1622
And Sorry for the delay.

[2020-03-11 20:06] mjaewon opened #1796 "Slow to load labels"
**Describe the bug**

I'm using Loki with Grafana to search logs in Grafana's Explore tab.

<img width="1680" alt="grafana-label-load" src="https://user-images.githubusercontent.com/1889939/76457894-d3ed2600-6396-11ea-82a5-4f4e4c0b4620.png">

When you open up the Explore tab, then Grafana tries to load all the labels within a specific time range (it's 1 hour by default). But this loading takes pre

[2020-03-11 20:24] slim-bean commented on #1796
What's your schema config look like, what version schema are you using?

v11 of the schema was introduced specifically to address slow label queries, unfortunately there is no easy way of updating the helm chart to the new version (and until recently there was a bug in cortex that would cause table rotation to fail when updating the schema outside of the weekly table roll.

More unfortunately the

[2020-03-11 20:26] slim-bean commented on #1796
Also, you want to be careful around the cardinality of your labels, an ingestion rate of 40k/sec is fairly low so I worry that you might have labels with really high cardinality.

Or put another way, you should only use labels that have a finite number of values, maybe 100's of values or 1000's tops.

[2020-03-11 20:26] cyriltovena commented on #1782
add your stages in there instead.

https://github.com/grafana/loki/blob/master/production/helm/promtail/values.yaml#L33

[2020-03-11 20:26] slim-bean commented on #1796
Also Also: much appreciate the profiles and the work you did debugging, this can be a huge helpn :)

[2020-03-11 20:38] mjaewon commented on #1796
Thanks for your quick response and the suggestions.

Here's schema config that I'm using. Somehow realized there is a new version of schema, v11, while googling around so I think I'm already using the latest version of schema (but Loki version is still `v1.3.0`).

    schema_config:
      configs:
        - from: 2020-03-10
          store: cassandra
          object_store: s3
          schema: v1

[2020-03-11 20:42] mjaewon commented on #1796
I'm not sure if this is going to be helpful, but I'm attaching some metrics at the time of label loading:

Loki Querier's cpu & memory:
<img width="801" alt="querier-cpu-memory" src="https://user-images.githubusercontent.com/1889939/76461772-bf605c00-639d-11ea-8be4-6a3e802952dc.png">

Memcached GET hit:
<img width="403" alt="memcached-get-hit" src="https://user-images.githubusercontent.com/1889939

[2020-03-12 00:26] mjaewon commented on #1796
One more info.

Cardinality of label names: `7`. This is fixed and never changes.

    curl 'http://query-frontend.<redacted>/api/prom/label?start=1583954445121000000&end=1583958045121000000' | jq -re '.values | length'
    7

Cardinality of each label's values:

    curl 'http://query-frontend.<redacted>/api/prom/label/_log_relay_thread/values?start=1583954445121000000&end=1583958045121000000' |

[2020-03-12 00:37] senior88oqz commented on #1768
You may take a look at discussions around https://github.com/grafana/loki/issues/643#issuecomment-498631712; I also found https://github.com/grafana/loki/pull/680 very useful although it was merged.

[2020-03-12 01:10] cyriltovena commented on #1796
This is interesting we have way more labels and that does not happen. I would love to understand why.

If you can share both cpu, heap  and trace pprof profiles as binary instead of an image that would be really useful. I would also be interested to see the go gc rate. All of it during a label query.

Finally if you could also share all your kubernetes manifest, to double check everything. You can

[2020-03-12 01:14] cyriltovena commented on #1796
Ho and you could also check s3 I would love to see how many chunks you have and their size by date. I know this not used during labels but each chunks has index entry.

[2020-03-12 02:28] mjaewon commented on #1796
Really appreciate your help.

Kubernetes manifest (Current release of helm. Secrets are redacted):
[current-release.yaml.log](https://github.com/grafana/loki/files/4322004/current-release.yaml.log)

    helm get loki-poc-loki > current-release.yaml

pprof (all taken during an 1-hour range of label query):

[pprof-cpu.txt.log](https://github.com/grafana/loki/files/4322007/pprof-cpu.txt.log)
[pprof-

[2020-03-12 02:51] mjaewon commented on #1796
Just checked S3 too.

Chunks (S3 objects) count per day: 5MM
S3 size increase per day: ~ 200GiB

Average chunk (s3 object) size: 200*1024*1024 / 5,000,000 ~= 42KiB (compressed)

[2020-03-12 03:01] cyriltovena commented on #1796
Ok I’ll give you a more detailed answer tomorrow but I think you have a wrong deployment causing ton of tiny chunks and index entries.

You should consider tanka. How much mb/sec are you ingesting ? Around 8 mb/sec  based on your daily numbers?

We usually aim at 2.1mb per chunk to give you an idea.

[2020-03-12 03:20] mjaewon commented on #1796
Thanks a lot. Wow,`2.1mb` per chunk is 50x times bigger than my current average. This number is exactly what I've been looking for! I will definitely go give it a try.

Ingestion traffic has some daily fluctuation:
* Max: 20mb/sec
* Min: 3mb/sec
* Avg: 13mb/sec

Can I ask what's tanka? Is it like helm?

[2020-03-12 04:04] adityacs commented on #1788
@cyriltovena Sure.
@pstibrany I have changed the title and description of this issue

[2020-03-12 09:45] davidelavarga commented on #1753
Thank you a lot. With loki 1.3.0 works fine

[2020-03-12 10:42] cyriltovena commented on #1753
Yeah I think we did 1.1/1.2 because of a small API drift, You might have been affected by that.

[2020-03-12 12:25] cyriltovena commented on #1796
Yeah Tanka is like helm, you could use `tanka show` command just to have an idea of how we deploy the distributed version of Loki.

Based on your ingestion rate, you can also try to use the single binary version from helm without scaling and see if labels queries are doing better. If so and you still want the frontend to speed up filter queries which makes total sense, then I can help you figured

[2020-03-12 12:28] cyriltovena commented on #1796
I tried

[code]

Can you try a different command:

[code]
 to download the profile ?

[2020-03-12 13:45] edasque commented on #1401
I don't believe that has been completed yet?

[2020-03-12 14:47] sshah90 commented on #343
@abelal83 yes they have support for sending chunks to Azure blob but not for indexing which is mandatory so you need to use key-value store for that (ex. boltdb supported).

you can use config like this for azure ([Source](https://github.com/grafana/loki/issues/800)).
`
config:
  schema_config:
    configs:
      - from: 2020-02-01
        store: boltdb #indexing yet not support in Azure so use bo

[2020-03-12 15:16] cyriltovena opened #1800 "Re-use iterator with pooling."
A lot of allocations is due to the creation of many iterator type.

see an ingester heap allocation total snapshot

![image](https://user-images.githubusercontent.com/1053421/76536524-d8771480-6452-11ea-999e-9960a7fda032.png)

[2020-03-12 15:18] cyriltovena opened #1801 "Investigate timestamp proto marshalling."
This is something that I discussed long time ago with @tomwilkie. But until now it wasn't the biggest problem.

I think this should be addressed now ! see allocation count below from ingester.

![image](https://user-images.githubusercontent.com/1053421/76536754-23912780-6453-11ea-88c1-94bcb419cc2a.png)

I'm saying investigate because I'm not sure what we should improve. @tomwilkie do you remember

[2020-03-12 15:27] cyriltovena commented on #1801
From the querier side
![image](https://user-images.githubusercontent.com/1053421/76537612-66073400-6454-11ea-9e8f-46e9400c591c.png)

I think the assumption was that timestamp should just be int64.

[2020-03-12 15:29] adityacs commented on #1795
@cyriltovena Just thinking on this. May be the idea is silly.
Can we make this a dynamic parameter by looking into the memory available for `loki(querier and frontend incase of microservice mode)` to load the entries. If the user requested limit is more than the entries we can load with available memory, we can return an error.

[2020-03-12 15:44] slim-bean commented on #1796
@mjaewon check out the `chunk_target_size` in the [ingester_config](https://github.com/grafana/loki/tree/master/docs/configuration#ingester_config)

We use this setting (which is currently not the default).  We are targeting a chunk size of 1.5MB (This is somewhat arbitrary, making it bigger uses more memory in ingesters but also reduces some overhead on queries)

Just make sure if you are using m

[2020-03-12 17:25] mjaewon commented on #1796
@cyriltovena Captured profile again at the time of label loading like below. This time I did it twice for each 20sec and 5 sec just in case.

    curl -fsSL 'http://localhost:8080/debug/pprof/profile?seconds=20' > pprof-cpu-20sec.log
    curl -fsSL 'http://localhost:8080/debug/pprof/profile?seconds=5' > pprof-cpu-5sec.log

[pprof-cpu-5sec.log](https://github.com/grafana/loki/files/4325590/pprof-cp

[2020-03-12 17:38] mjaewon commented on #1796
@slim-bean Thanks for your suggestion and the heads-up, it's really helpful. I will go get play around with `chunk_target_size` value.

I still do have some questions, sorry for bugging you.

1. If you guys are aiming 1.5MB for `chunk_target_size`, that means it should be 1.5MB **AFTER** compression right?
1. Could you share your current production value for `chunk_block_size` too?
1. I have 20 in

[2020-03-12 18:09] slim-bean commented on #1796
1. It aims for creating 1.5MB chunks after compression yes, however they will always be smaller because the calculation is a bit naive, it basically looks to see if all the compressed blocks + what's in the head block (uncompressed) + the incoming log line will be more than the target size.  If yes, it will cut the head block, compress it, and then cut the chunk.  But this means that once the head

[2020-03-12 18:33] cyriltovena commented on #1796
The profile is probably not run when you're doing a label, I guess with 20 replicas it's hard.

Can you share a screenshot of the ring page (/ring) and make sure it's the same seen for each replicas.

[2020-03-12 18:38] mjaewon commented on #1796
Thanks a lot for your explanation. So invaluable to me. I think all of them are worth being noted down in somewhere in loki documentation.

Also I didn't realize there is something like `max_chunk_age` since I've been only looking at [v1.3.0 documentation](https://github.com/grafana/loki/tree/v1.3.0/docs/configuration) but it's in [master branch](https://github.com/grafana/loki/tree/master/docs/co

[2020-03-12 18:40] mjaewon commented on #1796
@cyriltovena Sure. It looks they are well balanced. (Addresses are redacted)

<img width="1680" alt="ring" src="https://user-images.githubusercontent.com/1889939/76556173-4709a180-6456-11ea-991d-8fbcd1cddd6e.png">

[2020-03-12 18:42] cyriltovena commented on #1796
I don't think this is an exaggeration :) This is actually on point.

If that page is the same on each replicate that looks good.

[2020-03-12 19:05] mjaewon commented on #1796
Ah, actually I'm monitoring consul ring status too:
<img width="1198" alt="consul-ring" src="https://user-images.githubusercontent.com/1889939/76557763-5f2ef000-6459-11ea-9582-8269458dc628.png">

Also I just checked all the `/ring` page of each ingester manually and they're all same.

Thank you guys so much for your help. While I'm closing this issue now, but please feel free to let me know if the

[2020-03-12 19:05] #1796 closed

[2020-03-12 19:23] abelal83 commented on #343
Thanks @sshah90. I'm looking to run multi instances of loki and as indexing not supported on blob storage will run cassandra db cluster which I think should be fine.

[2020-03-12 20:09] cyriltovena commented on #1796
@mjaewon Let us know how it goes !

[2020-03-13 02:54] cyriltovena commented on #333
Depends on your system, although you don't need to care about any files if you use the docker driver. https://github.com/grafana/loki/tree/master/cmd/docker-driver

[2020-03-13 03:00] cyriltovena commented on #1783
Thank you Brian for the workaround and possible solutions, we'll look into it !

🥇

[2020-03-13 05:00] jazoom commented on #1753
Thanks for the video. That would have been very difficult to figure out without it. I think I'm still missing something, though. I've gotten to the point where I receive an email every time the string `***ALERT***` is present in a log. I know it's working because I get these emails at exactly the same time as my current logging solution. The problem is, there is "No Data" in the emails, nor in the

[2020-03-13 12:16] owen-d opened #1803 "Heuristics pkg consuming `logql/stats` for query suggestions"
As per some discussion, I think it's a good idea to create a heuristics pkg which can read the logql statistics from a query and suggest query improvements (too many series? try adding labels. Too much data? try reducing time range or adding filters/etc).

Thoughts?

/cc @slim-bean @cyriltovena

Functionality ideas:
- handle `{foo=~".*"}` queries which would match _everything_ and give suggestions

[2020-03-13 13:20] pstibrany commented on #1788
https://github.com/grafana/loki/pull/1804 implements unified /ready handler (among other things) that works in microservices as well as single-binary mode.

[2020-03-13 16:44] rfratto commented on #1663
This happened again recently, going to mark this as keepalive.

[2020-03-13 17:01] cyriltovena commented on #1803
@slim-bean had some similar idea yesterday.

[2020-03-13 21:05] #1643 closed

[2020-03-14 20:43] tfchan0 commented on #1670
Sorry for late response.  I have tried setting a large ingestion limit but similar issue of "entry out of order".  Is it because there's no guaranteed that systemd input is in order?  Or other config that I may have missed?

[2020-03-15 01:00] #1645 closed

[2020-03-15 01:26] aronneagu opened #1805 "Promtail doesn't create metric"
**Describe the bug**
Configured promtail to generate metrics, but metrics doesn't appear on /metrics endpoint of
promtail. Configuration was taken from the promtail example:  https://github.com/grafana/loki/blob/master/docs/clients/promtail/stages/metrics.md

**To Reproduce**
Steps to reproduce the behavior:
1. Installed promtail helm chart `helm install promtail loki/promtail --values values.yam`

[2020-03-15 04:18] gorilych opened #1806 "Loki ingester stays in LEAVING state after node reboot"
**Describe the bug**

After/during node reboot (preemptible node in GKE, reboot time is limited to ~30 seconds), ingester pod goes into LEAVING state forever, until the pod is deleted manually.

![image](https://user-images.githubusercontent.com/7404372/76695143-068b6d00-667c-11ea-84df-a36e87425352.png)

**To Reproduce**

Deploy with helm on preempt nodes. Every time node is preempted, one of the

[2020-03-15 07:00] #1571 closed

[2020-03-15 11:44] oke-py commented on #1483
wontfix?

[2020-03-15 15:32] cyriltovena commented on #1483
No we just didn't found the time to do it.

[2020-03-15 16:29] #1657 closed

[2020-03-16 04:20] adityacs commented on #1805
@aronneagu Could you please try replacing `source: time` to `source: timestamp` ?

[2020-03-16 04:42] tfchan0 commented on #1670
Tried with the latest version built and it seems good so far.  Closing the issue.

[2020-03-16 04:42] #1670 closed

[2020-03-16 08:59] aronneagu commented on #1805
I have checked with timestamp, but it didn't work. From your comment, I understand that the source comes if the log format is from docker. However my log is unstructured, is there a way to count all log lines without extracting any field from it?

[2020-03-16 13:22] cyriltovena commented on #1806
So this is something we do experience from time to time. The workaround for now is to forget the leaving ingester.

I want to also point out that the helm chart wasn't meant to be scaled, for that we prefer to recommend tanka `production/ksonnet`.

[2020-03-16 13:22] cyriltovena commented on #1806
Also let's ask our ring expert @pstibrany.

[2020-03-16 13:23] cyriltovena commented on #1805
@slim-bean don't we have that metric already ?

[2020-03-16 13:29] cyriltovena commented on #1795
It's not a silly idea but there is more into the play than just the limit which makes it too complicated. I more entitled to use a simple solution like the limit configuration that the operator can tweak on demand.

[2020-03-16 13:43] pstibrany commented on #1806
Are you running ingesters on those preemptible nodes? From what I'm reading, I would strongly recommend not doing that. Ingesters take a while to shutdown correctly (during rollout of new version, new ingester is starting while another one is stopping, and stopping ingester then tries to handover its data to starting one). You can disable handover by using `-ingester.max-transfer-retries=0` (or `m

[2020-03-16 15:21] gorilych commented on #1806
@pstibrany yep, it's preemptible pool. But:

* Preemptible is not something unusual these days
* Regular nodes dies unexpectedly as well, ingester might be OOMKilled or fail some other way
* Only ingester is suffering on preemptible nodes. Other loki components are good, etcd and cassandra survive outage of preemptible nodes

Anyway, skipping arguing about preempt pros and cons, do you think stayi

[2020-03-16 15:23] gorilych commented on #1806
Forget does not work for me, the node just reappear LEAVING in a matter of seconds

[2020-03-16 16:11] adityacs commented on #1805
@cyriltovena We have it. I guess it's `promtail_sent_entries_total`
@aronneagu You can check for this in `/metrics`

[2020-03-16 17:36] moeenz commented on #1368
I'm experiencing the same thing on Mac and Ubuntu. Tried with both `:latest` and `:latest-bridge`. Exposing Loki port or not, the problem persists.

[2020-03-16 17:49] pstibrany commented on #1806
If ingester is OOMkilled, that's bad and can result in loss of data. That's also why we use replication. Other Loki components are not stateful (well, query frontends keep queue of queries, but if you lose queries, it's not a big deal). Ingesters keep lot of data in memory, and need proper shutdown.

It's interesting that you point out that ingester reappears with LEAVING State... it means it's ru

[2020-03-16 20:36] aronneagu commented on #1805
I have checked that metric and id does give the total entries sent, though I was looking for a something that allows me to be more granular, maybe matching with labels from loki.
I will keep tweaking with promtail to generate a metric from the log lines, and post back

[2020-03-16 21:16] cyriltovena commented on #1805
@aronneagu

We use this stage internally.

[code]

I think that should work for you, but you might need to use master. I don't think it's part of 1.3.

[2020-03-16 21:21] cyriltovena commented on #1753
You could use a log panel with the same query without the rate/count_over_time in your dashboard.

This is a workaround, the real answer is, we're planning to support prometheus alert/rule style. Not sure if this will contains the actual log line but this is good feedback for #340 .

[2020-03-16 22:43] aronneagu commented on #1805
The `metrics` section worked perfectly. I used the image tag master-1eb139c.
Thanks for the quick answers

[2020-03-16 22:43] #1805 closed

[2020-03-17 00:29] gorilych commented on #1806
It is. The thing is that I'm using 'all in one' image, not sure how it'll work in case of single ingester process.

@pstibrany thanks Peter! Looking for it.

[2020-03-17 07:13] pstibrany commented on #1806
For the reference, here is relevant change: https://github.com/cortexproject/cortex/pull/1921.

[2020-03-17 10:50] nbari opened #1812 "fatal error: stack overflow"
I can't install following this guide: https://github.com/grafana/loki/blob/master/docs/installation/tanka.md

https://github.com/grafana/tanka/issues/238

[2020-03-17 11:15] sh0rez commented on #1812
Hi, this is an error with Tanka which will be fixed in https://github.com/grafana/tanka/pull/239.

Also see the notes I added to your issue: https://github.com/grafana/tanka/issues/238

[2020-03-17 11:15] #1812 closed

[2020-03-17 12:01] Eraac commented on #1806
Sounds good, any date for the next release?

[2020-03-17 14:08] pstibrany commented on #1806
real soon now, I think 😉

/cc @slim-bean

[2020-03-17 14:43] owen-d opened #1813 "Promtail should run as non-root in docker"
companion of https://github.com/grafana/loki/pull/1706

[2020-03-17 14:43] #1244 closed

[2020-03-17 19:34] #1784 closed

[2020-03-17 21:20] #1792 closed

[2020-03-18 11:21] nbari opened #1818 "how to configure storage options when deploying using helm"
How could I deploy `loki` into a Kubernetes cluster using `helm` but defining a custom storage from https://github.com/grafana/loki/tree/master/docs/configuration#storage_config, for example for testing purposes I would like to use `gcs`

thanks in advance.

[2020-03-18 17:38] chancez opened #1820 "Loki backfills empty tables on new deployments"
**Is your feature request related to a problem? Please describe.**
Sometimes I deploy Loki in new environments reusing an existing configuration, but the schema_config has dates in the past that I didn't properly update before deploying Loki. This leads to a number of unnecessary tables being created in the past up to the table retention, that never get any use unless you've got enough old log dat

[2020-03-18 17:42] chancez commented on #1820
CC @owen-d

[2020-03-18 17:45] owen-d commented on #1820
Thanks @chancez!

@slim-bean @cyriltovena I know we've chatted about this. Going to keep tabs on it as I want to work on a few AWS quality of life issues soon.

[2020-03-18 22:04] #1604 closed

[2020-03-19 00:05] cyriltovena commented on #1820
Yeah seems fair, does creating table  cost something  ?

[2020-03-19 00:39] chancez commented on #1820
Dynamodb tables can cost a lot or very little based on the credits/provisioning. So not really, but if you configure inactive tables with decent provisioned throughput, it could be a bit expensive.

[2020-03-19 02:26] #1668 closed

[2020-03-19 03:47] cmsxbc opened #1821 "Auto reconnect or quickly exit when cassandra cluster down and then up."
**Is your feature request related to a problem? Please describe.**
Using cassandra cluster as storage.When the cassandra cluster down, this error occurs.And it will never recover though the cassandra is UP.
And if we want to restart loki, loki will fall because of loop forever.
![image](https://user-images.githubusercontent.com/3500109/77029657-41243b00-69d7-11ea-87e4-9e375657d35b.png)

**Describe

[2020-03-19 03:55] mjaewon commented on #1796
After setting `chunk_target_size` to 2.5mb, label loading & search performance got improved way better. Thanks a lot.

[2020-03-19 12:51] adityacs commented on #1192
@randomchance I see that you are working on logstash plugin. If you already have your code ready, you can push and create your PR. I am OK to close my PR #1822

Thanks

[2020-03-19 14:34] cyriltovena opened #1824 "Use Protobuf encoded stream for fluentd output plugin push"
Would be awesome to support protobuf encoding instead of json for fluentd output plugin. Specially it is more performant.

[2020-03-19 15:09] slim-bean commented on #604
I see the stalebot closed this issue, however I think there still would be value in a logback appender that can send directly to Loki

@adityacs it looks like you have some experience in Java and the work you started doing for the logstash plugin with jruby might be useful here?

Is this something you would be interested in working on also? I can provide some guidance on how we would like to setup

[2020-03-19 15:20] adityacs commented on #604
@slim-bean Definitely, I will look into this. Just to confirm we are speaking of this logback right https://github.com/qos-ch/logback ?

[2020-03-19 16:46] max-block opened #1826 "Can't add loki datasource using docker (Loki: Bad Gateway. 502)"
I'm trying to start loki with docker like it described here: https://github.com/grafana/loki/tree/master/production#run-locally-using-docker

Grafana successfully starts on http://localhost:3000/

But after adding the Loki datasource (using http://loki:3100 for the URL field), there is such an error in UI:
Loki: Bad Gateway. 502

There is an error log in docker-compose logs:
[code]

My envs:
os: m

[2020-03-19 20:14] SamGallagher95 commented on #1818
I would like to know how to do this as well, I am struggling to find a solution for this.

Loki pod is loading the `loki-stack` secret which contains the configuration data, but I don't know how to set that in the configuration values for this chart.

[2020-03-20 00:26] k3a commented on #1694
From https://grafana.com/docs/grafana/latest/features/explore/: "When a query is executed, it actually executes two queries, a normal Prometheus query for the graph and an Instant Query for the table. An Instant Query returns the last value for each time series which shows a good summary of the data shown in the graph."

[2020-03-20 00:56] aaronkjones commented on #1826
@max-block
Try using `grafana/loki:master-89263b0` (from 8 days ago). There appears to be a problem with the latest build.

[2020-03-20 07:23] kidrocknroll opened #1827 "Loki can not find logs before the moment when Pod Updated."
**Describe the bug**
Loki can not find logs before the moment when loki-stack-0 pod recreated and index dir is removed by os.Remove().

**To Reproduce**
Steps to reproduce the behavior:
1. Start Loki StatefulSet using Kubernetes, mount /data dir and loki.yaml config file to the container.
2. Change「table_manager.Kubernetes/retention_deletes_enabled」or 「schema_config.config.index」configuration of l

[2020-03-20 09:00] stvnwrgs opened #1828 "Loki returns empty result set on querying"
**Describe the bug**
Loki gives back flaky data when querying. When I start Loki on our Kubernetes cluster and want to retrieve the data, sometimes I get an empty result back. It seems to get worse over time. The first minutes with a fresh cluster, I get data, after a few minutes, the chance to retrieve data becomes smaller and smaller.

**To Reproduce**
Steps to reproduce the behavior:
1. Started

[2020-03-20 09:29] max-block commented on #1826
Yes, now it works with `grafana/loki:master-89263b0`

[2020-03-20 13:40] pstibrany opened #1829 "Enabling `health_check_ingesters: true` leads to panics."
Structure returned by https://github.com/grafana/loki/blob/107dfd3607a634fea1fecf763e10b0e5fa6fb9c1/pkg/ingester/client/client.go#L35 has no implementation for `grpc_health_v1.HealthClient`, so calling methods of this interface panics.

This happens if someone enables 'health_check_ingesters: true'.

Loki 1.3.0

[2020-03-20 14:41] pandey-adarsh147 commented on #708
@mizeng  are you able to solved this? can you give some advise?

[2020-03-20 15:55] brancz opened #1830 "more configurable job label in mixin"
**Is your feature request related to a problem? Please describe.**

Make loki and promtail mixin less opinionated about their Prometheus scrape config. The kubernetes-mixin is rather successful with this, it makes no assumption about the scrape configs of users and where it does it makes it selectors fully configurable.

Currently it seems there is some scheme of `<namespace>/<type>` format expect

[2020-03-20 15:57] brancz commented on #1830
I'll try to see if I can come up with something that would continue to default to the current selectors but make them configurable.

[2020-03-20 16:17] raypettersen commented on #1657
Did you ever locate the problem?

[2020-03-20 16:18] adityacs commented on #1829
@pstibrany @owen-d we have fixed this in https://github.com/grafana/loki/pull/1730

[2020-03-20 16:19] pstibrany commented on #1829
Great, I missed that! Thank you!

[2020-03-20 16:19] #1829 closed

[2020-03-20 17:12] evgenii-petrov-arrival commented on #1657
The problem is that object URI gets a double slash, like `s3://$region/$bucket//$object`, which results in the above error.

[This issue](https://github.com/aws/aws-sdk-js/issues/86) helped me figure this issue out.

[2020-03-20 17:16] owen-d commented on #1829
Awesome, what a nice surprise.

Thanks @adityacs

[2020-03-20 19:16] cyriltovena commented on #1830
I've got more alerts and dashboards coming up and they all use the job label 🙃. Let me know if you sort this out so I can translate them too.

[2020-03-20 20:27] zaafar commented on #1625
We (the company I work in) are also seeing this bug intermittently (in our nightly pipeline). Sad news is that I have not been able to reproduce it locally. Right after it happened, I sent the exact same HTTP request and got a valid response. Here's my input for this bug.

==Loki Version==
If this information isn't enough, let me know.

==REQUEST & RESPONSE==

==Misc Details==
* According to the `

[2020-03-20 21:33] cyriltovena commented on #1625
It's probably a crash related to the allocation required to run that query.
What we need to fix this is some sort of streaming API. For now you can
batch your request using the last timestamp received as the next start.

Le ven. 20 mars 2020 à 16:27, Zaafar Ahmed <notifications@github.com> a
écrit :

[2020-03-20 21:36] atombender commented on #1625
In my case it's not a crash; Loki does not report any errors to the log, and the process stays up.

[2020-03-20 22:25] slim-bean commented on #604
Yup that's the one!

On Thu, Mar 19, 2020 at 11:21 AM Aditya C S <notifications@github.com>
wrote:

[2020-03-20 22:43] zaafar commented on #1625
Same here, Loki doesn't show any ERROR/WARNING logs (as shown in my previous msg). So if it's a crash (thread crashing etc), it's probably hidden behind a try/catch statement.

[2020-03-21 04:05] gorilych commented on #1806
@pstibrany, I'm testing below w/a for a few days now, looks like it works - I haven't seen ingester in the LEAVING state since changing configuration. Looks like 30 seconds (preemption time) is enough for ingester to flush data to storage.

[2020-03-21 19:40] #1692 closed

[2020-03-21 21:48] Mario-Hofstaetter opened #1831 "promtail static_configs targets can have any value"
**Describe the bug**
Documentation https://github.com/grafana/loki/blob/v1.3.0/docs/clients/promtail/configuration.md#static_config
states that in `static_config`:
[code]

**However, this is not enforced, and has no effect?**

**To Reproduce**
Run promtail with a scrape_configs containing:
[code]
on a machine __not__ named `foobar` 😄
Service Discovery shows `__address__="foobar"`,
but logs are pus

[2020-03-22 01:33] Mario-Hofstaetter opened #1832 "Port change to 8080 broke docker-compose example"
**Describe the bug**
Default Port was changed from `http_listen_port: 3100` to `http_listen_port: 8080` in #1823
This breaks the [`docker-compose.yaml`](https://github.com/grafana/loki/blob/master/production/docker-compose.yaml) example, which is still using 3100.
You cannot connect to loki from grafana if you use compose and wonder why.

Also several docs still state `3100`, as does the placehold

[2020-03-22 16:45] cliv commented on #1832
Specifically, it looks like https://github.com/grafana/loki/pull/1823/commits/cde1ad84b7118846f7b61f24768753d3a899ed26#diff-17af4cf9a6bbf96dc43ad4544bfad96bL4 was the breaking change.

If one was running with the default configuration file (/etc/loki/local-config.yaml) specified in /production/docker-config.yml, loki was never running on port 80 in the first place - so why change it?  Why use 8080

[2020-03-22 17:02] brancz commented on #1830
I haven't been able to find something that I quite like that doesn't involve changing the templated labels being queried a little bit. It would also be nice if it wasn't necessary to have the components be running on Kubernetes to use the dashboards. What I'm thinking is that it would be nice to just rely on `job` and `instance` labels. Would you be ok if we rework the dashboards slightly to be ba

[2020-03-22 18:40] Mario-Hofstaetter opened #1833 "Permission denied when using named volume for loki storage"
**Describe the bug**
When using a named docker volume to persist data for `directory: /tmp/loki` loki fails to start with
[code]
This is not the case with image `grafana/loki:v1.3.0`, because the `USER` changed recently:
https://github.com/grafana/loki/commit/45b51ef8d826cd2d7f465dd01f2c22f3e3fb1c9d#diff-0d3766d51f4b0ce5183c885a65c6045b

**To Reproduce**
On any docker host (e.g. https://labs.play-

[2020-03-22 21:01] owen-d opened #1835 "empty groupings in logql aggregations throw parse errors"
`sum by () (rate({app="foo"}[1m]))` and `sum without () (rate({app="foo"}[1m]))` both throw syntax errors. While these are redundant cases of `sum(rate({app="food"}[1m]))` and `rate({app="foo"}[1m])`, respectively, they are still valid and should not error.

[2020-03-23 01:14] mizeng commented on #708
@pandey-adarsh147  yes. plz refer to this pr: https://github.com/cortexproject/cortex/pull/1422

[2020-03-23 07:30] tanora opened #1836 "Loki pod stuck in terminating state"
Loki is been deployed with helm. The Loki pod gets stuck in a terminating stage. The only way to delete the pod is to run `kubectl delete pod loki-0 --grace-period=0 --force`. I also get this following error.

level=error ts=2020-03-23T06:28:56.677314609Z caller=flush.go:178 org_id=fake msg="failed to flush user" err="RequestCanceled: request context canceled\ncaused by: context deadline exceeded"

[2020-03-23 09:11] wardbekker commented on #1832
@cyriltovena The port change in cmd/loki/loki-local-config.yaml from 3100 => 8080 seems not needed? Bunch of config still assumes loki to be available on port 3100, like promtail default config here: https://github.com/grafana/loki/blob/master/cmd/promtail/promtail-local-config.yaml#L9

[2020-03-23 13:00] cyriltovena commented on #1832
We made a change in the docker image to run loki as non-root users. This has caused us trouble in our environment because 80 can't be bound without root.

This is why we made changes to the port binding in the docker image.

[2020-03-23 13:07] cyriltovena commented on #1832
I'll make it 3100 everywhere.

[2020-03-23 13:18] #1833 closed

[2020-03-23 13:51] cyriltovena commented on #1830
How would that work for the Read dashboard ? It seems to rely heavily on cluster/namespace labels for dropdown and job for filtering applications.

Maybe you can show an example of one dashboard and we can see if we're fine with it.

[2020-03-23 14:35] cyriltovena opened #1839 "Support 0 for model.Duration in the table manager"
Recently the table manager period has been changed to use `model.Duration` from Prometheus because of a vendoring in Cortex. see https://github.com/grafana/loki/blob/master/vendor/github.com/cortexproject/cortex/pkg/chunk/table_manager.go#L95 and #1838

The problem is that before `time.Duration` was supporting the value 0. Before it propagates to other fields we should try to suggest in the [prome

[2020-03-23 14:52] cyriltovena commented on #1839
PR to Prometheus. https://github.com/prometheus/common/pull/226 let's see.

[2020-03-23 14:54] #1832 closed

[2020-03-23 15:08] #1690 closed

[2020-03-23 15:21] cyriltovena commented on #1839
Prometheus won't accept this PR. I don't think it's worth wasting time arguing or pushing further. We'll have to use the new `0s` default.

[2020-03-23 15:28] tanora commented on #1836
The pod does delete without force, it just takes a few hours.

[2020-03-23 15:28] #1836 closed

[2020-03-23 16:54] yeya24 opened #1841 "Support series API in logcli"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Since there is already a series API to get the different series, so it would be nice to add this functionality in logcli.

[2020-03-23 16:57] owen-d commented on #1841
Thanks @yeya24 !

[2020-03-23 17:23] owen-d opened #1842 "Series API should support `match[]` encoding"
Currently Prometheus uses `match[]` to encode multiple values, whereas Loki uses  multiple match clauses in a querystring such as `match=<>&match=<>`.  This stems from there being multiple ways to encode a list of values for the same key in a querystring. Our current approach works well with i.e. curl, but does not work with promtool.

Therefore, we should handle both encoding types.

Reference:
h

[2020-03-23 18:08] #1368 closed

[2020-03-23 19:46] slim-bean commented on #1779
After some discussions and thinking about this for a bit.  I'm moving farther away from using `step` or anything similar to `step`.

It seems something more like `interval` might be appropriate here, or perhaps `sample` as we are basically looking to sample the values at a given interval.

[2020-03-24 08:58] stvnwrgs commented on #1828
Issue resolved. I used the memory ring store with multiple replicas. Needed to switch to consul/etcd.

[2020-03-24 08:58] #1828 closed

[2020-03-24 09:14] stvnwrgs opened #1844 "Document backup procedure for boltdb"
**Is your feature request related to a problem? Please describe.**
There is no documentation on how to create backups with boltdb. I could also not find any documentation in cortex. I'm not sure which components need to be backed up and how? Can I just create disk snapshots of etcd and the ingester? I guess that would lead to a split brain?

**Describe the solution you'd like**
I would like to see

[2020-03-24 09:54] rafaribe commented on #1711
I would also like this approach, given that today I'm sort of forced to push a file and run a promtail container to ship the logs to my remote loki.

[2020-03-24 14:13] slim-bean commented on #1761
Copying my note from the associated pr:

[2020-03-24 14:13] #1761 closed

[2020-03-24 15:23] ridvanaltun commented on #1434
You can find more details [here](https://github.com/grafana/loki/blob/master/docs/configuration/examples.md#aws).

[2020-03-24 17:13] randomchance commented on #1192
@adityacs With everything going on I have not had a chance to even start on that, and it's been shelved for the future. The logstash plugin repo I do have is for VSCode, so don't wait on me!

[2020-03-24 23:02] shanisma commented on #1826
Same issue, worked for me , docker + macos

[2020-03-25 00:48] elvis-cai commented on #74
same issue here, with flebeat bit and multiline, all multiple lines are combined to the same line, sorry, not readable for us.
![image](https://user-images.githubusercontent.com/38489894/77490246-7d034880-6e8e-11ea-838a-aed2a2b75e99.png)

[2020-03-25 10:17] tanora opened #1847 "Can't add Syslog Receiver"
I get the following error when trying to add  the Syslog Receiver.

`level=warn ts=2020-03-25T09:49:37.652388846Z caller=syslogtarget.go:164 msg="error initializing syslog stream" err="invalid or unsupported framing. first byte: 'G'"`

Helm chart config
[code]
[code]

I have tried running Netcat to create a syslog message with the following command, however no logs are sent to Loki.

`echo '<14>so

[2020-03-25 14:51] #1503 closed

[2020-03-25 22:34] rrajkomar commented on #1225
Reopening as we've receiving
no information on whether it is currently possible
nor if (and when) this feature might be available

Also are there any plans to be able to handle gelf-like logging ?
In a way that could allow sending for a example a PHP exception object and get somethign that's usable in Loki UI ?

[2020-03-26 00:04] dawidmalina commented on #50
Any update on this topic? Is it now possible to scale single binary (helm) setup into multiple replicas? Looks like different ring configs can be provided: https://github.com/sboschman/loki/blob/master/production/helm/loki/values.yaml#L33

[2020-03-26 13:57] rfratto opened #1851 "Improve documentation around chunk/index schema"
The current recommended schema is hidden away at the bottom of [this](https://github.com/grafana/loki/blob/34b3a764c7fd378c1808c3c433738dda3f05f74d/docs/overview/README.md#chunk-store) file. It's hard to find unless you know it's there, but it's also wrong; people should be using `v11` and not the `v10` that's in that file.

Another place the schema documentation is out of date is our [configurati

[2020-03-26 14:02] rfratto commented on #1851
#1852 removes references to old schema versions but the rest still need to be done (imo).

[2020-03-26 15:54] cyriltovena commented on #1839
Change of plan upstream Prometheus accepted the PR. We need to update cortex and then get that into Loki. Should be easy for anyone to take it.

[2020-03-26 19:02] cyriltovena opened #1854 "Create a syntax package for LogQL"
Looking at what's coming, I think we should in the future extract the syntax code from the LogQL package and move it to a logql/syntax package so it can be reused by other without having to embed the whole engine. There is a lot places where we need to just parse logql.

This will means also export each supported expression.

/cc @owen-d

[2020-03-26 19:12] slim-bean opened #1855 "Improve documentation with consistent terminology"
As an example someone posted from slack:

[code]

[code]

[code]

I think this is mostly valid feedback and criticism of the docs

The entry point to the docs does talk about architecture and describe what a distributor is but I suspect we never clearly define what a `sample` is, I'm not actually sure to be honest.

I also know the rate limiting is not obviously defined, I know the implementation

[2020-03-26 19:36] #1795 closed

[2020-03-27 01:02] senior88oqz commented on #1159
Anyone have a good way to get around this? Experiencing a similar problem when ingester pods are killed unexpectedly (i.e, `OOM Killed`)

[2020-03-27 04:37] #1715 closed

[2020-03-27 04:37] #1716 closed

[2020-03-27 07:50] till commented on #1725
@jgehrcke

[2020-03-27 09:58] yang3808282 commented on #1768
How can i express my gratitude to you！

[2020-03-27 15:33] stvnwrgs commented on #1670
@tfchan0 which version have you used?

[2020-03-27 15:42] stvnwrgs commented on #1806
This behavior can also be forced by sending a SIGKILL or deleting pods with grace-period=0.

Maybe it makes sense to test this in a chaoskube way?

[2020-03-27 21:22] Mario-Hofstaetter opened #1858 "No labels after restarting loki 1.3.0"
**Describe the bug**
After restarting `loki`, previously existing labels are not shown anymore using `label_values` / `labels`.
Old logmessage can still be retrieved though. Tested using `v1.3.0` AND current docker image `grafana/loki:latest 398b0bc8f72b`

**To Reproduce**

**[EDIT 2020-03-30: See below for second description and debug logs]**

The issues has something to do with my logdata, I was

[2020-03-27 22:16] ncauchois opened #1859 "Index/chunks retention for old schemas config"
**Describe the issue**

When we add a new schema config, the retention of the tables associated with this new config scheme is correct. On the other hand it's not applied for the old schemas config. Tables associated with old schemas config are not deleted.

We can even see that when we increase the retention, the number of tables increases for the new schema config, but also for the old ones.

**

[2020-03-28 01:47] adityacs commented on #1192
Thanks @randomchance

[2020-03-28 10:23] bilal922 commented on #1818
Correct

[2020-03-28 10:25] aabidaz commented on #1841
I want to learn how to make commands for fb cloning

[2020-03-28 12:44] cyriltovena commented on #1858
Seems like you’re not flushing data, I wonder why

Le ven. 27 mars 2020 à 17:22, Mario-Hofstaetter <notifications@github.com>
a écrit :

[2020-03-28 14:09] owen-d commented on #1417
This may be best fit for another issue, but I've experienced a lot of friction with some other type conversions. Examples include

- logproto <> loghttp definitions
- cortex client/label adapters <> our labels <> prometheus labels
- promql.Result <> logql.Result <> loghttp.Result <> queryrange.Response (both cortex & loki)

These are just off the top of my head, but illustrate some pain pts.

I ke

[2020-03-28 14:36] adityacs commented on #1831
@Mario-Hofstaetter The labels with `__` is dropped here `https://github.com/grafana/loki/blob/master/pkg/promtail/targets/filetargetmanager.go#L249`

If you want to add host label, You can add an extra label under `labels`

[code]

[2020-03-28 18:41] cyriltovena commented on #1826
Yes we changed the port for couple of days without updating docker-compose. Now everything is back to normal.

Thanks for reporting.

[2020-03-28 18:41] #1826 closed

[2020-03-28 18:50] cyriltovena commented on #1827
In helm by default the persistence is off.

[code]

Did you activated it ? If you don't then the whole filesystem for the pod is recreated.

[2020-03-28 18:53] cyriltovena commented on #1844
boltdb is persisted on disk and you can take a snapshot of the data. When you configure boltdb usually you give a path.

Are you running consul/etcd and boltdb ? Can you explain a bit more how you run Loki ?

[2020-03-28 18:56] cyriltovena commented on #1625
The real solution to this issue is a streaming API. You might not see any errors but I think it's because it's handled, have you check memory limits and usage of Loki when doing such queries ?

[2020-03-28 18:56] cyriltovena commented on #1836
Yes it's because it's flushing your data so you don't lose any. Thanks for reporting.

[2020-03-28 19:04] cyriltovena commented on #1858
Can you try with a bigger restart timeout something like 600 ?

[2020-03-28 19:06] Mario-Hofstaetter commented on #1858
Actually the container is stopping within < 5 seconds, the 30 sec is already extra.

[2020-03-28 19:11] cyriltovena commented on #1858
I'm not able to reproduce:

[code]

[2020-03-28 19:21] cyriltovena commented on #1858
If you have more informations let us know. This is weird. FYI You can't switch between 1.3 and latest. This will cause issues, because they use different schema.

You should activate log debug and let us know if you see anything there on Loki. `--log.level=debug`

[2020-03-28 19:26] Mario-Hofstaetter commented on #1858
Did you use my example logfile? because your labels are different than mine.
It has something to do with my data, the only "special" thing there is the label `logger` that is used there.

Otherwise i will provide an more complete example, including `debug` logs.

[2020-03-28 19:41] cyriltovena commented on #1831
__address__ and __host__ are not available those are labels used only during scrapping. You could still add them via relabelling or pipeline stage or even like @adityacs suggested.

And yes:

[code]
is not used in Loki and doesn't have side effects.

Feel free to send a PR to update the documentation.

[2020-03-28 19:56] Mario-Hofstaetter commented on #1858
If I keep the job from the example:
[code]
It will look like this **after restarting loki**.

`logcli labels`
[code]
`logcli labels job`
[code]
So just the labels from `  - job_name: problemjob` are disappearing.

Also I just noticed my `logger` label violates the prometheus label naming guidlines.
https://prometheus.io/docs/concepts/data_model/#metric-names-and-labels

I have `logger` label with

[2020-03-29 00:01] cyriltovena commented on #1858
If the labels is rejected you'll have an error in the logs.

[2020-03-29 00:37] cyriltovena commented on #1720
Hold on got something!

[2020-03-29 03:06] #1723 closed

[2020-03-29 05:02] adityacs opened #1863 "Not specifying query-frontend downstream URL doesn't log any error"
**Describe the bug**
If we don't specify frontend-downstream URL, there is no error logged. When we try to send any request to query-frontend, the request hangs and there is no error returned to client.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Loki  with target as `query-fronted` without specifying `frontend.downstream-url`

**Expected behavior**
Error returned to client

/cc @c

[2020-03-29 05:04] adityacs commented on #1863
If there is no downstream URL, cortex by default configures GRPC Roundtrip. I am not sure how that flow works with Cortex.
Am I missing something?

[2020-03-29 09:56] kidrocknroll commented on #1827
I use `helm --dry-run` to generate the loki.yaml for kubectl. and I fix the volumes config from emptyDir to persistentVolumeClaim before I apply it. I have double-checked the volume. The reclaim policy of which is retained.

<img width="560" alt="Screen Shot 2020-03-29 at 17 52 14" src="https://user-images.githubusercontent.com/22533109/77846082-0778de80-71e6-11ea-9c44-f8d6b12fecda.png">

<img wid

[2020-03-29 13:23] cyriltovena commented on #1711
We’re going to improve the language so you can filter with log content this means tou won’t need to parse log from docker.

See the PR design docs.

[2020-03-29 13:42] cyriltovena commented on #1858
Can you share logs before and after restart please ?

[2020-03-29 16:14] previ commented on #1858
I do have a similar problem: logs are not available after a loki restart.
Also, logs from a pod which produce logs rarely, seems to be unavailable after about 30'.

My configuration:
- loki version: 1.3.0
- installed in k8s cluster via helm charts
- store: cassandra
- object_store: azure blob
- auth_enabled: true (tenant defined by k8s namespaces)
full configuration here: https://gist.github.com/p

[2020-03-29 16:16] cyriltovena commented on #1720
I already published latest charts with the .prov file if you want to give a go @oliverfei that would be great.

You can find the public key in the PR closing this issue.

[2020-03-29 16:36] cyriltovena commented on #1827
Can you exec in the pod and verify that /data/loki/index contains files after restarts ?

[2020-03-29 16:45] cyriltovena commented on #1818
Hello @nbari and @SamGallagher95,

To provide a storage option (https://github.com/grafana/loki/tree/master/docs/configuration#storage_config) you can use a value file with helm.

For example here is a `values.yaml` for `gcs/bigtable` example:

[code]

Then you can install using `helm install -f values.yaml loki/loki`.

[2020-03-29 16:54] cyriltovena commented on #1818
Regarding secret you should make sure your instance running Loki have a configured service account see https://cloud.google.com/compute/docs/access/create-enable-service-accounts-for-instances.

Alternatively you can pass a secrets path using an extra host environment variable simply add this to your values file:

[code]

see https://cloud.google.com/docs/authentication/production#providing_servic

[2020-03-29 17:06] #1726 closed

[2020-03-29 17:17] kidrocknroll commented on #1827
Yes, It does contains files. But I believe none of them is created before the moment of a restart. Since Linux can not finds when is the creation time of a file. My test is to modify some configuration of loki configMap and rollout the pod, The old index files are just missing. I know that because the /data/loki dir has not been modified since Feb 14, and my mount point is /data

![image](https://

[2020-03-30 00:03] cyriltovena commented on #1827
So when you restart all those file are not there anymore?

[2020-03-30 00:05] cyriltovena commented on #1827
Loki delete data only via retention parameters, the fixture file is just for unit testing and not used in Loki itself.

[2020-03-30 03:27] kidrocknroll commented on #1827
Yep, All of them are lost if I modify the configMap and rollout, but it will not happen when I just delete the pod.

[2020-03-30 03:33] kidrocknroll commented on #1827
So whatever how I change the retention_period or max_look_back_period, No index file should be lost and I can still search the old logs before?

[2020-03-30 06:11] Jiawei0227 commented on #1760
Hey, any updates on this? If someone can point me where this is configured I can help to make the change.

[2020-03-30 11:06] omerlh opened #1866 "Multi cluster support?"
Is there an official recommendation regarding running Loki on multiple clusters? Currently, each time we’re deploying a cluster, we need to set up a new data source in Grafana manually (we have single Grafana showing data from all clusters). It’s a bit hard to scale, maintain and use (cannot loon for data from all clusters).
Are there any existing solutions? It’s not the same issue as tenancy, mor

[2020-03-30 12:22] fchiorascu commented on #1165
@cyriltovena is there a status for documentation on how to properly install Loki + OpenShift?

[2020-03-30 13:05] cyriltovena commented on #1165
Unfortunately no news and I don't have access to an OpenShift cluster. I think the biggest trouble was security to read logs from host and some ulimit lower than usual.

May be Red Hat can provide a cluster to build that doc.

[2020-03-30 13:14] cyriltovena commented on #1866
Right now the only scale path we offer is tanka in this repository `production/ksonnet/`, it's a distributed cluster where you can send all your logs from any other kubernetes cluster. (That version scales easily to 150MB/sec)

In the future we're looking at improving helm for that same use case and we're also thinking about loki to loki remote writes.

Regarding the datasource you can provision i

[2020-03-30 13:31] cyriltovena commented on #1863
Yes by default it uses GRPC unless you provide that downstream URL.

For sure we could warn the users if there is no connected GRPC client ready to process item in the frontend queue. But that's more work for Cortex.

[2020-03-30 14:05] cyriltovena commented on #1847
Hey Tanora !

Sorry for the delay.

If you try this command it should work:

[code]

The syslog parser expect RFC5425 format, we state in the doc if that not's your case you should use syslog-ng or rsyslog in front of promtail.

see  https://github.com/grafana/loki/blob/master/docs/clients/promtail/configuration.md#syslog_config for more.

Also another reason why it wasn't working was because our

[2020-03-30 14:18] owen-d opened #1867 "Document frontend worker"
Trying to answer https://github.com/grafana/loki/issues/1863 I realized we don't have docs relating to the frontend worker (used when we run the query-frontend+queriers in grpc mode)

We should document the frontend worker configs
[code]

[2020-03-30 14:22] adityacs commented on #1863
Thanks @cyriltovena . Yeah, it would be good to warn user. So, he will be aware of what is not configured

[2020-03-30 14:24] owen-d commented on #1863
More explicitly, the query frontend operates in one of _two_ fashions:

1) with `frontend.downstream-url`. This just proxies requests over http to said url.
2) without (1). This way it defaults to grpc as a _pull_ service. This requires the as-of-yet undocumented https://github.com/grafana/loki/issues/1867. In this form, the frontend instantiates per-tenant queues that downstream queriers pull que

[2020-03-30 14:26] adityacs commented on #1863
I was trying to figure out how GRPC thing works without providing any address to connect to 😉. I couldn't get any thing.

Thanks @owen-d

[2020-03-30 14:38] adityacs commented on #1867
@owen-d Also, this is little confusing https://github.com/cortexproject/cortex/blob/12b15b9b2ecb36029e8f4330b4e2c01e7f180619/pkg/querier/frontend/frontend.go#L51

In Loki context, we should say it should be downstream querier/Loki URL

[2020-03-30 14:39] cyriltovena commented on #1225
We think https://github.com/grafana/loki/pull/1848 is a better alternative as it won't require you to configure anything client side.

Gelf could be added to parsers from the PR above but I believe, the glob will already help.

[2020-03-30 14:40] owen-d commented on #1867
haha good point

[2020-03-30 14:52] #1676 closed

[2020-03-30 15:05] omerlh commented on #1866
We’re using jsonnet to install Loki today, so if federation is possible I’ll be happy to test it.
Where I can read more about the distributed cluster architecture? Does it mean that one cluster is the master, and the rest just write to it?

[2020-03-30 16:24] cyriltovena commented on #1866
No you just run a single cluster and it can eat all you're sending. It's not federation.

I assume you were using helm, if you already use jsonnet, then as a workaround for now you could just have a single big cluster and ingest all your k8s cluster with it.

[2020-03-30 17:23] rrajkomar commented on #1225
Mmmm I'm fine with waiting to see how it plays out but I'm not entirely it will fit our needs.
In the meantime I may hav found an alternate solution for my use case (still needs some work though)

[2020-03-30 17:49] cyriltovena commented on #1760
That's more a cortex discussion since we are using cortex for storing logs see https://github.com/cortexproject/cortex if that get accepted there then it will be added here too.

[2020-03-30 18:58] oliverfei commented on #1720
Thanks @cyriltovena.
I imported the public key and then tried running:
`helm repo add loki https://grafana.github.io/loki/charts`
`helm fetch loki/loki --verify`
and am getting the following error:

[2020-03-30 19:23] Mario-Hofstaetter commented on #1858
I just noticed something.
If I change my logs to have a timestamp of about NOW, the labels are available after restarting loki.
My original logfile had timestamps of around `2020-03-25 15:41:10 UTC`

What timerange is used for getting lables? Does loki look at ALL logs stored, or just what the timerang currently requrested by grafana?

[2020-03-30 19:45] Mario-Hofstaetter commented on #1858
Please see attached video.
Logs are shown, labels are shown (timestamps  from `2020-03-25`)

**After refreshing grafana (`F5`) the labels are not shown in explorer,** but logmessages are.

After repeatedly exactly 30 seconds, labels are shown again in grafana.
Of course this is an issue when used in dashboard templating variables (using Refresh on `Time Range Change` does not help)

[labels-gone-a

[2020-03-30 20:25] cyriltovena commented on #1858
@Mario-Hofstaetter Labels query use time range; start and end, by default last hour. So if you don't have log in the last hour, we don't show any labels. If you increase the time range and refresh the page it will do a larger label query.

[2020-03-30 20:28] cyriltovena commented on #1720
Ok I'll look into it.

[2020-03-30 20:46] Mario-Hofstaetter commented on #1858
Ok but that does not explain the behavior of grafana explore in the video attached above?

It does explain why `logcli` confused me too. After ingestion `logcli labels` does return labels that are NOT within the 1 hour window, it apears the information is still in RAM?
After restarting loki, logcli then does not return any lables any more since I worked with logs a few days old.

[2020-03-30 21:13] cyriltovena commented on #1720
hm I'm getting a different prov file with a different sha256 of the file on every run, even locally. Either I've miss-configured it or there's some bug with helm sha256 encoding.

I'm doing this ` helm package --sign --key "Grafana Loki" --keyring sec.gpg production/helm/loki` and on every run the prov file has a different sha256.

[2020-03-30 21:18] cyriltovena commented on #1720
I think the key was wrong in fact, resigning it even if the sha has changed is working with a new key.

[2020-03-30 22:09] cyriltovena commented on #1720
Can you try again ? I didn't change anything but re-uploaded it.

And I'm getting good result now

[code]

[2020-03-30 22:14] oliverfei commented on #1720
Yeah. It verifies successfully now.

[2020-03-30 22:16] cyriltovena commented on #1720
¯\_(ツ)_/¯

[2020-03-31 06:02] fchiorascu commented on #1165
I want to use/install in my OpenShift <namespace> project as client/user, not as an administrator of OpenShift cluster. :)

[2020-03-31 06:34] tanora commented on #1847
Thank you very much, that worked!

[2020-03-31 06:36] tanora commented on #1836
Thanks.

[2020-03-31 07:44] badsmoke opened #1868 "loki plugin grows without end"
**Describe the bug**
the loki plugin keeps growing despite daemon.json settings until the disk is full

**To Reproduce**
Steps to reproduce the behavior:
1. Started Loki (1.3.0)
2. loki plugin from 04.12.2019
3.

**Expected behavior**
the loki plugin file should have a maximum size of 100gb, but it will be significantly larger without end.

**Environment:**
80 hardware systems with ubuntu 18.04 in

[2020-03-31 11:08] shkmaaz11 commented on #1826
I am facing this issue.

[2020-03-31 11:09] shkmaaz11 commented on #1826
This issue is still reproducible for me.

[2020-03-31 12:27] #1863 closed

[2020-03-31 14:01] shkmaaz11 opened #1872 "Unable to add Loki datasource in grafana"
**Describe the bug**
While trying to add the Loki datasource from grafana UI an error message pops up as "Loki: Bad Request. 400. invalid query, through < from (1583430645.678 < 1585661857.6)".

**To Reproduce**
Steps to reproduce the behavior:
1. Clone Loki(git clone https://github.com/grafana/loki.git)
2. Go to production folder
3. docker-compose pull
4.docker-compose up

**Expected behavior**
I

[2020-03-31 15:03] #1867 closed

[2020-03-31 15:06] moeinrahimi opened #1874 "grafana loki explore An unexpected error happened on filter expressions"
go to grafana explore
datasource : loki
start typing {module:server} |= "hi"

**Environment:**
 - Deployment tool: ubuntu docker

![image](https://user-images.githubusercontent.com/13715024/78042084-cd930e00-7386-11ea-969b-b756b188b46e.png)
my docker-compose
[code]

[2020-03-31 16:28] cyriltovena commented on #1827
See this here
https://github.com/grafana/loki/blob/master/docs/operations/storage/retention.md

Le dim. 29 mars 2020 à 23:33, rockid <notifications@github.com> a écrit :

[2020-03-31 17:20] #1842 closed

[2020-03-31 19:25] #1841 closed

[2020-03-31 19:31] cyriltovena commented on #1874
This was a bug on grafana side, you should try to pull a newer Grafana version. Also make sure to hard refresh your cache.

I had the same last week.

[2020-03-31 19:40] cyriltovena commented on #1872
Thanks for reporting this. I'm taking a  look at this now, do you have the loki version ?

You should see a log like this:

[code]

[2020-03-31 19:57] cyriltovena commented on #1872
My first impression is that your Loki server lives in the past. It seems to return now as the 5th March. Grafana seems to send the correct timestamp, so your browser seems fine.

[2020-03-31 20:09] mmedum commented on #1839
Hi @cyriltovena i would like to do some work on this. Could you get me up to speed quickly on this? :)

[2020-03-31 20:13] cyriltovena commented on #1839
Sure:
- First you need to update prometheus common in cortex. using https://github.com/prometheus/common/pull/226
- Then update Loki from the latest cortex.
- That's should be it really it will support the 0 duration now.

Maybe you should wait for https://github.com/grafana/loki/pull/1869 before starting anything so you don't get conflicts.

[2020-03-31 20:20] mmedum commented on #1839
Will do. 🙂

Just going to start on one of the other issues.

[2020-03-31 20:30] cyriltovena commented on #1826
You need to give more details, if you using latest you're most likely having docker network issues or you haven't pull the latest images ?

[2020-03-31 20:43] cyriltovena commented on #1868
What is taking this space inside this folder ?

[2020-03-31 20:47] cyriltovena commented on #1868
I think those settings are per container. So 200g max per container. You might want to reduce that down to 1g per container max even that this would be a lot if you have many containers on the same host.

[2020-03-31 21:00] cyriltovena commented on #1368
Hey Everyone,

For those who have the issue related to `no logs are available` this is in fact on purpose from the docker-compose tooling.

see https://github.com/docker/compose/blob/master/compose/container.py#L196

Basically no log  from docker-compose if you use a plugin, not sure why. But docker logs should work still, if you want to use that.

[2020-03-31 21:01] cyriltovena commented on #1487
We are in fact implementing this API.

but

For those who have the issue related to `no logs are available` this is in fact on purpose from the docker-compose tooling.

see https://github.com/docker/compose/blob/master/compose/container.py#L196

Basically no log  from docker-compose if you use a plugin, not sure why. But docker logs should work still, if you want to use that.

If someone wants to

[2020-03-31 22:29] #1729 closed

[2020-03-31 22:47] cyriltovena commented on #1729
Not sure if you found your way around but we want to improve logql see https://github.com/grafana/loki/pull/1848 it might help if not let’s discuss it.

[2020-04-01 03:48] yang3808282 commented on #643
![image](https://user-images.githubusercontent.com/40430624/78097272-733d9000-740e-11ea-9b6e-a00e17025b2c.png)
there are right or wrong?

[2020-04-01 05:40] shkmaaz11 commented on #1872
Yes.Please find below.
loki_1      | level=info ts=2020-03-05T17:14:23.352667434Z caller=main.go:74 msg="Starting Loki" version="(version=master-b7e868a, branch=master, revision=b7e868ad)"

[2020-04-01 07:27] badsmoke commented on #1868
sorry i forgot the size of the log files.
one log file was about 300gb, so it was already three times as big as set, even if it is only per container

[2020-04-01 10:17] lianliange85 commented on #1347
I also have the same error, when using fluent-plugin-grafana-loki (1.2.11).  And i have labels with push request. My config as following:
`
<match *.**>
    @type copy
    <store>
       @type loki
       url  "http://loki:3101"
       username user
       password userpass
       tenant cloud
       <label>
          instance Hostname
       </label>
       <label>
          level log_level

[2020-04-01 11:43] yang3808282 opened #1876 "Loki clustered deployment configuration"
I have three computer:such as
**10.157.10.100,
10.157.10.101,
10.157.10.102,**
Now,I have completed the clustered deployment of consul，The configuration information is as follows:
10.157.10.100(server with web ui)
[code]
10.157.10.101(server follow node)
[code]
10.157.10.102(server leader node)
[code]
**Now i want to configure 10.157.10.100 as distributor,10.157.10.101 as ingester,10.157.10.102 as

[2020-04-01 11:52] yang3808282 commented on #1876
**

I configured a general loki.yaml file according to configure in the doc. The distributor, querier, and ingester modules all share this loki.yaml configuration file. Is this appropriate? Or how do I configure it?

**
[code]

**However,I run it with ./loki --config.file=loki.yaml -targer=distributor/ingester/querier，it not work。。。please help me,I just want to run loki with different module on di

[2020-04-01 12:56] Superset1986 opened #1877 "Pods/Namespace not showing in Loki/Grafana"
**Describe the bug**
When i open Grafana and do a Query with Explorer i don't see all my pods or namespaces.    When i look in the promtail log i see its finding the log for the missing pods but they are not showing up in Loki/grafana.

**To Reproduce**
Open grafana and do a query for pods with the "app" label
**Expected behavior**
i would expect to see all my pods with the "app" label . i have an

[2020-04-01 13:03] stefanandres opened #1878 "[helm loki/promtail] update of DaemonSet takes a long with a lot of nodes"
**Is your feature request related to a problem? Please describe.**
When deploying a change for the promtail DaemonSet, the configured default is to only rollover one pod at a time.
This may take 1 minute per pod. When you have a Cluster of more than a few Nodes, this will take an immensive amount of time for simples changes.

Current default:
[code]

**Describe the solution you'd like**
Since havi

[2020-04-01 13:35] #1877 closed

[2020-04-01 13:36] Superset1986 commented on #1877
Was simply because my pods hadn't had any log events since i deployed Loki.

[2020-04-01 14:14] christopher-grech opened #1880 "Promtail logs are malformed with multiple backslashes when log.level=debug"
**Describe the bug**
Promtail logs get malformed with multiple backslashes (...\\\\\\\\\\\\\\\\\\\\\\\\\\\...) whenever debug logging is enabled via the `-log.level=debug` command line argument.

**To Reproduce**
Steps to reproduce the behavior:
1. Started Loki.
    - Helm chart https://grafana.github.io/loki/charts, name: loki, version: 0.25.3
2. Started Promtail daemon set with "-log.level=debug

[2020-04-01 14:28] sakjur commented on #1872
Are you running Docker on Windows? There is a problem with container time desynchronizing while the computer is in hibernate which seems to manifest itself similar to what you're describing. See https://github.com/docker/for-win/issues/4526 for general details.

If that is your problem, it should be solved by following the steps below and will be solved by the Docker team going forward:

- restart

[2020-04-01 16:46] cyriltovena commented on #1880
Seems like you're shipping log wrapped in json (default docker format).

Can you share your promtail config ? I think you need to add docker stage. Not sure about those backslash yet.

[2020-04-01 16:54] christopher-grech commented on #1880
Yes, I am.  Docker stage is being added explicitly since I need to further parse the logs for specific applications. The promtail config looks like the below. I might have another issue here but the logs issue is preventing me from seeing what's wrong.  I'm specifying the `pipelineStages` value which is in turn applied to all default Kubernetes discovery configs.  I found some issues with the temp

[2020-04-01 18:48] #1720 closed

[2020-04-01 18:57] cyriltovena commented on #1880
[code]
You should keep service, level only. We will support parsing at in LogQL in Q2 this year and what's you doing here is going to kill Loki storage.

Can you try without rewriting the output ? Might be related to your problem.

Also to make it simpler your can pipe the log (take one example file) directly to promtail and use `--dry-run` that will give you informations as you build that pipelin

[2020-04-01 18:59] cyriltovena commented on #1880
I know you want to filter with those labels, but Loki is more powerful when doing brute force.

`{app="foo"} |= "service=A" |= "line=5"`

Here is what's coming too https://github.com/grafana/loki/pull/1848

[2020-04-01 20:44] cyriltovena commented on #1878
I think 25% is a sane default. And yes we would love a contribution to improve this.

Thank you :)

[2020-04-01 21:49] seankhliao opened #1885 "Output json logs for loki/promtail"
**Is your feature request related to a problem? Please describe.**
I want loki/promtail to output its own logs in JSON

**Describe the solution you'd like**
config for setting log format

**Describe alternatives you've considered**

**Additional context**
I've had a look at the code and it looks like it would need to be a coordinated change in
[github.com/weaveworks/common/server](https://github.c

[2020-04-01 22:03] cyriltovena commented on #1885
Yep that's correct, feel free to send us a PR, I don't think that should be too much work, we use gokit logger and it has a json implementation.

[2020-04-01 22:37] seankhliao commented on #1885
I'm more concerned that it needs changes in exported function signatures (inserting a format arg instead of just a level), at the very least in `NewPrometheusLogger` called by `InitLogger` in cortex

And possibly `logging.NewGoKit` and `logging.NewLogrus` in weaveworks/common since it wouldn't make sense to have a LogFormat field in the config struct be a noop?

[2020-04-02 04:56] omerlh commented on #1866
So promtail will send all the logs to a centralized loki instance?

[2020-04-02 06:53] #1681 closed

[2020-04-02 08:04] christopher-grech commented on #1880
I didn't think about the index storage accumulation issue, you're absolutely right; will do.  I would, however, want the log lines to be displayed neater in Grafana, hence why I wanted to only display the actual message and stack trace if the latter exists.  I can do without indexing the said labels since I noticed that the parsed fields are still extracted and sent together with the log line, wit

[2020-04-02 08:48] christopher-grech commented on #1880
I tried running promtail in dry-run mode by logging into one of the pods (as I believe that's what you meant in your comment) but I'm getting the following error:

`flag provided but not defined: -dry-run`

Attempted command:

`cat 0.log | promtail --dry-run --client.url http://127.0.0.1:3100/loki/api/v1/push`

Do I need to enable the dry run feature in some way?

[2020-04-02 09:09] shkmaaz11 commented on #1872
de

Thanks Emil. This worked for me.
Hence closing the issue.

[2020-04-02 09:09] #1872 closed

[2020-04-02 10:20] ushuz commented on #1868
@badsmoke Did you set log driver for the container in question with `docker run` or compose file? It might not inherit the options from `daemon.json`.

[2020-04-02 10:26] badsmoke commented on #1868
all containers were started by docker-compose, it also shows that the loki driver is used by default. i have also restart the computer and docker daemon and also several times  docker-compose down/up

[2020-04-02 10:53] ushuz opened #1886 "docker plugin: Cleanup stale JSON log files"
**Is your feature request related to a problem? Please describe.**
JSON log files created by the plugin for containers are not properly cleaned up after the corresponding containers getting removed or recreated. The leftover would gradually eat up free disk space. By default those files can be found at `/var/lib/docker/plugins/<id>/rootfs/var/log/docker/`.

Look at code, a file gets created in `St

[2020-04-02 13:12] slim-bean commented on #1851
/cc @pstibrany

[2020-04-02 13:21] slim-bean commented on #1714
@cyriltovena can you update this and identify any areas we haven't fixed?

[2020-04-02 13:23] cyriltovena commented on #1714
Closing let's create new issue if we found this again, I've already worked on this.

[2020-04-02 13:23] #1714 closed

[2020-04-02 13:41] slim-bean commented on #1663
@rfratto I think you mentioned there may be a fix for this soon?

[2020-04-02 13:46] cyriltovena commented on #1885
I see that you're doing the work on Cortex side awesome ! Thank you ! @gouthamve if you can assist it would be great.

[2020-04-02 14:03] cyriltovena commented on #1880
Yeah you need promtail 1.4 :)

[2020-04-02 14:04] cyriltovena commented on #1880
I'm with you here. I think you should download a log directly from kubernetes and try to debug locally so we can find what's going on. We might have a bug somewhere.

[2020-04-02 16:53] #1575 closed

[2020-04-02 21:34] dottedmag opened #1889 "fluent-bit output plugin accidentally encodes all strings values inside arrays in base64"
**Describe the bug**

Any log object with strings inside arrays (directly or indirectly) gets inserted int Loki with these strings base64-encoded, e.g. (abbreviated):
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Started Loki (any version)
2. Started `fluent-bit` from `master`
3. Published a log message with a string inside a `[]`
4. Queried this log message, got base64-encoding.

*

[2020-04-03 09:43] christopher-grech commented on #1880
I upgraded promtail and loki to v1.4.0 on my Kubernetes cluster in order to try the `--dry-run` feature.  I had to change its grpc listening port for it to work since the default port is already in use  by the instance running on the server.  Regardless, in the end, this is the output I'm getting.  I'm not seeing any logs pertaining to the parsing itself.

Command being executed:
[code]

Output:
[

[2020-04-03 11:38] cyriltovena commented on #1866
Yes that’s how we run it.

[2020-04-03 13:14] joe-elliott commented on #1700
I'm proposing adding an http endpoint `/suspend` that indefinitely stops all canary processes.

[2020-04-03 14:24] cyriltovena opened #1892 "Pipe to promtail doesn't work on linux"
Thanks to #1880 we've found out that pipe is not working correctly on linux. Although it works on fine on Mac and probably windows (cc @slim-bean).

[2020-04-03 16:15] #1520 closed

[2020-04-03 19:46] #1892 closed

[2020-04-04 15:14] rrajkomar opened #1895 "Allow separate fields for "short message" and "full message""
**Is your feature request related to a problem? Please describe.**
Most of the time, having only the log message does not provide enough information to solve a particular issue.
On the other hand having all the log information dispayed in the line can rapidly clutter the loki UI.
Having two fields (or having a way to split them but using a specific name within the log entry) coud allow having the

[2020-04-05 13:03] Punkoivan commented on #1876
Hello @yang3808282
I am just newbie here but looks like you're using boltDB while in docs
https://github.com/grafana/loki/blob/master/docs/operations/storage/README.md
said that boltdb doen't support cluster.

Try to use Cassandra if you're on-prem.

[2020-04-05 13:36] #1462 closed

[2020-04-05 16:39] vishnubraj opened #1896 "rpc error: code = Unimplemented desc = unknown service logproto.Querier"
**Describe the bug**
Not able to add loki as a datasource in grafana.

i am getting below error in loki

[code]

Loki reports
[code]

Below mentioned in my loki config.. both loki and grafana is not in the same server..

[code]

[2020-04-05 16:41] vishnubraj opened #1897 "entry out of order' for stream"
i am forwarding logs from fluentd to loki..
i am getting below mentioned error in loki. both the servers are having NTP configured and it is sync.

[code]

below mentioned in my loki config..

[code]

[2020-04-05 21:36] #1012 closed

[2020-04-05 22:39] yeya24 commented on #1897
We are getting a lot of these errors as well.

[2020-04-06 10:31] vishnubraj commented on #1896
this was due to etcd kv store, it was not setup properly..
changing it to inmemory fixed the issue..

[2020-04-06 10:31] #1896 closed

[2020-04-06 11:35] freggelicious commented on #1821
I'm experiencing the same issue. I run Cassandra as a Statefullset within my K8s cluster. For some reason my Cassandra cluster became unhealthy. I initiated a restarted of the Cassandra pods and the cluster was healthy again, but i got the same error as you mention. I was able to get it working again by restarting the Loki pod, but this is not preferred.

[2020-04-06 12:31] #1700 closed

[2020-04-06 12:42] owen-d commented on #1897
It looks like the label set (stream) in question only has one label: `{env="dev"}`. It seems like you have two servers; is it possible they're using the same `{env="dev"}` stream? That would account for these errors regardless of NTP or not. As a rule of thumb, the same stream should not be processed by multiple agents (promtail or fluent). I'd suggest an `instance_id` or `hostname` label to parti

[2020-04-06 13:02] owen-d commented on #1895
Hey, thanks for taking the time to think about this & put it into words. From what I can tell, this has two parts:

1) Be able to pass "hints" alongside log lines in returned data (such as, `format=json`)
2) Use (1) in Grafana to present a richer log viewing experience (expandable json, etc).

I can see (1) being a natural followup to the LogQL fields impl. (2) would definitely be on the grafana s