[2019-07-25 16:26] sh0rez commented on #799
Yes, take a look at the docs please:
https://github.com/grafana/loki/blob/master/docs/operations.md#scalability

[2019-07-25 16:26] #799 closed

[2019-07-25 16:34] zyclonite commented on #346
still happens with the current builds (2 days old)

the above query from @woodsaj results only in
[code]
but the following query `{cluster=~"*"}` will end up in a panic
[code]

[2019-07-25 17:06] tfchan0 commented on #799
Hi, sorry that not familiarize with ksonnet.  I was looking at using helm.  Based on the blog, do I have to run ingestor, etc independently?  Or I can scale up the Loki itself (with Helm)?

For example, can I run multiple Loki pods under the headless service and Promtail push the log to the service (and behind it will push to one of the Loki instance)?  Or Promtail needs to aware of all Loki pods

[2019-07-25 17:20] sh0rez commented on #799
There is not really a Loki. Loki consists of Ingesters, Queriers, etc.

The Helm chart currently runs a single one of each as a single process.

You will NEVER have a cluster of these single process instances. You will have to run each component individually, but you can scale individually then as well.

[2019-07-25 20:02] agolomoodysaada commented on #613
I would like to second @bigbrozer in that `master-7deb02b` appears to have fixed the OOMKill events for us as well.

[2019-07-25 21:17] #718 closed

[2019-07-25 21:26] #551 closed

[2019-07-25 21:30] Kuqd commented on #346
I'll take a look at this.

[2019-07-26 04:06] #797 closed

[2019-07-26 06:48] mizeng commented on #662
after latest memory PR, it looks better now.

[2019-07-26 06:48] #662 closed

[2019-07-26 07:49] khauser opened #800 "No chunks with azureblobs over minio"
**Describe the bug**
When enabling loki aws s3 storage (over minio to azureblobs since I realized #343) logging entries still appear in grafana but none in the defined "logs" bucket whereas the loki chunk data folder stays empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Started minio proxying azureblobs
`docker run -d -p 9000:9000 --name azure-s3 -e "MINIO_ACCESS_KEY=<azure-storage-ke

[2019-07-26 12:59] Kuqd commented on #346
So this will be fixed by https://github.com/grafana/loki/pull/654/files#diff-0fa3ae390d51a1a0294b3a2ba2041a9cR24 #654 I already spotted it there.

We just need to wait for it to be merged and this won't happen again.

[2019-07-26 13:13] Kuqd commented on #800
Hello @khauser,

The logs you're seeing in Grafana are from the ingestion path.

Chunks are flushed to s3 when they are full or idle for a long time.

[code]

`chunk_idle_period` is the idle period explained while `chunk_block_size` gives you the amount of characters to create a single block for a given chunks.  You need 10 block full to have a chunk full.

Once you reach one or the other you shou

[2019-07-28 14:23] dudusakharovich opened #806 "Loki server error: msg="error syncing tables" err="InvalidParameter: 2 validation error(s) found.\n- minimum field value of 1, UpdateTableInput.ProvisionedThroughput.ReadCapacityUnits.\n- minimum field value of 1, UpdateTableInput.ProvisionedThroughput.WriteCapacityUnits.\n""
**Describe the bug**
Tried to configure AWS S3 & DynamoDB as storage config.
Received the following error while running loki server:
msg="error syncing tables" err="InvalidParameter: 2 validation error(s) found.\n- minimum field value of 1, UpdateTableInput.ProvisionedThroughput.ReadCapacityUnits.\n- minimum field value of 1, UpdateTableInput.ProvisionedThroughput.WriteCapacityUnits.\n"

**Expecte

[2019-07-28 22:58] neoakris opened #807 "improve log deduplication by having a log parser do automatically discovery of log patterns"
**Is your feature request related to a problem? Please describe.**
datadogs was too expensive for me, but I loved it's log-pattern feature. https://www.datadoghq.com/blog/log-patterns/
(Basically, if I have 1000 logs in a timespan it'll tell me I have ~30 unique patterns and frequency count of how often a pattern appears)

**Describe the solution you'd like**
https://github.com/logpai/logparser
de

[2019-07-29 05:15] khauser commented on #800
I understand.

Then I know reached one of these over the weekend but the flush failes with:
`level=error ts=2019-07-29T05:10:48.550723833Z caller=flush.go:156 org_id=fake msg="failed to flush user" err="NoCredentialProviders: no valid providers in chain. Deprecated.\n\tFor verbose messaging see aws.Config.CredentialsChainVerboseErrors"
`

[2019-07-29 10:28] sandlis commented on #806
@dudusakharovich Can you please share your config for table manager or check whether you are setting read/write throughput to 0 by any chance?

[2019-07-29 10:47] alikhil opened #808 "Unable to find any logs to tail makes pods unhelthy"
**Describe the bug**
Promtail respond with `500 Not ready: Unable to find any logs to tail. Please verify permissions, volumes, scrape_config, etc.` if there are no logs to scrape which match scrape condition.

**To Reproduce**
Steps to reproduce the behavior:
1. Started loki (master-f2bec3b0)
2. Started promtail (master-f2bec3b0) to tail pods with label (monitor: spring-app)
3. Start deployment w

[2019-07-29 11:58] cyriltovena commented on #800
Something is wrong with your credentials, not sure exactly what as I never used azure, but you’re on the right track.

[2019-07-29 13:39] JnMik commented on #340
By the way, have you made any progress @cyriltovena  ?

[2019-07-29 13:51] srolija opened #810 "Promtail: Crashing when attempts to log to /tmp"
**Describe the bug**
When there is Kubernetes networking error, pod crashes because it is unable to log to `/tmp` directory inside the docker container running on Kubernetes.

**To Reproduce**
I don't have exact steps; but it seems that other libraries had the same issue as well https://github.com/containous/traefik/issues/1785.

**Expected behavior**
It should log to stderr instead of crashing.

[2019-07-29 14:10] cyriltovena commented on #340
Not yet merged, but you can use promtail to create those alerts in the meantime.

You can create metrics in promtail based on log retrieved from files, then scrape those promtail using a prometheus and create an alert.

(https://github.com/grafana/loki/blob/master/docs/logentry/processing-log-lines.md)

[2019-07-29 14:41] steven-sheehy commented on #810
It would crash regardless eventually if it couldn't connect to Kubernetes, so you should fix that problem first. I don't think mounting a volume just because a logging library is erroneously writing to a file is a good solution.

Looks like some projects like Kubernetes and [prometheus](https://github.com/prometheus/prometheus/pull/4931) addressed this by swapping glog with its api compatible [glo

[2019-07-29 18:13] steven-sheehy commented on #808
That's expected. You need to fix your scrape config to be able to scrape at least one pod. At minimum, it should be able to scrape itself.

[2019-07-29 18:47] chewrocca opened #812 "loki docker driver plugin panic runtime error in docker-ce 19.03.1"
**Describe the bug**
Loki Docker driver plugin panic runtime error in dockerd logs in docker-ce 19.03.1.  After upgrading to docker-ce 19.03.1, one of the containers (promregator) abruptly stops logging and enters into an unstable state.  Upon looking at the dockerd logs at the same time that promregator enters the unstable state, Loki docker driver receives the following in the dockerd logs:

[co

[2019-07-29 18:49] cyriltovena commented on #807
Interesting features indeed, However I'm not sure if we should implement this directly in Loki or within Grafana Explore.

WDYT @davkal  ?

[2019-07-29 18:58] cyriltovena commented on #812
It was working before ? but upgrading to docker docker-ce 19.03.1 triggered this ? What was the version before ?

I can add a fail safe there.

[2019-07-29 19:02] chewrocca commented on #812
Yes, this was previously working. This works without issue in 18.09.6 but fails with 18.09.7+.

[2019-07-29 19:56] cyriltovena commented on #812
Seems that this commit actually triggers something new that wasn't happening before. I'll send a fix asap.

[2019-07-29 20:06] #812 closed

[2019-07-29 20:07] cyriltovena commented on #812
Should be fixed with the latest version (currently building in our CI), let me know how it goes @chewrocca .

Thank you so much for the report ! ❤️

[2019-07-29 20:10] chewrocca commented on #812
Thank you so much for the super quick fix and attention to this issue!  I'll test this out.

[2019-07-29 20:10] cyriltovena commented on #810
I'm also happy to follow the same concept as they did here:

https://github.com/containous/traefik/pull/1817/files

Easy enough ! Help is appreciated for that one !

[2019-07-29 20:27] chewrocca commented on #812
Tested successfully in 19.03.1 and 18.09.7.  Thanks again!

[2019-07-29 21:05] slim-bean commented on #684
@sh0rez with the changes from #753 most of the pain points you mentioned were simplified with the exception of release, we have another issue #659 related to releasing, I think we are ok to close this issue and continue the discussion about release work there?

[2019-07-29 21:06] #684 closed

[2019-07-29 21:37] neoakris commented on #807
That's a really good point, if you implement it within Grafana then both Loki and Elastic Search could benefit.

[2019-07-29 21:46] slim-bean commented on #786
yeah those are some bizarre errors, something seems awry with your config.  Can you look at the promtail configmap and post it?

[code]

[2019-07-29 22:55] shane-axiom commented on #726
@sh0rez Thanks for taking on all these feature requests, much appreciated!

[2019-07-30 05:45] khauser commented on #483
@duythien Can you please tell us how?

[2019-07-30 06:37] duythien commented on #483
@khaines You need create new secret aws without slash `/` refer to https://rtfm.co.ua/en/grafana-labs-loki-using-aws-s3-as-a-data-storage-and-aws-dynamodb-for-indexes/

[2019-07-30 09:14] alikhil commented on #808
@steven-sheehy what if I don't want to scrape logs from all the pods in the cluster and scrape only pods of selected apps (which can be deployed only on some nodes, not all)? Seems like such a usecase is missed now.

I think it can be solved by passing some flag like `IGNORE_NO_LOGS`.

[2019-07-30 09:25] khauser commented on #800
Thanks to @duythien I'm now a bit further..

`"RequestError: send request failed\ncaused by: Put https://s3.http:.amazonaws.com/minio:9000/logs/fake/bb8b36685552d9f0:16c422ae9fb:16c422aeb0a:dc14f2a0: invalid URL port \".amazonaws.com\""`

So `s3://<azure-storage-key>:<azure-storage-secret>@http://<minio-host>:9000/logs` with `s3forcepathstyle: true` is reconfigured to an amazon request.

[2019-07-30 09:39] C123R commented on #786
@slim-bean Thanks for your reply. Below is the describe output of promtail CM.

Moreover, I would like to highlight: If I try running promtail with `grafana/promtail:latest` or `grafana/promtail:master` with same configmap it works.

[code]
[code]

[2019-07-30 11:12] Yivan opened #815 "[Website LOKI/Question] Update information about schedule/planning for release on the loki website."
Hello,

It would be nice to have more information on the loki website about when a stable release is planning or at least some clues.

It recently go from alpha to beta, but knowing stable release horizon would be of great help (end yer 2019, mid -2020, etc ?).
When do you think loki will be released ?

This issue can be pinned and renamed "Planned date for release" too, so any people going on git

[2019-07-30 12:01] tangkangrui commented on #199
I have the same error. I deploy loki promtail grafana in the same docker network.
Command `docker logs -f loki` shows `level=info ts=xxx caller=filetargetmanager.go.257 msg="Adding target " key="{job=\"varlogs\"}"`

I mount hostpath `/var/log` to promtail container, and there are some files named *.log.

[2019-07-30 14:21] adityacs commented on #765
@shane-axiom I am unable to reproduce this error. I can get the query working with both `--tail` and `--no-labels`

[2019-07-30 14:38] khauser commented on #800
I have it working now..

There were two issues:
* the segretKey is not allowed to a have a slash since it's an url which needs  to be parsed.. clear and I was blind
* First I used a `minio` named minio proxy container talking to azureblobs. This was not working with loki since the parser obviously searches for a dot in the url to decide whether it's a `amazonaws.com` call or not. I saw somebody (h

[2019-07-30 15:14] adityacs commented on #765
@shane-axiom I am unable to reproduce this error. Could you please provide more details?

[2019-07-30 15:23] sbenzakountradelab opened #818 "Pb using pipeline_stages"
I am trying to use promtail to label some logs but i have the same error and i don't understand how to handle it.

here is the config.yaml file:

[code]

Then i obtain the following error:

level=error ts=2019-07-30T14:10:54.775552347Z caller=main.go:45 msg="error creating promtail" error="failed to make file target manager: pipeline stage must contain only one key"

When i remove the element pipe

[2019-07-30 15:42] slim-bean commented on #818
can you put your config inside a code block (using three backticks)?

That error is generally representative of an indentation problem, yaml is whitespace sensitive.

[2019-07-30 16:19] sbenzakountradelab commented on #818
Hi, I just updated the yaml config file, i am not very familiar with yaml.

Thank you for helping me.

[2019-07-30 16:53] slim-bean commented on #818
Ok, I can see one issue, the indentation looks wrong to me after `-match`, should be like this:

[code]

See if that works better for you

[2019-07-30 17:54] cyriltovena commented on #807
related https://github.com/grafana/loki/issues/28

[2019-07-30 18:09] rfratto opened #819 "Metrics endpoint closed before Loki modules"
Even when running an ingester with a sleep period of 30 seconds, no shutdown metrics (`loki_ingester_sent_chunks`, etc.) are scraped by Prometheus. This is seemingly because the endpoint serving metrics may be shut down before any of the modules close:

https://github.com/grafana/loki/blob/459e4e3f4eb45be27262ac44133f7768340489ae/pkg/loki/loki.go#L140-L146

The server should likely stay alive for

[2019-07-30 18:15] cyriltovena commented on #199
looks like promtail is happy what about Loki any interesting logs ?

You do send logs right ?

[2019-07-30 18:47] cyriltovena commented on #800
Feel free to open a PR there and I will try to get this update in Loki.

Also if you got some time to add some documentation for running over azure, that sounds like a great thing to have for the community.

Thanks.

[2019-07-30 18:47] #800 closed

[2019-07-30 21:52] neoakris commented on #807
I'm not sure if the following belongs in a different ticket, but it's similar enough that I think it makes sense to include here. <-- If I'm wrong about this I'll move it to a separate feature request.
![image](https://user-images.githubusercontent.com/42470403/62166722-87654680-b2ef-11e9-9438-dee618637b2b.png)
^
Notice the option for pages 1, 2, 3 in the picture, it means there could be 200 - 300

[2019-07-31 00:49] cyriltovena opened #820 "Pipeline stages tooling"
The YAML configuration is quite hard to get right and the feedback loop is horrible.

It would great to have a tool that validates, lint and explains this configuration.

Cherry on the top that would be neat to be able to test with some real log line.

I’m thinking about building a small web ui container, we could also host it at Grafana so our users wouldn’t need to use docker at all. But first w

[2019-07-31 01:02] slim-bean commented on #820
one version of this I've seen with other tools and would like to do with promtail is to run the binary with a flag to your config file and something like `-stdin` where it doesn't tail files but just parses log lines from stdin and prints out how it would have been processed

[2019-07-31 01:03] slim-bean commented on #820
when we figure out a Loki website I think having a hosted config validator as you describe would be fantastic

[2019-07-31 08:12] sbenzakountradelab commented on #818
It solves my pb, thanks

[2019-07-31 08:12] #818 closed

[2019-07-31 13:38] Serrvosky opened #823 "Config File: field s3forcepathstyle not found in type aws.StorageConfig"
Hello guys,

I'm facing a problem with custom S3 implementation. I'm trying to send logs chunks to Scaleway Object Storage, but whem I start Loki, it sends to stout the following error:
`level=error ts=2019-07-31T13:21:58.6874542Z caller=main.go:46 msg="error loading config" filename=/etc/loki/loki.yaml err="yaml: unmarshal errors:\n  line 40: field s3forcepathstyle not found in type aws.StorageCo

[2019-07-31 14:59] adityacs commented on #823
@Serrvosky With latest version you should not get this error. Loki just refers to cortex for storage configurations and s3forcepathstyle support was added to cortex recently.
Make sure you have latest loki.

[2019-07-31 15:14] Serrvosky commented on #823
Thanks. Helm was installing some weird version (v0.1.0)...

[2019-07-31 16:09] #823 closed

[2019-07-31 17:18] #798 closed

[2019-08-01 09:00] Serrvosky opened #828 "Object Storage - Local Index, Cloud Chunks"
Is it possible to use local Boltdb as a index storage and Scaleway as object storage for chunks?

[2019-08-01 12:03] cyriltovena commented on #828
Does scaleway is an object storage like s3 ? It is possible but you need to a new storage integration this is in cortex.

[2019-08-01 12:24] pracucci opened #829 "TestGZIPCompression skipped"
The `TestGZIPCompression` in `pkg/chunkenc/gzip_test.go` is skipped because missing the fixture file `NASA_access_log_Aug95` (nice name, BTW).

Looking at the file history, the test is there since the beginning https://github.com/grafana/loki/pull/10.

@gouthamve may you elaborate a bit more on the purpose of that test (if you remember)? I would be glad to submit a PR to make it work, if you see a

[2019-08-01 14:15] Sharathmk99 commented on #767
After upgrading  to master also still same behavior.

[2019-08-01 14:22] pracucci opened #833 ""logcli query --tail" doesn't print any historic log until the first tailed log is ingested"
**Describe the bug**
When you run `logcli query --tail` with a `--from` you will get historical logs first and then new logs tailed from ingesters. However, the historical logs are not printed until the first tailed log arrive from any ingester.

**To Reproduce**
1. Started loki `master` version
2. Started promtail `master` version to tail `/tmp/test.json`
3. `echo "test" >> /tmp/test.json`
4. Run

[2019-08-01 14:23] pracucci commented on #833
@cyriltovena May you share some thoughts or ping someone who can share some light on the `heapIterator` expected behaviour, please?

[2019-08-01 14:30] cyriltovena commented on #833
No the heapIterator is fine the problem is more on the usage within the tailing package.

The heapIteror contains a list of EntryIterator, each of them are pre-fetch to be able to compare top lvl entries and decide which one should be the next one and which one is a duplicate.

In case of duplicate found the EntryIterator is advance before being place back in the the heap.

[2019-08-01 14:32] cyriltovena commented on #833
Ho yes I look at your code this is safe to add ! and yep it should fix the problem.

[2019-08-01 14:37] cyriltovena commented on #829
This was more a of proof concept hacking test. I think there is test testing compression and decompression if not you could add then but we should not use a file.

[2019-08-01 15:14] cyriltovena commented on #767
@Sharathmk99 We're going to need more informations (config used, error logs).

[2019-08-01 15:55] adityacs commented on #828
@Serrvosky Any storage service which has s3 compatible API can be used as Object storage. Please refer [s3](https://github.com/mizeng/loki/blob/ce980305d90dd17d05c23df51cddb3c3c673778d/docs/operations.md) section in the doc.
In case scaleway doesn't support s3 API, a new storage should be added in cortex to support scaleway as mentioned by @cyriltovena

[2019-08-01 16:19] sh0rez commented on #653
Hello everyone!
I can proudly announce that this has been finally implemented in b887602e3654d9525467ed0cde79884887d94749 :tada:

From now on, it is sufficient to just pull the docker image on the desired architecture and it should be the right one.

Currently supported are `amd64`, `arm64` (sometimes called `arm8` or `aarch64`) and `arm7`.
Thanks for your patience!

[2019-08-01 16:19] #653 closed

[2019-08-01 17:19] RRadziejewski commented on #653
Gr8 work, keep it up !!

czw., 1.08.2019, 18:19: sh0rez <notifications@github.com> napisał(a):

[2019-08-01 18:24] rfratto opened #838 "Provide both alpine and debian promtail images"
For the systemd journal support to work in the published Docker images (`grafana/loki`), we currently require promtail to be based on top of one of the Debian images due to the runtime depedency on `libsystemd.so`.

Since most users will likely not need this functionality and may desire an alpine-based image, one solution is to provide an alpine-flavor build of promtail with each release. (i.e., `

[2019-08-01 19:44] cyriltovena commented on #770
@cosmo0920 would you be interested into merging this into our repository ?

[2019-08-02 06:02] cosmo0920 commented on #770
Yeah. I'm interested in merging my fluent-bit go loki plugin here.

But, I have questions to start to work:

* How do we manage fluent-bit-go-loki dependent library dependencies?
  * `/vendor` should be separated from main [loki's vendor])(https://github.com/grafana/loki/tree/master/vendor)?
    * If not so, I still struggling to find how to manage vendor libraries because `dep ensure` command is

[2019-08-02 07:25] adityacs commented on #504
@cyriltovena I would like to take this.

[2019-08-02 08:08] jan25 commented on #504
@adityacs I couldn't work on this. Go ahead!

[2019-08-02 12:45] cyriltovena commented on #504
Please do ! I pinned the issue because we need this rather sooner than later.

[2019-08-02 12:46] cyriltovena commented on #74
Currently investigating this.

[2019-08-02 12:56] cyriltovena commented on #770
I think the ultimate goal will be to have an official plugin in the fluentbit repository. But let's fist incubate a version here. I'll get in touch with the fluentbit team see how that would work.

Right now we use dep. You can create a new `cmd/fluent-bit` folder.

You would still be able to contribute here, though you would need review first by us. However I'm working on a governance document an

[2019-08-02 13:44] cosmo0920 commented on #770
AFAIK, it must be written in C to become official fluent-bit plugin.
There is no exception for this.

[2019-08-02 13:45] cyriltovena commented on #770
Fair enough.

[2019-08-02 14:38] cyriltovena opened #843 "Improve Tail and Query in Loki mixin dashboard."
In the current Loki mixin, the __read querier__ and __read ingester__ dashboard aggregates Tail and Query within the same dashboard.  (__read_gw__ is fine)

https://github.com/grafana/loki/blob/master/production/loki-mixin/dashboards.libsonnet#L45

It should use `job_route:loki_request_duration_seconds_bucket` and filter out tailing rules. This is true for RPS and Latency.

At the same time it wou

[2019-08-02 14:39] cyriltovena commented on #828
If you really want scaleway, please do open an issue on cortex.

Thanks !

[2019-08-02 14:39] #828 closed

[2019-08-02 14:57] cyriltovena commented on #843
@slim-bean

and then add the `route="api_prom_query"` label

[2019-08-02 18:09] #659 closed

[2019-08-02 18:48] cyriltovena opened #845 "Panic in tailing code"
Stumble on this today

[code]

We should make sure this doesn't happen. Might be already fixed.

/cc @sandlis

[2019-08-02 21:37] cyriltovena commented on #74
I looked at it #399. There would be a lot of refactoring involved if we want to get this feature in the current pipeline, I would love to hear more about how this is useful before getting started. Basically how merging lines together helps is it a visual problem? Or is to improve storage of those ? Good example of workload emitting multiline logs ?

I want to know a bit more.

[2019-08-03 03:05] daixiang0 commented on #377
@cyriltovena hi, for a long time running cluster, restart is common, which mean too many soft links become useless, while promtail will list all useless links and print warn info as latest version does. Those logs could hide true useful log i think.
I want to record all useless links in memory or file to do suspect, if you also think it is good to achieve, i will do it, wait for feedback.

[2019-08-03 03:13] daixiang0 commented on #638
@cyriltovena Hi, As #644 said, now can not use viper to do this.
How about use #639 for now?

[2019-08-03 03:19] #526 closed

[2019-08-04 07:38] ventris commented on #74
Java stacktraces are always multiline.

One of the problems with not having access to the full event is that it makes it much harder to search for other similar events because that the linebreaks can cut javaclasses in half and thus does not paint a real picture of what happened in the logs on the server.

Another thing is if the example below is handled with multiple logs instead it is really har

[2019-08-05 05:37] #833 closed

[2019-08-05 07:01] pennpeng commented on #808
+1

[2019-08-05 12:20] cyriltovena commented on #696
This should be fixed by 0.2.

[2019-08-05 12:20] #696 closed

[2019-08-05 12:21] cyriltovena commented on #613
Fixed entirely by 0.2

[2019-08-05 12:21] #613 closed

[2019-08-05 12:22] cyriltovena commented on #196
Fixed in 0.2

[2019-08-05 12:22] #196 closed

[2019-08-05 12:24] cyriltovena commented on #191
You should not need more than 10gib now even if you're using Loki intensively.

[2019-08-05 12:24] #191 closed

[2019-08-05 13:59] steven-sheehy commented on #74
Above, plus Grafana only shows them in descending order by time, so stacktrace is upside down from how it should appear. Also makes emoji art impossible to see, which a lot of java apps print on startup. :)

[2019-08-05 17:27] ArthurSens commented on #144
Does the version `v0.2.0` provides any command line flag like `--web.external-url` from prometheus already? Or is it comming out with version `v0.3.0`?

[2019-08-05 17:29] adamdecaf commented on #144
There's `-server.path-prefix=/loki/`

[2019-08-05 17:36] #504 closed

[2019-08-05 18:30] slim-bean opened #852 "Fix helm chart testing and deployment"
Currently we push (and overwrite) the helm chart with every push to master, @steven-sheehy had introduced a change to address this in #677 but I closed this issue as the original PR is now fairly diverged from master with the latest round of changes to the build and release process.

The issue around Helm charts still exists, and also there is a chicken/egg problem with helm chart testing during r

[2019-08-05 22:28] Sharathmk99 commented on #701
@cyriltovena I was unsuccessful to configure Promtail as sidecar. Can you please me with basic example, it would be great to get started. Please help.

[2019-08-06 06:56] sandlis commented on #845
I was suspecting this might be happening due to server stopping before closing websockets, it seems it is not the case. If you see it again please let me know, will check it out.

[2019-08-06 16:11] leonallen22 commented on #196
Much appreciated! Would have been useful for convincing the team to stick with Loki if we had some feedback that this was being worked, but that's okay.

[2019-08-06 17:58] javefang commented on #765
I'm using logcli v0.2.0, experiencing the same error.

[code]

[2019-08-06 21:35] #829 closed

[2019-08-06 22:02] billimek commented on #24
This is the last thing preventing me from dumping elasticsearch - would love to see this implemented!

[2019-08-07 00:43] slim-bean commented on #24
Hey @billimek, journalctl is implemented but we are sorting out the best way to package promtail with this support, is journal support what you are looking for?

[2019-08-07 06:35] wagdav commented on #24
We're using the systemd journal scraper since a couple of weeks now in production and we are very happy with it.  We are building promtail from source and used [this configuration example](https://github.com/grafana/loki/blob/master/docs/promtail-examples.md#simple-systemd-journal-config) to set it up.

[2019-08-07 09:40] temal- commented on #702
I got the same scenario and problem with a self-created dynamodb on `v0.2.0`.

What are these tags supposed to look like, @sandlis?

[2019-08-07 10:12] sandlis commented on #702
@temal- They are supposed to be `key=value` pairs. I haven't tried them but looking at following links I feel that is how they are supposed to be defined.

https://github.com/grafana/loki/blob/master/vendor/github.com/cortexproject/cortex/pkg/chunk/schema_config.go#L325
https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Tagging.Operations.html

It would be great if you can give it a

[2019-08-07 11:04] temal- commented on #702
Ah, I think I got it. When I add tags to the dynamodb table I also have to define them in the loki configuration?

When I delete the tags on the dynamodb table (that I set there manually), the error message disappears.

[2019-08-07 11:25] sandlis commented on #702
Maybe, can't tell for sure. Error message atleast says so when they need to be set.
So It seems its not actually an issue in Loki. Closing this.

[2019-08-07 11:25] #702 closed

[2019-08-07 12:00] temal- commented on #702
Where/how do I define the tags in the loki configuration?

The error message is thrown by loki but it isn't an issue in loki? I don't understand.

[2019-08-07 12:15] sandlis commented on #702
Ohh, sorry about that. I thought it worked for you.
It would go under `schema_config` -> `configs` -> `index`
For example, if I would use dynamodb [here](https://github.com/grafana/loki/blob/master/cmd/loki/loki-local-config.yaml#L23-L25), I would change it to following:
[code]

[2019-08-07 12:40] temal- commented on #702
It worked after I removed the tags, but I want to keep the tags. ;)

Thanks a lot. Now it's working!

[2019-08-07 14:57] ArthurSens opened #866 "Loki-Docker-Driver doesn't work with Docker 1.13.1"
**Describe the bug**
Loki-Docker-Driver doesn't work with Docker 1.13.1

**To Reproduce**
Install docker
Install loki-docker-driver plugin
Try to run any container using loki as log-driver
[code]
I'll get the following error
[code]

**Expected behavior**
Container starts as it should be and send logs to loki

**Environment:**
[code]

**Aditional Information**

I've tried the same thing but changin

[2019-08-07 23:35] Sharathmk99 commented on #701
@cyriltovena can you help me to implement different client per promtail job with org Id. I can change the source code as need with you guide. Please help to point which module I have change under promtail source code.

[2019-08-08 01:34] cyriltovena commented on #701
I'd would like to think about a solution for everyone, give me some time to think about

[2019-08-08 01:35] cyriltovena commented on #701
To me this issue make sense to support

[2019-08-08 02:09] mizeng opened #868 "Likely Memory Leak for Distributor"
**Describe the bug**
I've deployed 1 Distributor with 4U 20GB RAM, 2 Ingesters only with 4U 20GB RAM. Ingester works well, however from the Memory Usage Dashboard, I find a periodically pattern that memory increasing and finally use up all the memory in Distributor.
![Screen Shot 2019-08-08 at 10 02 44 AM](https://user-images.githubusercontent.com/8059086/62669832-b0f33180-b9c3-11e9-8943-6af2baee6

[2019-08-08 06:50] Sharathmk99 commented on #701
Yes sure. I'll try to implement your solution and create pull request here so that everyone can use. Thank you. Waiting for you solution.

[2019-08-08 06:56] mizeng commented on #868
Attach the heap usage graph as below
![Screen Shot 2019-08-08 at 2 55 03 PM](https://user-images.githubusercontent.com/8059086/62681553-879acb80-b9ec-11e9-9e58-e5e56205dcee.png)

Seems there's leak at `distributor(*Distributor) Push` and `json(*decodeState) literalStore`.

[2019-08-08 09:17] zwennesm commented on #551
@mizeng Which native protocol are you using for Cassandra?

I am running `[cqlsh 5.0.1 | Cassandra 3.11.1 | CQL spec 3.4.4 | Native protocol v4]` but I still get the following error:

[code]

[2019-08-08 09:22] mizeng commented on #551
mine: `[cqlsh 5.0.1 | Cassandra 3.11.4 | CQL spec 3.4.4 | Native protocol v4]`

[2019-08-08 09:34] zwennesm commented on #551
So it seems that's not the issue. I am using the following config

[code]

[2019-08-08 10:39] zwennesm commented on #551
Update for whoever hits the same error: removing the `timeout` and `connect_timeout` from the configuration seemed to have solved the issue.

[2019-08-08 11:41] piontec opened #872 "journalctl scrape is not working"
I'm trying to use this example: https://github.com/grafana/loki/blob/master/docs/promtail-examples.md#simple-systemd-journal-config

to get logs from journald, but it doesn't seem to work. Tested on ubuntu 18.04.

My `/var/log` layout:
[code]

The promtail config file:
[code]

`static_config` works ok, `journal` just logs this on startup:
[code]

promtail version:
[code]

[2019-08-08 12:33] slim-bean commented on #872
We currently do not have any promtail images with systemd support, we are trying to sort out the necessary CGO settings for this to work properly.

Currently you can build promtail from source with systemd support enabled:

https://github.com/grafana/loki/blob/master/production/README.md#build-and-run-from-source

We hope to have this fixed within a week or so.

[2019-08-08 12:44] slim-bean commented on #868
Thanks @mizeng for all the info, love these detailed issues!

Looking back at the last 7 days of our distributor memory usage and we are not seeing this same behavior.

I'm wondering though if this might just be a scaling issue?  For similar throughput we currently have 7 ingesters and 5 distributors, (although I think we are overprovisioned on ingesters).

Can you try scaling up and see if the me

[2019-08-08 14:40] tivvit opened #873 "Client module dependencies"
`go run .`

[code]

go.mod
[code]

I know it is not Loki issue, but it makes it hard to use the client. And the same issue has to be encountered during compiling Loki itself.

[2019-08-08 22:00] tivvit commented on #873
I have solved the issue.

I used dependencies from the Loki itself and cleaned it with `go mod tidy`.

Consul dependency has to be freezed https://github.com/hashicorp/consul/issues/6019
`github.com/hashicorp/consul v1.5.1`

Here is my final `go.mod` if someone else encounters it
[code]

[2019-08-08 22:01] #873 closed

[2019-08-09 00:22] mizeng commented on #868
@slim-bean  Thanks. I would try.
BTW, what's the reference usage of Distributor and Ingester? I mean cpu/mem ratio for them (x cpu cores and y GB RAM), and number ratio for them (like how x Distributors with y Ingesters).

For the throughput, I think 25-30 MB/s is not so high? During my previous testing, seems one Ingester can hold this about 23MB/s. Distributor is only responsible for receiving s

[2019-08-09 00:25] mizeng commented on #551
mine is as below, I use timeout and connect_timeout which is working normal.
[code]

[2019-08-09 00:46] slim-bean commented on #868
At this point we don't have much for guidelines on capacity/scaling, I hope that will come soon.  These are good questions you are asking, thank you for laying them out so clearly.

In addition to just sending to the ingesters, the distributors are also responsible for applying limits (may not be implemented yet) and some rules (like validating labels), so they do look at the log stream.

Generall

[2019-08-09 00:52] mizeng commented on #868
Thanks a lot for your info! I learn more about Distributor.

I doubt JSON too, maybe one push request should not consist 4k entities or maybe it can not support total 25MB/s JSON input.

Considering Protobuf, however our upstream is written in Java Code, before tuning json performance, is there any simple tool to transform this JSON to Protobuf in Java?

[2019-08-09 01:09] slim-bean commented on #868
If you have access to the log data before it gets serialized to json you can do even better and just serialize to protobuf instead.

If you install the [google protobuf compiler](https://github.com/protocolbuffers/protobuf) you can do something like this from the loki root folder:

[code]

For me that created the java class `logproto/Logproto.java`, I think there are other flags you can use to set

[2019-08-09 01:52] mizeng commented on #868
Great, I would love to try this.

[2019-08-09 08:26] geekodour commented on #808
@alikhil
this two links might be useful to get you `scrape_config` right, you can select what you want to scrape using relabel configs:

https://prometheus.io/docs/prometheus/latest/configuration/configuration/#relabel_config
https://prometheus.io/docs/prometheus/latest/configuration/configuration/#kubernetes_sd_config

[2019-08-09 09:37] rverma-nikiai opened #875 "Runtime component sharing with cortex"
**Additional context**
Create a parent issue in cortex project https://github.com/cortexproject/cortex/issues/1568.
Assuming that most of changes would be require there only.

I do believe that if evolved correctly we can use the same process like table-manager, ingestor etc to store jaeger traces as well. May be some other things(e.g. events) which can evolve the product suite.

[2019-08-09 09:46] adityacs commented on #866
@ArthurSens Issue might be due to docker [error](https://github.com/moby/moby/issues/35553). It's fixed only in 18.0.3-ce. Kindly refer [here](https://github.com/docker/docker-ce/releases?after=v18.06.1-ce-rc1)

[2019-08-09 11:16] previ opened #7408 "Loki/Grafana/Promtail: document multitenant configuration"
It should be possible to configure Loki/Grafana/Promtail in order to achieve multitenancy:

- Separate teams administering applications deployed in separate kubernetes namespaces should be able to access only the log data generated by pods deployed in the namespaces

Current situation
In the loki/promtail docs a multitenant configuration is described: ([here](https://github.com/grafana/loki/blob/f

[2019-08-09 11:44] #765 closed

[2019-08-09 12:18] ahrkrak commented on #699
@mizeng would love to know if you've got Loki now working with Ceph as we're about to try doing the same thing...

[2019-08-09 12:42] ArthurSens commented on #866
The error mentioned in this issue is a little different, because he was able to run a docker container with `docker run` at least once. But yeah, I think it is a docker issue.

Sadly, I can't upgrade the docker version to community edition, so I think I'll wait for the promtail image with journal support, mentioned [here](https://github.com/grafana/loki/issues/872#issuecomment-519498763).

Thank y

[2019-08-10 17:36] Morriz opened #878 "loki/loki helm chart: template "promtail.name" does not exist"
There is exactly one reference in the entire chart for template "promtail.name" in `networkpolicy.yaml`, but no delaration of the template itself...

[2019-08-10 19:08] paiou commented on #759
I tried to connect to Scaleway S3-compatible storage and encountered the same issue to set the region.
AWS_REGION is overridden by `.WithRegion("dummy")`. Removing just this part of the code works perfectly fine.
I created PR 859 to fix it.

[2019-08-12 00:14] mizeng commented on #699
@ahrkrak  Ceph Object Store? Yes, it is working.

[2019-08-12 04:46] vukor opened #881 "Retention/Deleting old data doesn't work"
**Describe the bug**
Looks like the retention/deleting old data doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Started loki (v0.2.0 version) with config:
[code]
**Expected behavior**
Data older than 24h should be removed from loki storage. But I see the 3 days old logs in grafana -> "Explore Loki".

**Environment:**
 - Infrastructure: Kubernetes 1.13.9
 - Deployment tool: helm

[2019-08-12 04:55] sandlis commented on #881
Can you please share list of of all the files with mtime in /data/loki/index?
Also please share logs of table manager.

[2019-08-12 04:57] vukor opened #882 "promtail docker image doesn't support journald"
**Describe the bug**
promtail docker image doesn't support journald.

**To Reproduce**
Steps to reproduce the behavior:
1. Started promtail ("grafana/promtail:v0.2.0") with config:
[code]

**Expected behavior**
Promtail send journald logs to loki.

**Environment:**
 - Infrastructure: Kubernete 1.13.9
 - Deployment tool: helm

**Terminal output**
Promtail log:
[code]

**My workaround**
As temporary

[2019-08-12 05:12] adityacs commented on #882
@vukor

 It will be available soon. Please refer #872

[2019-08-12 05:17] vukor commented on #881
Sure, here index files:
[code]

Table manager log:
[code]

[2019-08-12 05:19] vukor commented on #882
@adityacs thanks, I'm going to close issue.

[2019-08-12 05:19] #882 closed

[2019-08-12 05:41] sandlis commented on #881
As per table manager logs I do not think you should see 3 days old logs. Can you please verify it again? Try calling this loki api `/api/prom/label?start=1565328214958389782&end=1565338214958389782`
Also share logs for which duration are you seeing which are not supposed to be there.

[2019-08-12 08:24] vukor commented on #881
[code]

Here first time logs in 2019-08-09 18:00 - 2019-08-09 18:02 time duration:

![Screenshot 2019-08-12 at 15 09 38](https://user-images.githubusercontent.com/4919948/62852717-6e5b8d00-bd14-11e9-8e8e-2408b9800f15.png)

p.s. Hmm.. Loki was started at 2019-08-**08** 18:00 and I don't see any logs at 2019-08-08 time duration, but expected behavior for me is auto removing all logs older 24 hours.

[2019-08-12 09:15] sandlis commented on #881
Can you please confirm once whether the same config is applied to all the services?
As per my understanding, index for logs from above screen capture should be in table `index_36236`.
From table manager logs it seems index file got recreated after its deletion since there are 2 entries there:
[code]
Same is the case for `index_36234`. I suspect this can happen when old logs are getting pushed. I s

[2019-08-12 11:14] jralph commented on #451
@garo Was this documented? I can't seem to get environment/non-hardcoded config to work.

[2019-08-12 11:36] garo commented on #451
Good question. I have to check myself. In the mean time here's a snippet how my loki values.yaml looks which I use for the helm. Hopefully this give you enough clues:

[code]

[2019-08-12 12:20] martinbaillie opened #884 "loki-mixin: Mixin import for Grafana dashboards fails"
I attempted to import the Loki mixin to my existing setup with:
`+ (import 'loki-mixin/mixin.libsonnet')`, however, only the rules and alerts are output—no dashboards.

I'm no expert on the jsonnet stuff but think this is because the `dashboards.libsonnet` is not following the key name convention set out in [monitoring mixin design doc](https://github.com/monitoring-mixins/docs/blob/master/design.

[2019-08-12 19:06] marthydavid opened #885 "Cross build image is not working"
I've tried to deploy the fresh new grafana/loki:v0.2.0 and grafana/promtail:v0.2.0 images via the loki-stack helm chart. Also tested the master tagged image. But it's not able to run, as far as i know because the binary is not arm32/armv7/armhf architecture

I'm running it on a 2 node Raspberry Pi 4 "cluster".
[code]
[code]

[code]
Hostname and ip-s are mocked.

[code]

[code]

Last try:
[code]

S

[2019-08-12 20:00] sh0rez commented on #885
Hi, I was able to reproduce this and yes, while the images are built for the correct architecture, the included binary is indeed wrong.

This was due to a tiny ordering mistake in the `Dockerfile`, which should be resolved by #886.

Please try `master` once this is merged.

[2019-08-12 20:04] #885 closed

[2019-08-12 20:17] marthydavid commented on #885
Build is failed for promtail arm64
https://circleci.com/gh/grafana/loki/9388

[2019-08-13 03:22] martinbaillie commented on #884
This appears to be possible after the import with: `({ grafanaDashboards+:: $.dashboards })`

[2019-08-13 07:38] alikhil commented on #808
@geekodour thank you! Could you tell me what is mean to be `right` for `scrape_config` so that promtail will not fail if there is **nothing** to scrape?

[2019-08-13 08:01] marthydavid commented on #885
@sh0rez.
I've managed to build the image on my mac with the following commands from 600b6c
[code]
[code]

[2019-08-13 12:11] Poil opened #892 "positions.yaml is create with 700 mode"
Hi,

On fresh installation, the positions.yaml file is create with 700 mode. Not needed to be an executable file.

Config
[code]

SystemD unit-file
[code]

Best regards

[2019-08-13 12:56] tlinhart commented on #74
Python stack traces are the same:

[code]

It's all about the context. Only complete log record holds the whole context, not any single line.

[2019-08-13 13:07] #892 closed

[2019-08-13 14:29] javefang commented on #429
I'm also having this problem, it does look like the symlinks in `/var/log/pods` are not cleaned up after the actual log files under `/var/lib/docker/containers` have been removed by the docker daemon (our setting keeps 3 log files for each container). This behaviour seems pretty normal and fluent-bit doesn't seem to complain. Maybe it is safe to make promtail ignore this error? (or print it in `le

[2019-08-14 06:39] vukor commented on #881
@sandlis
Thanks for help, the index files were rotated, so it looks good:
[code]

[2019-08-14 06:49] vukor commented on #881
@sandlis
Thanks for help, the index files were rotated, so it looks good:
[code]

Old chunks files looks rotated too:
[code]
Can’t figure out  where the old messages came from. Let me a couple days to check, after this I’ll share my results.

[2019-08-14 16:05] pracucci commented on #845
@cyriltovena An hypothesis is the `tailClients` map - returned by `Querier.tailDisconnectedIngesters()` - contains a `nil` value (if you manually add it, the stack trace you get is the same of you, obviously with different memory addresses).

Looking at the `tailDisconnectedIngesters()` implementation, isn't the case possible if `q.ring.GetAll()` omits an ingester which is listed in `tailDisconnec

[2019-08-14 16:10] sandlis commented on #845
I doubt that would be the case, otherwise code at other places which also use ring for querying ingesters would also have panicked. Would still check for surety.

[2019-08-14 16:11] pracucci commented on #845
@sandlis Can you elaborate on this, please? Do you mean it's not possible an ingester leave the ring?

[2019-08-14 16:24] sandlis commented on #845
Ring would most likely just not return ingester which is leaving or left.

[2019-08-14 16:28] pracucci commented on #845
Ok, that was my initial hypothesis. If so, then look at this

[code]

If an ingester which was previously in the ring (passed as `connectedIngestersAddr`) now is no more returned by `q.ring.GetAll()`, then `tailClients` (which is returned by this function) will contain `nil` for that ingester address, causing the panic.

Am I missing anything?

[2019-08-14 16:40] sandlis commented on #845
This code only conn to disconnected ingesters. The for loop removes those nil entries.

[2019-08-14 16:42] pracucci commented on #845
The second for loop iterates over the output of `q.ring.GetAll()`, so if a previous ingester is not returned anymore from `q.ring.GetAll()`, that ingester address will be kept in `tailClients` with `nil` value.

[2019-08-14 16:46] sandlis commented on #845
Ohh, you are right. Sorry, was reading code on my phone so missed that bit. Will fix it.

[2019-08-14 16:46] pracucci commented on #845
@sandlis I'm already working on a PR to fix it (while validating the idea with you). I will submit the PR in the next few hours 🙏

[2019-08-14 16:47] sandlis commented on #845
@pracucci Thank you so much for taking care of it!

[2019-08-14 20:18] #845 closed

[2019-08-14 21:03] #819 closed

[2019-08-15 08:52] laitalaj opened #898 "Out-of-order errors with log streams from multiple services despite unique labels"
**Describe the bug**
We are getting some "400 entry out of order for stream" -errors in our multiple-sending-hosts, multiple-sending-processes setup despite every host-process combination having unique labels.

According to [this comment](https://github.com/grafana/loki/issues/168#issuecomment-465665648), we should be able to have multiple parallel log streams getting pushed into Loki as long as t

[2019-08-15 14:40] zarbis opened #899 "Promtail crash loop during k8s master upgrade"
**Describe the bug**
During k8s master upgrade process Promtail enters crash loop. Not sure if it's expected behavior.

**To Reproduce**
Steps to reproduce the behavior:
1. Started loki 0.2
2. Started promtail 0.2
3. Started k8s master upgrade

**Expected behavior**
Promtail keeps collecting logs during master upgrade.

**Environment:**
 - Infrastructure: GKE v1.11.10-gke.5 => v1.12.9-gke.7
 - Dep

[2019-08-15 14:44] slim-bean commented on #899
This is from a promtail instance running on the master node?

[2019-08-15 14:46] zarbis commented on #899
@slim-bean On GKE master node is unseen to end user. Promtail crashes on EVERY node, forgot to mention that important detail :)

[2019-08-15 15:00] slim-bean commented on #899
interesting... we are on GKE mostly too and recently upgraded our masters, will have to look and see if we had the same issue, we are using the ksonnet config rather than helm which are mostly the same (I think with the exception of where the positions.yaml file is stored)

[2019-08-16 05:44] pracucci commented on #899
According to the output, /tmp has been mounted as read-only and since the position file is written there in your setup, promtail fails to write it.

I would suggest you to investigate:
- Is /tmp intentionally read-only?
- If yes, switch the positions file to a different read-write location

[2019-08-16 07:38] DeepLJH0001 commented on #525
I had resolve this problem，using the nginx-ingress annotation,so it can work well in muti-cluster scene.
the request path may like : `muti-cluster->muti-promtail->specific ingress in the cluster which was set to manager-plane and has deploy loki ->loki received`

an example ingress for you
[code]
if your loki was runing in `https`, please ignore this `nginx.ingress.kubernetes.io/ssl-redirect: "fal

[2019-08-16 08:04] yevgenypats opened #902 "Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers (This is generic step not-connected to fuzzit)
- Continuous Fuzzing of master branch which will generate new corp

[2019-08-16 10:43] adityacs commented on #899
The issue is related to #810. I guess it's the same glog library problem

[2019-08-16 13:27] fmcardosom opened #903 "Problem install CentOS 7"
While installing on CentOS 7 this is happening:

[root@itcos7snoop01 loki]# go get github.com/grafana/loki
can't load package: package github.com/grafana/loki: no Go files in /root/work/src/github.com/grafana/loki

Any thoughts ?

Regards,

FC

[2019-08-16 13:30] rfratto commented on #903
Hi! That's [normal](https://github.com/grafana/loki/blob/master/CONTRIBUTING.md) since we don't have any .go files at the root of the project. You can either run `git clone` or `go get github.com/grafana/loki/...` to get the code.

[2019-08-16 14:53] slim-bean opened #904 "Promtail unbounded memory consumption when Loki is not available (or when there are errors sending logs)"
**Describe the bug**

The way logs are read/sent currently are two discrete processes which result in log lines being held in memory during retries on send to Loki, while new lines continue to be read.  This can lead to a large volume of memory being consumed if reading a lot of log lines while promtail attempts to resend logs.  This is currently unbounded as there is no feedback between the readi

[2019-08-16 14:58] fmcardosom commented on #903
Thank you

[2019-08-16 15:41] tlvenn opened #905 "Add support for OpenStack Swift storage"
It would be great if object_store could use OpenStack Swift containers.

[2019-08-16 16:08] #903 closed

[2019-08-16 17:05] slim-bean commented on #904
Looking at this a little closer I think my assumptions about how this is happening are wrong.  It seems that the reading->sending might be synchronous and the memory growth is a function of many many log files being read simultaneously.

The bigger concern is that with multiple clients configured, if one client is not available it will hinder logs being sent to the other.

[2019-08-16 17:53] adityacs commented on #905
@tlvenn Loki supports any object storage with S3 compatible APIs. Swift supports S3 APIs as mentioned [here](https://docs.openstack.org/swift/latest/s3_compat.html).

Also, Please refer S3 section in this [doc](https://github.com/grafana/loki/blob/master/docs/operations.md)

[2019-08-17 00:58] tlvenn commented on #905
Yes I know but this middleware is optional and some cloud providers choose not to enable it, OVH for example as far as I know.

[2019-08-17 04:55] adityacs commented on #905
@tlvenn Loki is dependent on Cortex for storage implementation. Could you please raise an issue in [cortexproject/cortex](https://github.com/cortexproject/cortex) ?

[2019-08-18 17:04] angelbarrera92 opened #908 "Loki helm chart - extra-containers"
Hi.

I was looking for a solution to deploy loki in a multi-tenant way. Documentation exposes that an `auth_enabled` flag has to be set up to `true`. But, it needs a reverse proxy to inject some headers along with the authentication layer.

I made a POC modifying a rendered loki helm chart template and i think that making available the possibility to add extra-containers, extra-volumes and extra s

[2019-08-19 01:44] tlvenn commented on #905
Sure will do. Quick question related with Cortex. Is it on the roadmap to be able to have 2 stores, one for recent data only that could be co located with the service and one long term to store all the log that would leverage S3 and the like ?

[2019-08-19 01:45] tlvenn commented on #905
Or does Cortex support both Short & Long term storages ?

[2019-08-19 01:50] tlvenn commented on #905
@tomwilkie, it would be great when you have the time to shed some light on this, thx in advance !

[2019-08-19 06:11] TakumaNakagame opened #912 "Save logs to ElasticSearch"
I want to use ElasticSearch as the log data storage destination

I am building Kubernetes on premises. Building a PersistentVolume in Loki is hard.
But there is already ElasticSearch. It is best to be able to store logs in ElasticSearch.

Like Prometheus RemoteStorage.

[2019-08-19 11:28] Morriz opened #913 "explain storage endpoint configuration"
The `storage_config` configuration is inconsistent for aws, and as such it makes me wonder what I need to know to work with it. Consider the following example from your documentation to work:
[code]
Now, here the chunks config is plucked directly from `storage_config.filesystem`, and same analogy goes for the default boltdb setup. It implies that each section in `storage_config` can be a separate

[2019-08-19 15:33] #769 closed

[2019-08-19 16:22] pracucci commented on #904
Have you been able to reproduce it? If yes, may you share more details, please? I was trying to reproduce it without much success.

[2019-08-19 16:27] slim-bean commented on #904
I have not been able to reproduce, no, I wrote an app to generate a lot of log files (1000) and populate them locally however, memory consumption seems to peak and not climb unbounded.

The only difference between what I was testing and what was reported, I was running promtail pointing to a port where no Loki exists.  The original report was sending logs to Loki and getting back 400 errors for ti

[2019-08-19 17:31] pracucci opened #915 "promtail skip logs on Loki unavailable for a short time"
**Describe the bug**
When Loki is unavailable (down, network partitioning, ...) `promtail` keeps sending a batch of tailed logs until the `backoff_config` `maxretries` is reached. Once reached, the batch is discarded and promtail tries to push the next batch of lines read from a file.

The backoff implementation is [inherited from Cortex](https://github.com/cortexproject/cortex/blob/master/pkg/uti

[2019-08-19 18:18] Morriz opened #916 "clarify retention: period vs duration"
Please explain:
`[NOTE] Retention period should be at least twice the duration of periodic table config, which currently defaults to 7 days.`

What is `the duration of periodic table config`? Why does it exist and what is the relation to the period?

[2019-08-19 18:21] RobertLivermore opened #917 "Loki windows amd64 release binaries"
Would like to run Loki on a Windows Server / window amd64. Cannot find compatible binaries windows release. Can you provide directions on how to make windows build of Loki or provide the zip archive of the binaries on the release tab.
Thanks

[2019-08-19 18:57] slim-bean commented on #917
A while back there were issues building on Windows, thought I just tried it an it seemed to work.

If you check out the source you should be able to run:

`make GOOS=windows loki`

The build was successful for me but I don't have a windows machine available to test at the moment.

If it works we can update the release process to auto generate windows binaries for Loki as well

[2019-08-19 19:20] rfratto opened #918 "journal reading: Timestamp too old errors"
Because the journal reader starts from the very beginning of the journal (i.e., not even the current boot, but the very first entry in the journal), promtail may end up sending extremely old logs to ingesters and getting errors back:

```level=error ts=2019-08-19T18:59:05.693794932Z caller=client.go:185 component=client host=localhost:3100 msg="final error sending batch" status=400 error="server r

[2019-08-20 11:36] wapmorgan commented on #694
What about inlining loki-pipeline-stage in docker-compose?

[2019-08-20 11:42] MHerbst commented on #917
I have compiled and used version 0.2 on Windows and did not encounter any problems. Will try 0.3 this evening.

[2019-08-20 12:37] RobertLivermore commented on #917
Thanks for the help. I was able to make a build.
I'm testing to see if Loki is a replacement TSDB for InfluxDB. InfluxDB has expensive RAM cost and recommends an Azure premium SSD disk for storeage. Loki Design document suggest it can be run on lower cost disks. I'm just storing application logs(timestamp, tags, and a large message). If you have suggestions on what Loki storage options I should te

[2019-08-20 13:56] wapmorgan opened #922 "Complex labels option for docker configuration"
**Describe the bug**
I tried to use complex label expanding with function `index` it in docker-compose plugin like this:

[code]

But this throws an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Install loki docker plugin
2. Create docker-compose with configuration:
[code]
3. Try to run stack: `docker-compose up`
4. Got error.

**Expected behavior**
Expanding of template.

**Screens

[2019-08-20 14:38] marcosnils opened #923 "Add support to detect high entropy strings in log lines"
**Is your feature request related to a problem? Please describe.**
Developers sometimes output sensitive information.

**Describe the solution you'd like**
Configure Loki to detect high entropy strings and obfuscate/remove the conflicting value.

**Describe alternatives you've considered**
Porting something like https://github.com/lyft/high-entropy-string to Go and provide a flag to enable it in L

[2019-08-20 14:47] slim-bean commented on #923
Interesting idea!  If finding high entropy strings, what do you think would be the best course of action? update a metric? try to remove the string?

[2019-08-20 14:49] marcosnils commented on #923
Updating a metric and removing the conflicting string and replacing with some garbage data would be nice to start. That's what other systems usually do.

[2019-08-20 14:55] RobertLivermore commented on #917
Loki process fails with invalid memory address or dereferenced pointer. when initializing the processes storage.

[code]

Command to run process: From a PowerShell console.

[code]

[2019-08-20 14:58] wapmorgan commented on #700
Need help

[2019-08-20 16:03] caarlos0 commented on #923
FWIW I can work on porting the high-entropy-string lib (or find alternatives) 🤔

[2019-08-20 16:29] MHerbst commented on #917
I have pulled the latest sources and build loki on Windows 10.

I get very similar errors if I start loki.exe without passing a config file. If I execute it with option `--config.file` and the default config file it works.
I don't use docker and execute it directly from a PowerShell Console on Windows 10:
This is the command line that works in my environment:
[code]
BTW: I had to use two hyphens f

[2019-08-20 16:52] pracucci commented on #923
I would suggest a static configurable string (ie. defaults to `OMITTED`), so that the user can also easily search it across logs.

[2019-08-20 16:53] marcosnils commented on #923
SGTM!

[2019-08-20 16:56] pracucci opened #925 "promtail: lack of metrics on dropped batches because of ingester unavailable"
**Is your feature request related to a problem? Please describe.**
If the ingester is unavailable, log entries batches are dropped (discarded) once all `maxretries` are exausted. However, I can't find a reliable way to alert on it, due to the lack of metrics.

I would suggest to add the following metrics to `pkg/promtail/client/client.go`:

- `promtail_dropped_bytes_total`: Number of bytes of log

[2019-08-20 18:32] RobertLivermore commented on #917
BTW: Powershell attempts to interpret the arguments. Any argument with characters of {}();,|&[]: whitespace and new-line-character will give issues. In the example used the --% operator to disable PowerShell parsing to end of line.

I’ll give the config file route a try when I get some more cycles to try again. Docker is not a fan of config files because the disk image are supposed to be immutable

[2019-08-21 10:13] candlerb opened #927 "fluent-plugin-grafana-loki can generate invalid requests"
**Describe the bug**
Under certain circumstances, fluent-plugin-grafana-loki can generate invalid requests

1. If a label contains a double quote, it's not escaped in the POST data sent to loki. As a result, loki rejects it with:

[code]

    (Aside: IMO loki should generate a 400 error here, not a 500 error.  A 500 error suggests that the error is temporary and the request should be resubmitted).

[2019-08-21 10:33] candlerb opened #929 "loki returns 500 code for parse error in labels"
**Describe the bug**
If you provide a POST to `/api/prom/push` where the "labels" member is unparseable, loki rejects it with a 500 error.  IMO it should be 400.

500 implies that (a) the fault is at the server side, not with the client-provided data; and (b) that it may work if the client resends the same request later, which clearly it won't in this case.

(Extracted from #927)

**To Reproduce**

[2019-08-21 13:22] candlerb commented on #915
For network timeouts etc, I don't see why it shouldn't just retry forever.  It's only tailing a logfile after all, so the source data is going to remain forever (or at least until the logfile is rotated).

Retrying on error is more nuanced.  A 400 error means the data you sent is bad; you need to give up and move onto the next batch.  A 500 error means the server had a problem (e.g. disk full) and

[2019-08-21 19:01] #918 closed

[2019-08-21 20:42] slim-bean opened #931 "Live tailing sends duplicate logs"
**Describe the bug**
When connected over the websocket you can/will receive duplicate logs (same labels, same message)

**Expected behavior**
Ideally we would not send duplicate logs

[2019-08-22 14:34] shepely opened #932 "using gcs for storage with default helm templates results in "caller=flush.go:156 org_id=fake msg="failed to flush user" err="googleapi: Error 401: Invalid Credentials, authError"""
**Description**

Hello!

I'm trying with helm to setup loki to use GCS for the object storage, while for index storage we're planning to use Cassandra eventualy. So no bigtable in the setup, which I assume is not needed for GCS usage, as there is no documenation controdicting this assumption. For a sake of simplicity, I'll keep default boltdb configuration for index storage below.

I've followed t

[2019-08-22 14:57] khauser commented on #74
Could you please encounter the following scenario or at least give your opinion:

Because of Loki we have changed the log format of our appenders to use the logstash JSON-layout-formatter in our logback configuration. That's why now we have an all information containing log entry with also the whole stacktrace (containing the already noted \n\t). So no need to join lines afterwards. That sounds go

[2019-08-22 17:14] rfratto commented on #932
Hi @shepely, I've been able to reproduce this and verified that it _is_ a bug. The issue is that tokens using the GOOGLE_APPLICATION_CREDENTIALS aren't being generated with a scope so they're not authenticating properly.

I'm working on a fix; updating the vendors should do it since the issue originates upstream and was fixed here: https://github.com/cortexproject/cortex/pull/1511

[2019-08-22 19:28] rfratto commented on #932
Apparently updating the vendors is easier said than done :disappointed:. @sandlis is working on a PR that'll include vendor updates and make this issue go away.

[2019-08-23 06:46] shepely commented on #932
Thanks @rfratto and @sandlis 🙏

[2019-08-23 07:26] khauser commented on #74
We checked with Azure Log Analytics and with Kibana..

If a json formatted log entry stacktrace arrives in
* Azure Log Analytics the table only shows the first characters of the stacktrace. But expanding the entry gives you a well formed one.
* Kibana already displays the first 5 lines of the stacktrace and is also able to expand the log entry. Both outputs are well formed.

[2019-08-23 09:28] vukor commented on #881
After ~1 week I've check again logs and looks like deletion works correctly. Log data's age is ~ 24hrs + 30 minutes. Thank you, I'm going to resolve this issue.

[2019-08-23 09:28] #881 closed

[2019-08-23 15:43] slim-bean opened #935 "A way to ingest syslog messages over the network and into Loki"
**Is your feature request related to a problem? Please describe.**

There are many devices such as firewalls/network appliances/switches etc that don't write log files or run on architectures too difficult to compile promtail for, however many of them support shipping syslogs (as well as pretty much all *nix servers in general).  It would be great to have a way to receive these syslogs and get the

[2019-08-25 08:00] shaikatz opened #936 "Old chunks not getting deleted after retention period"
**Describe the bug**
I've configured 72h retention for my logs, but I can see chunks 5 years old filling my disk.

**To Reproduce**
Steps to reproduce the behavior:
This is my config:
[code]

**Expected behavior**
Chunks older than 72h should be deleted.

**Environment:**
 - Infrastructure: Kubernetes
 - Deployment tool: Helm

**Screenshots, promtail config, or terminal output**
The index files be

[2019-08-26 12:02] kylebrandt commented on #273
I wonder if the JSON for labels might be easier to work with it if the JSON representation was closer to the Labels structure in prom to keep ordering. (https://github.com/prometheus/prometheus/blob/master/pkg/labels/labels.go#L43).

So instead of turning something like ` [ [ k,v ], [ k,v ]  ]` sorted by member Names.

[2019-08-26 17:59] candlerb commented on #273
The fact that labels are not JSON makes it harder to build a valid string of labels too: e.g. see #927

However, labels are also a mini query language in their own right: e.g. `{"foo"=~".*bar.*"}`.  That's not something that would be pretty or convenient in pure JSON.

[2019-08-27 01:23] cosmo0920 commented on #898
Hmm.., it seems that this issue caused by Loki....

[2019-08-27 03:17] minhdanh opened #940 "Cannot query logs from eventrouter with {name="eventrouter"}"
I followed this blog post: https://grafana.com/blog/2019/08/21/how-grafana-labs-effectively-pairs-loki-and-kubernetes-events/
and installed eventrouter to the cluster (using the official helm chart) (to namespace `loki`).

But now when I query loki using {name="eventrouter"}, loki is returning empty results. Although I can see the logs from the eventrouter pods:

[code]

I also tried to deploy eve

[2019-08-27 04:03] minhdanh commented on #940
@gouthamve Do you have any ideas?

[2019-08-27 08:08] slim-bean opened #942 "ingester panic in tailing code"
https://github.com/grafana/loki/blob/481906c4254880c2480e85f609cf51705d78202a/pkg/ingester/tailer.go#L125

Looks like it might be a race between the check for the tailer isClosed at the beginning of the function and the send to the channel towards the end?

[2019-08-27 11:29] cyriltovena commented on #898
Hey @laitalaj ,

Thanks for the script, I ran it on my machine and after debugging, it simply send entries out of order.

For a given unique stream the max timestamp was 1566905035753341913 and the new entry that it was trying to add was 1566905035280495167.

So you're simply sending out of order entries which is not possible in Loki.

[2019-08-27 13:24] laitalaj commented on #898
@cyriltovena , could you elaborate a bit on how you figured out that the entries are being sent out-of-order for a given unique stream? If that is indeed the case, there's some bug in my script, and I'd like to reproduce and fix that to do a clean reproduction of the problem in loki (as the issue still stands in the production setup that I described in the OP)

[2019-08-27 14:35] laitalaj commented on #898
I quickly built a lightweight flask app called [lokimock](https://github.com/laitalaj/lokitoy/blob/master/lokimock.py) that just receives stuff from lokitoy and checks that the timestamps for uniquely labeled streams are in order. That, at least, didn't catch any out-of-order stuff from the script. I also added an option for making lokitoy send stuff deliberately out-of-order and lokimock managed

[2019-08-27 14:53] wapmorgan commented on #700
Is there any ability to pass a config file without rebuilding the plugin?

[2019-08-27 15:14] Strum355 commented on #700
@wapmorgan 	https://github.com/grafana/loki/issues/694#issuecomment-513870139
TLDR if you can enforce all configs being in a folder specified at build-time, its possible

[2019-08-27 16:23] wapmorgan commented on #700
@Strum355 at plugin build-time? Its really hard, because docker there can be few projects within one machine and one docker instance. If you mean image build-time, its possible.

[2019-08-27 16:32] Strum355 commented on #700
@wapmorgan 	you can set the folder in which all config files will be set at plugin build-time eg `/docker/loki/configs/` and then at container run-times you can specify which config file to use from that folder

[2019-08-27 20:17] atombender opened #943 "Loki (and logcli) should support streaming logs"
**Describe the bug**
While the apparent runaway memory use problem in Loki itself seems to have been fixed, `logcli` itself is also using too much memory.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a logcli container with a maximum RAM set to, say, 100MB.
2. `logcli query --limit=10000000 --since=1h <some query that produces lots of log output>`. (In my test case, this is about 10

[2019-08-28 06:56] cyriltovena commented on #898
@laitalaj I ran your script and debug Loki, I put a break point where this error happen and the timestamp received was before.

[2019-08-28 07:33] laitalaj commented on #898
It makes sense that when the error happens the timestamp shown as just received is before the timestamp received earlier. However, I'm fairly certain that the incoming streams with unique labels are in reality in order and that mix-ups happen in Loki instead of in the reproduction script:

- That lokimock thing that I created yesterday would notice if the script was sending stuff out-of-order
- As

[2019-08-28 07:54] cyriltovena opened #945 "Move weaveworks/common back to upstream"
To not block some PR we moved weaveworks/common to a personal fork. Once weaveworks/common#153 is merged we can go back to upstream.

[2019-08-28 08:15] rfratto commented on #932
@shepely This should be fixed by #938, can you try this again using the Docker image `grafana/loki:master-b687ec6`?

[2019-08-28 08:31] minhdanh commented on #940
I changed the sink type to `stdout`, and could query the events using `{app="eventrouter"}`.
But the json logs looks not parsed correctly by Loki. The whole json line generated by eventrouter is not parsed and considered as a long string:

<img width="800" alt="Screenshot 2019-08-28 15 27 59" src="https://user-images.githubusercontent.com/4865412/63839069-c1863e80-c9a8-11e9-9fb7-0b140ac6200c.png">

[2019-08-28 08:58] daixiang0 commented on #520
some disguss on [slack](https://grafana.slack.com/archives/CEPJRLQNL/p1566959307032600)

[2019-08-28 10:30] sandlis commented on #936
@shaikatz Can you please check what the current status is?
Retention actually does table level retention. Your retention is set to retain 2 periodic tables, so its retaining 2 previous tables and another currently active table where your index is being written. So effectively it is retaining upto 4.5 days of data.

[2019-08-28 11:37] shaikatz commented on #936
After opening the issue I've created a new bigger disk, currently, only 3 days have passed so the oldest chunk is 3 days old.

Can you explain a bit further why settings retention_period to 72h means that I'll retain 4.5 days of data? this is definitely not self-explaining part of the configuration.

[2019-08-28 12:21] sandlis commented on #936
It is related to how data is stored. The `period` under `index` controls for how much duration tables would contain the index, which in your case is `36h` i.e 1.5 days. Your retention is `72h` i.e 3 days, which means you want to retain 2 tables. If you have 2 tables and your tables just rotated i.e you started writing to new 3rd table, you can't delete the first table since it is not completely ex

[2019-08-28 13:10] cyriltovena commented on #577
We should start with GET, https://prometheus.io/docs/prometheus/latest/querying/api/#finding-series-by-label-matchers

/cc @davkal

[2019-08-28 13:10] slim-bean commented on #24
#935 will handle the syslog part of this, journald support was recently added, closing

[2019-08-28 13:10] #24 closed

[2019-08-28 13:13] slim-bean commented on #28
@davkal can you give some feedback to the use cases for this and if we should still entertain this?

[2019-08-28 13:15] #35 closed

[2019-08-28 13:28] cyriltovena commented on #898
I will give it another look for sure.

[2019-08-28 13:29] slim-bean commented on #60
We just had some discussions about ways to solve this, including aggregating chunks into another file before writing to disk to guarantee appropriate size on disk.

[2019-08-28 13:53] slim-bean commented on #577
related to #113

[2019-08-28 13:57] slim-bean commented on #131
@daixiang0 would you be interested in looking at this?  This would affect code in the ingester package

[2019-08-28 13:58] slim-bean commented on #132
Handoff was implemented in #794

[2019-08-28 13:58] #132 closed

[2019-08-28 14:17] geekodour commented on #935
I was initially confused by the  fact that loki is described as the prometheus for logs but the scraping targets go in promtail, keeping that in mind I think updating promtail to receive these syslogs and then send them to Loki will be a better idea.

How different will this be from pushgateway for logs? https://github.com/prometheus/pushgateway

[2019-08-28 14:37] Sharathmk99 commented on #701
@cyriltovena Is any update to support on this topic?

[2019-08-28 15:01] rfratto opened #949 "Ingester crashes on invalid regex query"
All ingesters will crash given a malformed regex label query like `{cluster=~"*"}`:

[code]

[2019-08-29 10:24] davkal commented on #28
I would wait on this until this has more community demand/traction/feedback. I'll make sure to actively ask Loki users about dedup needs.

[2019-08-29 12:21] pbadenski commented on #153
Is this possible now considering https://github.com/grafana/loki/pull/760 has been merged?

[2019-08-30 12:26] cyriltovena commented on #925
Hey Marco,

Yes we do see value !

That would be a useful addition.

Thank you.

[2019-08-30 18:29] Morriz opened #953 "missing chunks in s3 backend AND index"
**Describe the bug**
Only some chunks are stored in s3, maybe 1% of the actual logs end up there. We get between 2 and 20 chunks per day for our production cluster in our bucket, with no obvious errors in loki or promtail.

This is oberved by looking at grafana btw. Even the loki app itself only shows one block of 4 hour data, but kubectl logs shows all.

**To Reproduce**
Steps to reproduce the be

[2019-08-30 18:38] Morriz opened #954 "logs missing in index"
**Describe the bug**
Grafana querying loki shows no logs found for most parts of the day. Sometimes a block of some hours shows up from the last day.
We have been running for 7 days, but no logs show up for the first 6 days for a lot of label combinations. Some do however. But most apps seem to have their logs disappeared since a couple of hours ago. It's hard to infer any logic behind this behavi

[2019-09-01 10:34] Morriz opened #957 "loki helm chart: statefulset with multiple nodes behaving erratically"
**Describe the bug**
given `replicas: 2` for loki helm chart values leads to the service being load balanced to one of the two, but the nodes don't deliver the same state. I would assume a statefulset to either elect a leader (master/slave) or be multi master and sync state (ACID compliant in this case). However, it seems no such concerns are addressed in the statefulset. If there is no cluster-li

[2019-09-02 09:02] Gnitry opened #959 "fluent-plugin-grafana-loki: wrong order of the entries with the same timestamp"
**Describe the bug**
When fluentd reads lines and sorts them using method "sort_by". But Ruby documentation says that

Thus, when we have entries with the same timestamps the resulting lines can be sent to the Loki in wrong order.

**To Reproduce**
Steps to reproduce the behavior:
1. Configured loki, td-agent and logs to grab
2. Started loki (481906c4254880c2480e85f609cf51705d78202a) with empty da

[2019-09-02 09:24] Gnitry commented on #959
**An additional question**
There is a comment in the sources of plugin

Is it really possible that plugin receives entries from _fluentd_ in the wrong order? Is the sorting really needed?

[2019-09-02 10:37] wapmorgan opened #960 "Eating memory when performing query via grafana"
**Describe the bug**
When I perform a query via grafana on loki storage with time condition, it starts eating a lot of memory and finally fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Started loki and grafana as docker containers.
2. Open grafana
3. Perform query in "Explore" like `{cluster="*cluster-name*"} 11111` with time condition `from now-138h` to `now` - *It works.*
4. Perfor

[2019-09-02 11:11] wapmorgan commented on #203
Got similar problem: #960

[2019-09-02 11:57] wapmorgan commented on #960
That was problem with old image.

[2019-09-02 11:57] #960 closed

[2019-09-03 01:10] steven-sheehy commented on #957
The helm chart only runs Loki in [monolith](https://grafana.com/blog/2019/04/15/how-we-designed-loki-to-work-easily-both-as-microservices-and-as-monoliths/) mode and cannot be scaled that way (though I wish it could be for simpler use cases). To scale horizontally, you need to run Loki components individually in microservice mode. The helm chart doesn't support that unfortunately.

[2019-09-03 11:05] svparijs commented on #162
Whats to status of these wishes/requirements? We'd really like to start looking into using Loki for our monitoring/logging production setup. But have some serieus requirements in regards to retention rules per log type, GDPR, etc. And if this is not yet in place is there a roadmap?

[2019-09-03 12:59] wardbekker opened #963 "Improve Ingester out-of-order error for faster troubleshooting"
**Is your feature request related to a problem? Please describe.**
Out-of-order 400 http is a very common (user) error when starting out with Loki. Due too mislabeling, sending old logs, or the logging client is indeed sending out-of-order events (happened to me when creating loki_logger for elixir). Current HTTP Status 400 msg entry only logs e.g. "entry out of order for stream: {filename=\"/var/

[2019-09-03 13:39] slim-bean commented on #963
If possible it would be nice to log how many entries succeeded since it sounds like we will be extracting that info anyway to return to the client

[2019-09-03 16:27] hairyhenderson commented on #16
Seems like there's a PR for this pending - would be nice to see this happen instead of the issue going stale and disappearing 😉

[2019-09-03 16:30] cyriltovena commented on #16
@hairyhenderson how this would be useful for you ? Can you give us more informations ?

[2019-09-03 16:34] hairyhenderson commented on #16
@cyriltovena like the description says, it's annoying to restart processes to reload configs. I'm used to being able to send a signal or call a reload endpoint in Prometheus, and this is one area where Loki _isn't_ "Like Prometheus, but for logs" 😉

[2019-09-03 16:37] cyriltovena commented on #16
yeah but Prometheus could miss some scrape and it make sense to not restart to avoid this kind of behaviour, promtail though won't miss anything as everything is on disk.

[2019-09-03 16:39] cyriltovena commented on #94
@rfratto this should be covered by our new documentation.

[2019-09-03 17:03] charlie-roosen commented on #409
I have a simpler use case with this requirement.

We plan to have short-lived containers run as Kubernetes jobs with logging to stdout.

We then want to use some selector to return all the stdout as text for this job.

Probably 1 MB is a reasonable size limit.  I haven't given much thought yet to the labels.

FYI, we will also be using Grafana.  This use case is to mimic the current behavior we ha

[2019-09-03 17:45] #167 closed

[2019-09-03 18:45] fbuecklers opened #966 "Loki Docker driver uses an unbounded json log file"
**Describe the bug**
The Loki docker log driver initialize a json logger under the hod, but does not configure max-file nor max-size. Therefore the log file which is created by the json logger increase infinitely.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a docker container with the Loki log driver

**Expected behavior**
The Loki log driver should use better default values when it

[2019-09-03 19:47] mcamou commented on #340
How about if we're not using promtail? We're streaming logs directly into the Loki endpoint.

[2019-09-03 20:10] mdgreenwald commented on #94
Do you have a link to the relevant documentation?

[2019-09-03 20:12] rfratto commented on #94
@mdgreenwald

Sorry for the confusion, he's just saying I should add this information in our docs revamp that I'm working on this week.

[2019-09-03 20:30] lasczki-da commented on #507
any updates?

[2019-09-03 21:21] hairyhenderson commented on #16
Sure... But there are side-effects of processes terminating which may be undesirable. And, it's conventional for processes in UNIX to listen to a SIGHUP and reload config based on that.

I suppose my question is: why would you _not_ want this feature?

[2019-09-03 21:46] cyriltovena commented on #340
We have plan to support Prometheus alert style.

[2019-09-03 21:50] Yivan commented on #815
[disable stale]
Any answer please ?

[2019-09-03 22:26] cyriltovena commented on #815
Hello, yes this is planned, we will first rework documentation then work on a website.

[2019-09-03 22:28] cyriltovena commented on #507
Definitely interesting but we haven’t got the time to get started on this

[2019-09-03 22:32] cyriltovena commented on #409
You can definitely use the http api for this.

Le mar. 3 sept. 2019 à 13:03, charlie-roosen <notifications@github.com> a
écrit :

[2019-09-03 22:33] #711 closed

[2019-09-03 22:35] cyriltovena commented on #781
Memory ballast could also be added https://blog.twitch.tv/go-memory-ballast-how-i-learnt-to-stop-worrying-and-love-the-heap-26c2462549a2

[2019-09-03 22:43] Yivan commented on #815
@cyriltovena Thanks !

[2019-09-04 01:39] daixiang0 commented on #377
any input?

[2019-09-04 01:39] daixiang0 commented on #638
any input? @cyriltovena

[2019-09-04 08:12] sandstrom commented on #91
Stale bot: I don't think it makes sense to close this issue.

Although I understand that high cardinality labels may not be on the immediate roadmap, it's a common feature of log aggregation systems and by keeping it open there will at least be a place where this + workarounds can be discussed.

[2019-09-04 08:14] sandstrom commented on #219
Remove stale label, please 😄

[2019-09-04 09:13] candlerb commented on #91
This approach is very similar to influxdb, which has [tags and fields](https://docs.influxdata.com/influxdb/v1.7/concepts/schema_and_data_layout/).  Influxdb tags are like loki labels: each set of unique tags defines a time series.  Fields are just stored values.

Even linear searching would be "better than grep" speed, since if the query contains any labels, loki would already filter down to the

[2019-09-04 09:27] kiney commented on #91
I like both ideas, especially the second one. For the query language i think JMESPath would make more sense than the jq language as it is already supported for log processing in scrape config:
https://github.com/grafana/loki/blob/master/docs/logentry/processing-log-lines.md

I though about extracting some Info there and setting it as label. What would actually happen when creating high cardinality

[2019-09-04 09:28] brancz commented on #231
We are still interested @stale .

[2019-09-04 09:30] brancz commented on #259
I was wondering if there could be another strategy for this, which would be: have a storage in-cluster, that is purely used for buffering and forwarding it to a remote storage?

[2019-09-04 09:41] candlerb commented on #91
You could end up with Loki trying to create, for example, 4 billion different timeseries, each containing one log line.  Since a certain amount of metadata is required for each timeseries, and (I believe) each timeseries has its own chunks, it is likely to explode.

Also, trying to read back your logs will be incredibly inefficient, since it will have to merge those 4 billion timeseries back toget

[2019-09-04 11:20] candlerb commented on #91
@kiney: I hadn't come across JMESPath before, and I agree it would make sense to use the engine which is already being used.  We need something that can be used as a predicate to filter a stream of JSON records, and ideally with a CLI for testing.

It looks like JMESPath's [jp](https://github.com/jmespath/jp) is the JMESPath equivalent to jq. (NOTE: this is different to the JSON Plotter [jp](https

[2019-09-04 11:27] candlerb commented on #91
There's another way jq could be used: just for predicate testing.

[code]

If loki sees the value 'false' it could drop the record, and the value 'true' it passes the original record through unchanged.  Any other value would be passed through.  This would allow the most common queries to be simplified.

[2019-09-04 11:59] kiney commented on #91
@candlerb I also consider jq a slightly more pleasant language but JMESPath is already used in Loki and also the standard in other cloud tooling (aws cli, azure cli, ansible...).
I thought about using it similiar to current regex support: apply on each line, filter out lines with no match and highlight matched part in the remaining lines.

[2019-09-04 12:42] cyriltovena commented on #701
is it related to https://github.com/grafana/loki/issues/259 ?

[2019-09-04 14:52] valherru opened #968 "Loki Docker driver split stderr from stdout"
With current configuration both docker standard outputs are mixed together so it's not possible to clearly filter error and info messages from each other. Correct me if I'm wrong please but in this way you can easily miss some important error messages from stderr what is not ideal solution.

Would be possible to have some option to follow "docker standards" more and keep these two outputs separate

[2019-09-04 15:06] rfratto commented on #872
systemd support was added to the promtail image for amd64 in v0.3.0: https://github.com/grafana/loki/releases/tag/v0.3.0

[2019-09-04 15:06] #872 closed

[2019-09-04 15:11] rfratto commented on #866
@ArthurSens the promtail image with journal support was released in v0.3.0, are you still having problems getting Loki up and running?

[2019-09-04 15:26] ArthurSens commented on #866
I'm currently on vacations, when I get back to work(2 weeks from now) I'll test it.

But feel free to close the issue, the problem I reported is not Loki related

[2019-09-04 15:26] #866 closed

[2019-09-04 20:16] cyriltovena commented on #968
Seems reasonable I’ll take a look. The default should definitely parses docker log.

[2019-09-04 20:59] cyriltovena commented on #966
@fbuecklers are you running a enterprise version ?

[2019-09-05 06:37] fbuecklers commented on #966
Nope we have tested it on the community version.

[2019-09-05 12:21] mindfl commented on #922
## Some additional checks

Same error with your example:

[code]

But if I understood correctly, then we have to use docker-cli "understandable" format. Like this:

[code]

Attempt to use it:

[code]

No success:

[code]

So, I think, we can use fields from [docker documentaion](https://docs.docker.com/config/containers/logging/log_tags/) only. And It can be issue for docker.

## Loki docker drive

[2019-09-05 12:53] pracucci commented on #963
From my perspective, it's desirable a push is not atomic, as far as loki gives back enough information to the client to identify which log entries have been rejected.

In order to fix this, we need to enrich the push response in case of error. On the client side (`promtail`) we should have enough information to understand which log entries have been successfully ingested and which rejected.

An op

[2019-09-05 14:20] nfrush commented on #553
@cyriltovena By re-write the output, do you mean write the output to null? Or how exactly does one go about mimicking a drop with a re-write?

[2019-09-05 14:23] #280 closed

[2019-09-05 14:39] #922 closed

[2019-09-05 15:03] #966 closed

[2019-09-05 15:07] cyriltovena commented on #553
I meant you can rewrite the actual log line using our pipeline which may help in the meantime. We will definitively work on this issue.

[2019-09-05 16:19] steveww opened #974 "docker plugin enable Loki gives an error"
**Describe the bug**
After installing the plugin.
$ docker plugin enable loki
error: dial unix /run/docker/plugins/9c4f09236095deb097b2a9d864b7152451bb4d300f009f11971773a282a985f9/loki.sock: connect: no such file or directory"
The plugin remains disabled and unusable

**To Reproduce**
$ docker plugin install  grafana/loki-docker-driver:latest --alias loki --grant-all-permissions
$ docker plugin en

[2019-09-05 16:22] steveww commented on #974
Looks like an ARM issue, works OK on Intel.

[2019-09-05 17:41] sh0rez commented on #974
Hi,

I am sorry, but we are currently not packaging the docker plugin for other platforms than `linux/amd64`.

This may change in the future, once our CI system allows it.

In the meantime, you can build the plugin yourself for the desired os / arch. To do so, clone the repository on the target system and run `make docker-driver`. This should compile it correctly locally.

[2019-09-05 17:41] #974 closed

[2019-09-05 17:45] #968 closed

[2019-09-05 17:47] rfratto commented on #949
Fixed by #654

[2019-09-05 17:47] #949 closed

[2019-09-06 03:03] daixiang0 commented on #638
update

[2019-09-06 03:04] slim-bean opened #977 "Change logger from go-kit to ??"
There are a few reasons we are unhappy with the go-kit logger

  * Inability to obtain the current log level (See #976)
  * Logger returns an error
  * Issues with log statements missing when you don't put in the correct number of key=value pairs

I think there may have been other reasons, but generally consensus is we'd like a different logger.

So which one?  [Logrus](https://github.com/sirupsen

[2019-09-06 06:38] ctrox commented on #932
I got GCS working without a hitch with `grafana/loki:master-b687ec6`, so IMO this can be closed.

[2019-09-06 07:42] steveww commented on #974
Cross compiling on linux/amd64 to linux/arm works OK.

[2019-09-06 08:57] wpcnjupt opened #978 "can loki index support hbase?"
loki index support cassandra/bigtable/dynamodb. however, we do not have anyone of them.
can loki index support hbase, or else?

[2019-09-06 11:13] minhdanh commented on #137
I have a pod that emits logs in json format. But the logs are not being displayed as nested objects in Loki but a long string (the content of `log` field):

[code]

Does Loki automatically handle json format or something else still missing?

[2019-09-06 12:34] #925 closed

[2019-09-06 13:00] rfratto commented on #932
Great! Closing as fixed by #938. If anyone is waiting for a new release that includes the fix, that should be coming soon.

[2019-09-06 13:00] #932 closed

[2019-09-06 13:34] Lucaber commented on #137
Hi @minhdanh
i just found a solution for eventrouter :)
[code]

[2019-09-06 14:06] steveww opened #979 "docker logging driver does not like max-file"
**Describe the bug**
Using docker-compose to start a container. Configuration uses loki logging driver. The container fails to start.

ERROR: for fc8b50abc17f_mail-system_fetchmail_1  Cannot start service fetchmail: failed to initialize logging driver: error creating logger: error creating loki logger: loki: wrong log-opt: 'max-file' - fc8b50abc17f8062485990faf00825b321a11d0f830a97fc4256e08d94804c

[2019-09-06 14:32] steveww commented on #979
If I compile it myself then use docker plugin create docker-driver
It works just fine. Something wrong with the hosted image?

[2019-09-06 16:37] sh0rez commented on #905
@tlvenn at least regarding Loki, you have this behaviour (kind of):

The Ingester component, which is responsible for storing data, is a stateful service which keeps the last ~12h of working data in memory, to run optimizations and similar things.

This data is continuously written in batches to the chunk store (bigtable, cassandra, s3 etc.) and a reference to it is stored in the index store (anot

[2019-09-06 16:46] sh0rez commented on #917
Can't you make use of docker volumes? And just bind the configuration file from outside into the container?
Furthermore, building custom images for environments might not be the cleanest way, but is definitely an acknowledged one (e.g. the `library/postgres` image recommends such an approach).

Regarding Loki on windows ... we can certainly distribute `.exe` files in the Releases section. Docker i

[2019-09-06 16:55] sh0rez commented on #935
This is not entirely true. Loki basically follows the Prometheus pattern, although it is not that obvious:
- Your application is logging (it is exposing logs, as it would expose metrics).
- Promtail is "scraping" (tailing) those logs, just like a Prometheus would. The difference here is, that Prometheus's job may go further than scraping, because it includes a database, so it can run standalone, d

[2019-09-06 17:03] sh0rez commented on #912
Hi!

It might be me, but I do not get the additional value of using ElasticSearch, because Loki is considered to be a direct replacement for it in most use-cases.

If you want to use ElasticSearch why not use `fluentd` or `filebeat`, ship directly to ElasticSearch and use Grafana's Explore feature (https://grafana.com/docs/features/datasources/elasticsearch/#logs-beta) to peek at those. This shoul

[2019-09-06 17:53] #917 closed

[2019-09-06 19:42] sh0rez commented on #977
Just taken a look at `zerolog`, seems to be pretty neat. Like the json output and the optional human readable one, seems to be pretty fast and has a nice API

[2019-09-07 02:06] minhdanh commented on #137
Hi @Lucaber
Thanks for the solution. But looks like it doesn't work for me.
I added your snippet to promtail's pipelineStages config: https://github.com/grafana/loki/blob/master/production/helm/promtail/values.yaml#L29
[code]
Then deployed promtail again. But the still the same in Loki.

[2019-09-07 02:50] slim-bean commented on #137
@minhdanh loki only knows logs as byte arrays for storage, everything is basically a string.

Your log example looks like the output of a docker log line, which has json nested inside json.

I'm not quite sure what you are ultimately looking for in Grafana?  But the simplest pipeline config would just include the `docker` stage which will unroll the docker json, and set the log json as the log lin

[2019-09-07 06:08] pracucci commented on #943
Thanks @atombender for your report.

The `logcli query` (without `--tail`) command currently loads the entire result set into memory in order to analyze all of the log entries and find common labels before starting printing the entries (common labels are filtered out while printing). This means that the memory usage won't be lower than the entire set of log entries printed out.

I **personally** d

[2019-09-07 10:57] Lucaber commented on #137
Ohh yes, i was looking for loki labels to easily filter the logs.
I previously tried something similar:
[code]
I also tried `verb` instead of `log.verb` but my label was still empty (`null`). Maybe the `docker` stage does the trick, i will try this again later.

[2019-09-07 13:03] cyriltovena commented on #979
We've fixed it last week, I'll check latest to ensure everything is ok.

[2019-09-07 17:09] atombender commented on #943
Why is this filtering needed? Personally, I just want to filter the log entries and see them as they were recorded, and I don't care about whether printing. I need to be able to grab gigabytes of log data and I need this to take just a few seconds, modulo bandwidth, with minimal memory usage. Is the filtering disabled if I pass `--no-labels`, perhaps?

[2019-09-08 19:14] srolija commented on #810
This issue is still open.

[2019-09-09 05:58] pracucci commented on #977
In my experience, JSON structured logging is generally the easier to parse and most widely supported by log aggregators. At the same time, it's the hardest to read from a human (ie. local dev/test environment).

Over the time, I started appreciating software providing two log formats (ie. via cli flag): JSON and textual. For example, the popular "pino" logger for Node.js provides a tool to pipe th

[2019-09-09 08:13] minhdanh commented on #137
@slim-bean Thank you. Apparently I removed `docker: {}` in the pipeline stages and it didn't work. I added it again and it's working with correct json format in Grafana.

With json supported by Loki I was expecting to search/query the logs using something like `object.property=value`. This is possible, right?

[2019-09-09 11:59] tomgs opened #985 "Full LogQL not yet supported?"
If I'm looking at `https://github.com/grafana/loki/blob/master/docs/querying.md#range-vector-aggregation`, it seems that there's already an option for queried of the form `count_over_time({level="ERROR"}[5m])` to be evaluated properly.

However, I'm running Grafana `6.3.2` and I keep getting this message:

![image](https://user-images.githubusercontent.com/8835035/64528837-1cf1ee00-d312-11e9-9c63-

[2019-09-09 12:09] slim-bean commented on #985
The newest loql capabilities are still experimental and are won't be available in Grafana until 6.4

We hope to have logcli updated soon as soon as we finish some API details

Please note, the current API is going to change!

[2019-09-09 12:48] tomgs commented on #985
OK, will wait for `6.4`. Thanks!

[2019-09-09 12:48] #985 closed

[2019-09-09 18:13] slim-bean opened #988 "docker-loki-plugin: docker `master` and `latest` tags are no longer being pushed/updated correctly"
Somewhere in our build pipeline changes we stopped pushing `latest` and `master` tags for the docker-loki-plugin.

If you pull `latest` or `master` you will get an image from back on August 1st

[2019-09-09 19:19] slim-bean commented on #137
Currently no, neither grafana/logql have any higher level support for JSON, if you are using logcli you can use `-o raw` and pipe into something like `jq` to manipulate json directly.  In grafana your option is currently to regex (but this will just match an entire log line).

There are plans to include better handling of JSON in the future but for now all logs are stored and treated the same.

[2019-09-09 21:01] sh0rez commented on #988
Closed in #989

[2019-09-09 21:01] #988 closed

[2019-09-09 23:50] #942 closed

[2019-09-10 09:25] sh0rez commented on #978
Loki directly takes its storage code from weaveworks/cortex (https://github.com/cortexproject/cortex/tree/master/pkg/chunk). If you need a new storage backend, please file a feature request there!

[2019-09-10 11:00] albertdb opened #999 "Too many 'upstream request timeout'"
**Describe the bug**
When searching for intervals with high amount of log lines, Loki returns error in a few seconds (not after 30s which is the Grafana timeout).

This is seen on Grafana as a `upstream request timeout`
and in Loki logs as `level=warn ts=2019-09-10T10:52:45.688072537Z caller=grpc_logging.go:54 method=/logproto.Querier/Query duration=16.742316643s err="rpc error: code = Internal de

[2019-09-10 11:27] albertdb commented on #999
Never mind, it was Ambassador default 3000ms timeout (facepalm).

[2019-09-10 11:27] #999 closed

[2019-09-10 14:10] jzandbergen commented on #364
Hi all, this is an issue on our side as well. We are now storing >2M files in a single directory and loki is now unusable for us because it takes ~10 minutes to do an operation on the chunk directory.

[2019-09-10 15:20] #929 closed

[2019-09-10 16:08] #256 closed

[2019-09-10 16:08] #597 closed

[2019-09-10 16:08] #708 closed

[2019-09-10 16:08] #689 closed

[2019-09-10 16:08] #295 closed

[2019-09-10 16:09] #752 closed

[2019-09-10 16:09] #727 closed

[2019-09-10 16:09] #748 closed

[2019-09-10 16:09] #766 closed

[2019-09-10 16:09] #349 closed

[2019-09-10 16:09] #346 closed

[2019-09-10 16:09] #786 closed

[2019-09-10 16:09] #806 closed

[2019-09-10 16:09] #199 closed

[2019-09-10 16:09] #807 closed

[2019-09-10 16:09] #767 closed

[2019-09-10 16:09] #843 closed

[2019-09-10 16:36] oddlittlebird opened #1000 "Broken ReadMe Links"
The API Documentation link and Operations link in the main Loki readme.md file are broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Click either link.
2. Observe the 404 page that results.

**Expected behavior**
Not a 404 link. They should lead to https://github.com/grafana/loki/blob/master/docs/loki/api.md and https://github.com/grafana/loki/blob/master/docs/loki/operations.md

**Env

[2019-09-10 16:46] rfratto opened #1002 "Reconsider enabled linters"
We [enable](https://github.com/grafana/loki/blob/3467440b301cd88d2b6edefa39fac75771240568/.golangci.yml) the following linters:

    - deadcode
    - errcheck
    - goconst
    - gofmt
    - goimports
    - golint
    - gosimple
    - ineffassign
    - megacheck
    - misspell
    - structcheck
    - unconvert
    - unparam
    - varcheck
    - govet
    - unused # new from here.
    - interfacer

[2019-09-10 17:29] nouney commented on #256
That sucks, a lot.

[2019-09-10 17:48] rfratto commented on #1000
Closed by #1003

[2019-09-10 17:48] #1000 closed

[2019-09-10 17:55] #103 closed

[2019-09-10 17:55] #163 closed

[2019-09-10 17:55] #200 closed

[2019-09-10 17:55] #143 closed

[2019-09-10 17:55] #227 closed

[2019-09-10 17:55] #257 closed

[2019-09-10 17:55] #267 closed

[2019-09-10 17:55] #354 closed

[2019-09-10 17:55] #260 closed

[2019-09-10 17:55] #115 closed

[2019-09-10 17:55] #363 closed

[2019-09-10 17:55] #388 closed

[2019-09-10 17:55] #416 closed

[2019-09-10 17:55] #436 closed

[2019-09-10 17:55] #357 closed

[2019-09-10 17:55] #356 closed

[2019-09-10 17:55] #287 closed

[2019-09-10 17:55] #166 closed

[2019-09-10 17:55] #240 closed

[2019-09-10 17:55] #458 closed

[2019-09-10 17:56] #310 closed

[2019-09-10 17:56] #547 closed

[2019-09-10 17:56] #583 closed

[2019-09-10 17:56] #321 closed

[2019-09-10 17:56] #395 closed

[2019-09-10 17:56] #660 closed

[2019-09-10 17:56] #505 closed

[2019-09-10 17:56] #511 closed

[2019-09-10 18:55] #678 closed

[2019-09-10 20:20] sh0rez commented on #219
Hi!
We actually do have a `CHANGELOG.md` since our second release. You can find it here: https://github.com/grafana/loki/blob/master/CHANGELOG.md

[2019-09-10 20:20] #219 closed

[2019-09-10 20:48] 87594589-7087-4f7c-b204-e84312ae374c commented on #974
To chime in on demand, I just got this error and ARM64 support would be great.

[2019-09-11 00:06] cyriltovena commented on #979
Yes the CI stopped working for docker driver I think, though it should be fine now, @slim-bean @sh0rez can you confirm and close ?

[2019-09-11 12:30] wardbekker commented on #963
@pracucci not sure if return that json struct would count on breaking backwards compatibility. HTTP status is still the same (400). Error body not significant for promtail client : https://github.com/grafana/loki/blob/abe96fc20086063969f0954ca183d91a35090d2b/pkg/promtail/client/client.go#L253

[2019-09-11 13:19] cyriltovena commented on #273
@torkelo @dprokop @aocenas @slim-bean @joe-elliott

We had a discussion today and I think the suggestion will be to change the `streams` result type from :

[code]

to

[code]

Values will be nanoseconds float and currently is a RFC3339Nano.

[2019-09-11 13:28] cyriltovena commented on #273
This will only be true for the new API endpoint, the current one won't change.

[2019-09-11 14:11] candlerb commented on #273
When you say "nanoseconds float", bear in mind that an IEEE double has only 53 bits of precision, and in the current era, time will be rounded to about a quarter of a microsecond.

[code]

If the new API uses this form consistently, I'd be fine with that - although there seems to be little point storing exact nanoseconds if these are not exposed in the API.  Would query `start` and `end` parameter

[2019-09-11 14:23] joe-elliott opened #1007 "Decouple Protobuf objects from Internal Logic"
Currently the protobuf objects defined in https://github.com/grafana/loki/blob/master/pkg/logproto/logproto.pb.go are used directly throughout the logcli, promtail and loki codebase.  This creates a tight coupling between the data formats that are sent as http/json and grpc/protobuf and the internal logic.  As a result it can be very difficult to sanely make adjustments to the "on the wire" format

[2019-09-11 14:25] cyriltovena commented on #273
Yes there will be lost of precision and I don't think we will change the start and end as it's a granular way to filter log precisely.

[2019-09-11 16:01] cyriltovena commented on #898
Are you waiting for a response before pushing a new batch ? If you don't wait for a response nothing stops one request to be processed before.

[2019-09-11 16:04] cyriltovena commented on #979
I can confirm latest is fine.

[2019-09-11 16:04] #979 closed

[2019-09-11 16:19] cyriltovena commented on #943
I think we should support the use case of downloading raw logs, which we should using `-o raw` in that case we should not do any processing.

[2019-09-11 16:20] cyriltovena commented on #815
few months.

[2019-09-11 19:02] ryantxu commented on #273
discussed with @torkelo and @aocenas -- we think sending nanoseconds as strings is a good solution:
[code]

This makes parsing dates something like:
[code]

[2019-09-12 07:24] pracucci commented on #963
@wardbekker In the option describe above, the new version of `promtail` will parse the JSON response and act accordingly. If the new `promtail` will push logs to an older `loki`, it may break if we do support backward compatibility in `promtail`, because the older `loki` will reply as text which the newer `promtail` will try to parse as JSON.

[2019-09-12 07:34] pracucci commented on #943
@cyriltovena Do we wanna keep timestamp ordering and direction support with `-o raw`? If yes, we need to parse the entire JSON response anyway before printing out the log entries.

An approach I'm thinking about, is:
- Allow to disable the common labels filtering (whatever is the output format)
- When common labels filtering is disabled, we switch the implementation to a query pager, which - whate

[2019-09-12 15:11] misha-ridge opened #1011 "Filtering out specific JSON keys from logs"
I have a Kubernetes application that produces JSON-formatted logs. One of the keys makes sense only in CLI environment — it's the same log message in the text format, with ANSI escape sequences for terminal colors.

I'd like to filter out this field while submitting logs to Loki using promtail. I have found how to extract specific JSON keys in promtail, but not how to _filter out_ specific keys.

[2019-09-12 15:22] rfratto opened #1012 "Simplify promtail config"
Today, the promtail config that is exposed to the user requires knowledge about how Prometheus is configured. This is due to the fact that promtail's service discovery uses the same service discovery code as Prometheus.

While this is good for code re-use, it doesn't account for how the Prometheus service discovery can discover other machines, while promtail only supports reading from the current

[2019-09-13 12:54] #273 closed

[2019-09-13 18:29] rfratto opened #1015 "Test Coverage and Integration Tests"
At the moment, Loki is tested solely through unit tests. These unit tests are the only way to validate changes for Loki, and the current coverage per package is generally low:

[code]

Loki needs higher test coverage on both the unit and integration testing level to help add confidence to developers making changes.

[2019-09-13 22:33] cyriltovena commented on #957
See https://github.com/grafana/loki/issues/50 , we are planning to support this

[2019-09-14 04:30] pracucci commented on #1015
I agree. I would also suggest to introduce a tests requirement policy on PRs. I'm seeing most of the changes introduced in PRs without any test at all.

[2019-09-15 02:51] #868 closed

[2019-09-15 10:51] #875 closed

[2019-09-16 11:04] candlerb commented on #273
Thanks: I think nanoseconds as strings is fine.

It would be great if the rest of the API could be similarly updated (e.g. `ts` values for POST to `/api/prom/push`; `start` and `end` query values).  It would be very cheap to attempt to parse them as integers first, before falling back to full ISO datetime parsing.

[2019-09-16 13:52] adityacs commented on #905
@sh0rez Any plans to support Swift storage? If yes, I can work on this. Pl let me know.

[2019-09-16 14:19] rfratto commented on #1015
Requiring new features to include test coverage is a good idea.

(Even though I think I'm also guilty of introducing new functionality without tests :slightly_smiling_face:)

[2019-09-16 17:19] JadCham opened #1019 "AWS EKS: Update the AWS Go SDK version to support Web Identity providers for IAM credentials"
Hi,

The AWS Go SDK version needs to be updated to support Web Identity providers for IAM credentials on EKS.

The minimum version for AWS Go SDK is `1.23.13`

More info here:

* https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html
* https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-minimum-sdk.html

[2019-09-16 19:20] #759 closed

[2019-09-17 14:39] adityacs commented on #759
@sandlis I got my PR merged for above issue https://github.com/weaveworks/common/commit/a2b2a6303c33e3026c664d93bf8c8054054849a8
Kindly requesting you to update your fork and in turn update loki.

[2019-09-17 15:04] #927 closed

[2019-09-17 17:22] angelbarrera92 commented on #908
Up!

[2019-09-17 18:37] #963 closed

[2019-09-17 23:15] cyriltovena commented on #273
Good point, @joe-elliott what’s your take on the the push API?

[2019-09-18 17:00] joe-elliott commented on #273
I'm not opposed to moving the push API forward to this new format, but I think we should do it in a new issue/PR.

I believe the push API exclusively uses grpc objects for both json and protobuf unmarshalling.  The PR I've put together would have to touch entirely new parts of the codebase to start handling that logic.

[2019-09-19 00:00] oddlittlebird opened #1027 "Promtail capitalization"
Per @rfratto in PR #1024:

This was in response to my comment that "Promtail" capitalization was inconsistent in README.md.

[2019-09-19 04:48] gauravbist commented on #766
hi @sh0rez,  if the solution has not been built yet, could you please share, how to do it via API call, so that I can study and create some script or mechanism where I can directly backed up logs to S3 storage.

[2019-09-19 05:04] #884 closed

[2019-09-19 12:20] sh0rez commented on #766
Hi, I have paused developing this mostly because there was no real client library available at that moment. This has changed / will change soon because of the API refactor, then I will look into it!

[2019-09-19 16:04] #429 closed

[2019-09-20 02:45] mizeng opened #1033 "Prometheus version conflict with Cortex"
**Describe the bug**
After sync with Cortex through `dep ensure -v -update github.com/cortexproject/cortex`, Loki build will have problem in `engine.go`.

The reason is that Cortex used a new version of Prometheus, please find diff sample in https://github.com/prometheus/prometheus/blob/master/pkg/labels/labels.go#L158 vs https://github.com/grafana/loki/blob/master/vendor/github.com/prometheus/pro

[2019-09-20 12:07] cyriltovena commented on #959
@Gnitry Thank you for this. I'll try to find some time next week to test your PR.

[2019-09-20 14:00] claaslisowski opened #1034 "Loki cannot flush data to s3 when using kube2iam"
**Describe the bug**
We're running the helm chart with Loki 0.3 in EKS with 3 nodes.
We use kube2iam with a role that has S3 access.
Loki writes the chunks without issues to S3.
However when one of the pods is terminated, e.g. for an update the StatefulSet, Loki looses the capabilities to write to S3 and we receive this error:

[code]

(Full error logs attached and linked below)

That puts Loki in

[2019-09-20 15:25] claaslisowski commented on #1034
We are also using cortex as remote storage for prometheus there it works with kube2iam role. Not completely smooth, the shutdown process is similar as with Loki, same errors are thrown.
On startup however it restarts once more, probably the consul key is cleanup along any of these steps:

These are the logs for a cortex pod after a shutdown. You can see that it was left in the state LEAVING.
Then

[2019-09-20 17:57] Alexvianet opened #1035 "Add application version fild in --help"
When u ran
./loki_linux_amd64 --help
there is no field to check the application version, like:
`-version Show application version `
Need something like:
`./loki_linux_amd64 -version`
Please add, its needed to create a register for binary update (ansible register).
Thanks

[2019-09-20 20:15] #1035 closed

[2019-09-21 13:05] joe-elliott commented on #1034
It appears that Loki is calling s3.PutObject regardless of whether it's shutting down or just storing chunks normally.  So if the IAM role is working for normal operation it should work for shutdown flushing as well.

It appears that kube2iam had a bug in which it would not provide credentials to terminating pods:

https://github.com/jtblin/kube2iam/pull/173

Can you double check your kube2iam ver

[2019-09-21 20:35] tivvit opened #1038 "AWS signing region = dummy"
I ran into an issue with custom s3 endpoint. The S3 SDK is using v4 signing which is using region and I need to change it to something different than `dummy`. Loki is using `weaveworks/common` where this issue was recently fixed (https://github.com/weaveworks/common/commit/ecd64a57df80817ab201b56e5ba4c8a1b2f01512). But Loki is not using an upstream version it is using a fork https://github.com/san

[2019-09-21 21:49] tivvit commented on #1038
I confirm that the setup works for me with the code from upstream and correctly set `AWS_REGION` env variable.

[2019-09-21 21:56] tivvit commented on #1038
The code may be seen here https://github.com/tivvit/loki/commit/4774e7a8753b88cfa95f96b9fc6fd843e08ca12a

[2019-09-22 08:23] #525 closed

[2019-09-22 09:23] #902 closed

[2019-09-22 16:35] tivvit opened #1040 "promtail client is not able to send orgID headers"
I am writing a Kafka to Loki component and I am using Loki client from promtail. I am not using proxy for authentication yet but I think that it will not solve my problem.

Problem is that the data in Kafka is multi-tenant, therefore I need to send data to Loki with `X-Scope-OrgID` header. Determining OrgID is not trivial, therefore I think it would not be great to solve it in the proxy. It would

[2019-09-22 18:20] tivvit commented on #1040
I can see that all logs (entries and labels) are sent in one bulk. How does promtail solves this? When proxy gets this request I suppose everything has to be from one organization.

I will try to split send to multiple sends with different headers.

[2019-09-23 14:53] claaslisowski commented on #1034
Thanks @joe-elliott that was exactly the reason and updated kube2iam solved the issue.

[2019-09-23 14:53] #1034 closed

[2019-09-23 20:23] rfratto opened #1045 ""Loki / Chunks" dashboard uses undefined metrics"
The "Loki / Chunks" dashboard in the Loki mixin [here](https://github.com/grafana/loki/blob/7794d15b6ac7e7553710851f2e26d25e9662c061/production/loki-mixin/dashboards.libsonnet#L84) references the following metrics that are not defined in Loki:

- `loki_ingester_memory_chunks`
- `loki_ingester_memory_series`
- `loki_ingester_chunk_utilization`
- `loki_ingester_chunk_length`
- `loki_chunk_store_inde

[2019-09-23 20:23] rfratto commented on #1045
For reference, the following metrics are currently defined:

By all components:

- `log_messages_total`: Total number of messages logged by Loki.
- `loki_request_duration_seconds_count`: Number of received HTTP requests.

By distributors:

- `loki_distributor_ingester_appends_total`: The total number of batch appends
  sent to ingesters.
- `loki_distributor_ingester_append_failures_total`: The tot

[2019-09-24 14:51] ThoreKr commented on #759
@mizeng
[code]
why does it use harcoded `http`?

[2019-09-25 03:00] #940 closed

[2019-09-25 03:45] tlvenn opened #1050 "[helm] Properly support default storage class"
In order to leverage the default storage class feature, the `storageClassName` need to be omitted in the pvc template, right now it is set to `default` which does not work at all.

![image](https://user-images.githubusercontent.com/3340262/65567774-b9ff8880-df9a-11e9-8d31-6c9575d285f4.png)

[2019-09-25 07:22] ThoreKr opened #1051 "Custom S3 Endpoint not authenticating via HTTPS"
When trying to set up loki with a custom s3 endpoint (ceph rgw) we always get authentication issues.
As far as header logging and tcpdump have shown loki initially tries to connect via http to the rgw. This call does contain an authorization header.

We redirect from HTTP to HTTPS (301), causing the http client to strip the authentication header and resend the request, causing the request to fail.

[2019-09-25 08:44] ThoreKr commented on #1038
@tivvit How do you determine whether an Endpoint should be http or https?

[2019-09-25 09:52] minhdanh commented on #748
@prasenforu Could you have your questions answered? I'm wondering the same.

[2019-09-25 10:42] minhdanh commented on #636
@daixiang0 I need to query the logs by the hostname (with something like `{hostname="gke-pool-1-xxxx"}`, but `__host__` is an internal label that is not usable in Loki. So how can that be done? Do I need another relabel_config for that?

[2019-09-25 12:13] pstibrany commented on #74
Using `timestamp` stage with logs that contain lines without a timestamp (typically stack traces) results in a broken log stream.

If we use example from https://github.com/grafana/loki/issues/74#issuecomment-523942493

[code]

[2019-09-25 14:07] Bogdan-Catalin commented on #666
I have the same issue, but am using loki-stack
`helm upgrade --install loki loki/loki-stack --set loki.persistence.enabled=true --set loki.persistence.size=100 --set loki.persistence.storageClassName=standard`

What I find confusing is that in the statefulset volume claim template has storage class name of "standard", but a pvc resource of "default" storage class is created. Is this expected ?

[2019-09-25 14:12] Alexvianet commented on #882
@vukor, please show the working promtail config here, thanks

[2019-09-25 14:35] neoakris commented on #94
@rfratto
If that's the case can you add answers to these questions in your docs or at least mention if it's possible?

Questions:
1.) Which is better today for generating Alert Manager Alerts from logs? Promtail or fluentd? Are there plans to make one better at sending Alerts on log messages to AM in the future?
2.) My understanding is both can create Prometheus metrics from logs and AM alerts can

[2019-09-25 15:15] rfratto opened #1055 "Support plugins in Promtail's pipeline"
It would be great if Promtail supported third-party plugins as a stage in a pipeline. We could do this using Hashicorp's [go-plugin](https://github.com/hashicorp/go-plugin) library, which would be ideal for cross-language support.

[2019-09-25 15:17] rfratto commented on #94
@neoakris My current PR is [here](https://github.com/grafana/loki/pull/982) with the current comparison document [here](https://github.com/grafana/loki/blob/260444726ac71b25d24b7c95c9fc6bb1ad4373ad/docs/overview/comparisons.md).

I'm hesitant to add work-in-progress details to our documentation since there's not much point comparing a fully featured product to a hypothetical, but I'll try to addre

[2019-09-25 15:26] Alexvianet opened #1057 "How to make Promtail worked with Jornald"
Environment: CentOS7
https://github.com/grafana/loki/releases/download/v0.3.0/loki_linux_amd64.gz
https://github.com/grafana/loki/releases/download/v0.3.0/promtail_linux_amd64.gz
on the same host
[code]
/etc/promtail/promtail_config.yaml
[code]
/etc/systemd/journald.conf
[code]
[root@loki-01 ~]# ls /var/log/journal/93f219319dd5bdb42d9f1c8f2e23d329/system.journal
/var/log/journal/93f219319dd5bdb42d

[2019-09-25 15:59] rfratto commented on #1057
Hi, it looks like the binaries we shipped don't have journal support enabled, but they should. I'll look into it, but if you don't want to wait for a fix, you can try building Promtail yourself by cloning Loki and running `make promtail`.

[2019-09-25 16:05] Alexvianet commented on #1057
i ll wait, thanks

ср, 25 сент. 2019 г. в 19:00, Robert Fratto <notifications@github.com>:

[2019-09-25 16:58] #904 closed

[2019-09-25 16:58] rfratto opened #1059 "Loki Canary binary not included in release binaries"
The Loki Canary docs mentions the following:

but no such binary exists.

[2019-09-25 17:53] adamdecaf commented on #94
FYI, there's a logging-operator project that just released a v2 which would be good to compare loki against. They seem to use fluentbit (format) as well, so it's in the same space as loki.

https://github.com/banzaicloud/logging-operator

[2019-09-25 17:54] #94 closed

[2019-09-25 18:08] rfratto commented on #852
Opening this since we mention it in the docs as waiting for a fix.

[2019-09-26 00:22] chancez commented on #1051
Note it looks like https does work in the latest version of weaveworks/common: https://github.com/weaveworks/common/blob/master/aws/config.go#L53

[2019-09-26 00:23] chancez commented on #1051
But currently loki is using:
[code]

[2019-09-26 00:25] cyriltovena commented on #1051
There’s an issue to move back to master, feel free to take it.

Le mer. 25 sept. 2019 à 20:23, Chance Zibolski <notifications@github.com> a
écrit :

[2019-09-26 00:26] cyriltovena commented on #1051
https://github.com/grafana/loki/issues/945

[2019-09-26 03:36] pracucci opened #1065 "Label issues for hacktoberfest"
The [Hacktoberfest](https://hacktoberfest.digitalocean.com/) is about to start. Would be nice if a maintainer with the right privileges will tag some issues - where we want support - with the `hacktoberfest` label.

[2019-09-26 06:40] vukor commented on #882
@Alexvianet
I use "grafana/promtail:v0.3.0" official image.
AFAIK, "v0.3.0" version was builded with Journal support.

[2019-09-26 09:17] Alexvianet commented on #882
I use 0.3.0 binary promtail for centos VM
On Thu, Sep 26, 2019, 09:41 Anton Bugreev <notifications@github.com> wrote:

[2019-09-26 10:33] tivvit commented on #1038
Good question @ThoreKr

I am using http, therefore I hit the general case https://github.com/tivvit/loki/commit/4774e7a8753b88cfa95f96b9fc6fd843e08ca12a#diff-a55d7f0f417b8521b203aa3ff35c9bafR56

I suppose loki aws url may be `https://` instead `s3://` but maybe it would break something I did not test it.

[2019-09-26 10:51] tivvit opened #1066 "Multi bucket s3 setup"
We are using custom s3 provider (Swift) and that has write rate-limiting for a single bucket. Does Loki currently support multi s3 bucket setup? I did a quick scan of docs and code and I am afraid it does not.

Do you think it would be a useful feature?

[2019-09-26 11:12] sh0rez commented on #1055
While I personally like the idea of `go-plugin` more, we still might want to consider embedded scripting languages:
- https://github.com/containous/yaegi (basically go, just in interpreted)
- https://github.com/robertkrimen/otto (JS)
- https://github.com/d5/tengo

[2019-09-26 11:37] cyriltovena commented on #1065
I’ll take a look today

[2019-09-26 13:02] cyriltovena commented on #700
@wapmorgan I could not find the answer on docker documentation.

[2019-09-26 13:03] #1050 closed

[2019-09-26 13:08] cyriltovena commented on #1065
Voila !

[2019-09-26 13:08] #1065 closed

[2019-09-26 13:10] pracucci commented on #1065
Thanks @cyriltovena !

[2019-09-26 13:16] cyriltovena opened #1070 "Improve helm documentation"
Currently we don't have nice tables explaining of all possible configuration values in each charts we support.

See for example: https://github.com/helm/charts/tree/master/stable/nginx-ingress#configuration

It would be great to have a better main chart documentation for each of our charts.

[2019-09-26 13:42] cyriltovena commented on #1011
I think we could add support for `jq` in the json stage, by default it will stay `jmespath`.

[code]

/cc @slim-bean WDYT ? the above example remove the key `time` at the root level of the json received.

[2019-09-26 13:52] slim-bean commented on #1011
I like it @cyriltovena 👍

[2019-09-26 14:13] cyriltovena commented on #1011
Note there is no jq golang implementation :/ .

[2019-09-26 14:30] sh0rez commented on #638
Resolved this in #980

[2019-09-26 14:30] #638 closed

[2019-09-26 14:32] sh0rez commented on #520
Implemented in #980

[2019-09-26 14:32] #520 closed

[2019-09-26 18:50] rfratto opened #1074 "Return errors as JSON in new `/loki/api/v1` API paths"
Currently, error messages are always returned as strings. This can be useful for humans, but doesn't allow for any extra processing or formatting by computers.

Since we are trying to be compatible with the Prometheus API, we should follow their standard for error messages as seen [here](https://prometheus.io/docs/prometheus/latest/querying/api/#format-overview).

For now, most errors should conti

[2019-09-26 18:54] rfratto commented on #1074
We should still try to keep the level of information we return backwards compatible for the old API paths, so the new error objects within the details of the gRPC error should be converted into a string and appended to the error that's returned.

[2019-09-26 21:16] cyriltovena commented on #770
Fixes by #847

[2019-09-26 21:16] #770 closed

[2019-09-26 21:46] Efrat19 commented on #1051
Is there still something to be done? would 💖 to help

[2019-09-26 21:57] cyriltovena opened #1075 "Easier way to select the logForwarder in the loki-stack helm chart"
As of today you can choose which log forwarder you want to use within the [loki-stack chart](https://github.com/grafana/loki/tree/master/production/helm/loki-stack) by doing:

For promtail:

[code]

For fluent-bit:

[code]

It would be great if we could instead use property in the loki-stack chart values as such:

[code]

This way we could install the log forwarder of our choice using:

[code]

/c

[2019-09-27 01:00] cyriltovena commented on #935
Fluent-bit plugin seems to support syslog input would that solve the issue ? Or do we really want to have this in promtail ?

[2019-09-27 03:28] cyriltovena commented on #1011
So I just tried to fork jmespath to hack around the language and I was able to implement a `del` function. It is very simple https://github.com/jmespath/go-jmespath/commit/0ccdb0503953fed1b67d8724073becd4a1bd12aa .

Given:

[code]

With the expression: `del(@,'deleteme','foo')`

Result:
[code]

It basically returns the selected object minus the variadic list of field.

I'm wondering if that is eno

[2019-09-27 09:22] #899 closed

[2019-09-27 10:47] ThoreKr commented on #945
As weaveworks/common#153 is more or less dead and waiting for a rebase I reopened a new (rebased) PR (weaveworks/common#167).

[2019-09-27 17:45] atombender opened #1079 "Query endpoints fail with 404"
**Describe the bug**
Well, this is odd. We've been runing 0.3.0 for a while on Kubernetes. Then I wanted to test a newer `logcli` (which has added `--from` and `--to`), and that returned 404. So I thought, fine, I guess I can't use a newer `logcli` with 0.3.0, and I reverted. But now _all_ queries are returning 404.

The server is running happily (see log below). But:

[code]

Or for that matter:

[2019-09-27 18:32] joe-elliott commented on #1079
The `/loki/api/v1/query_range` is a new endpoint that is currently supported by the tip of master, but has not yet been cut in a release.  It was added here:

https://github.com/grafana/loki/pull/1022/

Your original logcli should work fine with all of the endpoints exposed in 0.3.0.

[code]

The next version of Loki will support the new endpoints and be compatible with the new logcli.

[2019-09-27 18:47] atombender commented on #1079
Thanks, it looks like I goofed when building `logcli`.

In my `Dockerfile` I was doing `git clone --depth=1`, then `git reset --hard v0.3.0`. But if you do `--depth=1`, you don't get the older commits, obviously, but also `git reset` doesn't complain about the non-existent commit!

So every time I built it, I was actually building `logcli` from the tip of the `master`. Too subtle. 😞

[2019-09-27 18:47] #1079 closed

[2019-09-27 19:11] cmanzi commented on #271
I'm still seeing this type of issue on a fresh install (using loki-stack chart v0.16.5). Sometimes the labels disappear, sometimes the logs disappear as well. Seems sporadic, didn't see anything in the logs to explain it.

[2019-09-28 10:55] ThoreKr commented on #1051
I created a loki build based on weaveworks/common#167 now it does connect to the radosgw on port 443, but sends an http package (with an Authorization header).

[2019-09-28 12:18] ThoreKr commented on #1051
Hum, it seems to be partially related to stuff still being placed underneath vendor/github,com/weavework/common which is still outdated.

Not sure what needs to be updated here.

[2019-09-28 15:58] OJFord opened #1080 "[helm] Deploying loki-stack with prometheus & grafana fails in k8s 1.16"
**Describe the bug**
Due to deprecated `apiVersion`s removed in 1.16, the prometheus & grafana dependencies fail to install.

`stable/grafana` is fixed (currently 3.8.15) but `stable/prometheus` remains broken, pending helm/charts#17268.

**To Reproduce**

1. `helm install loki/loki-stack --set=grafana.enabled=true,prometheus.enabled=true`

**Expected behavior**
Loki, grafana, and prometheus insta

[2019-09-29 01:30] daixiang0 commented on #636
just need add --client.external-labels=hostname=${hostname} then do query.

[2019-09-29 01:33] daixiang0 commented on #131
@slim-bean sorry for delay reply, i would like to looking at this if you have no plan about this.

[2019-09-29 02:48] daixiang0 commented on #1080
Since in 1.16, extensions/v1beta1 has been abondoned.

[2019-09-29 10:12] OJFord commented on #1080
What upstream fix? As I said `grafana==3.8.15` is using `policy/v1`, so those last two are fixed, and the remainder are from prometheus and being addressed in helm/charts#17268.

[2019-09-30 09:49] aku opened #1087 "Fix Docker Hub tags for Loki"
**Describe the bug**
**docker pull grafana/loki:latest** command pulls Loki with old API (**/api/prom/push** instead of **/loki/api/v1/pull**)

Currently, I have to build from source or provide some label from grafanabot
e.g. **grafana/loki:master-42040f2**

**Expected behavior**
Please provide correct labels/tags for Loki images

[2019-09-30 11:37] sharmaanshul21 commented on #1075
@cyriltovena I can look into this :bowtie:

[2019-09-30 12:45] cyriltovena commented on #1075
Sure go ahead !

[2019-09-30 12:49] cyriltovena commented on #1087
The CI needs to be update to include a push to latest.

[2019-09-30 13:03] slim-bean commented on #1087
It looks like when moving to Drone.io for building images we no longer tag `master` or `latest`

@sh0rez it doesn't look like drone config calls the make targets for building images, could we updated it to do this so we can get the `master` and `latest` tags?

[2019-09-30 13:19] sh0rez commented on #1087
I‘ll look into it!

[2019-09-30 19:06] clickyotomy commented on #945
Hello! Can I work on this after https://github.com/weaveworks/common/pull/167 is merged?

[2019-09-30 19:30] slim-bean opened #1090 "Missing docs on `docker` and `cri` pipeline stages"
It looks like in our documentation updates we lost details (or never had??) on the `docker` and `cri` pipeline stages

[2019-10-01 03:39] TakumaNakagame commented on #912
Thank you for the response.

I already have ElasticSearch in my environment. (PB grade)
Therefore, the easiest way to persist data was to transfer it here. The Cortex architecture is great, but not easy.
I want to use Loki for log alerts. I understand that Loki replaces ElasticSearch, but alerts are a great feature that only exists in Loki.

The ability to use the alert function and Grafana integr

[2019-10-01 07:11] sh0rez commented on #912
Hi, if you are only up for alerting, you might already be satisfied with the Elasticsearch alerting feature of Grafana itself: https://grafana.com/docs/guides/whats-new-in-v5-2/#elasticsearch-alerting

I imagine it easier to stick to your Elasticsearch setup and integrate alerting, instead of running Loki as well just for that purpose

[2019-10-01 11:53] ThoreKr commented on #945
@clickyotomy If you are more familiar with the dependencies a bit of help in weaveworks/common#167 would be most welcome.

Initially it was only meant to be a rebase to resolve a merge conflict, but now the actual change has been reviewed again.

[2019-10-01 11:54] ThoreKr commented on #945
@clickyotomy Please also take a look at my notes in #1051 as there is apparently another version in the `vendor` subdirectory.

[2019-10-01 12:51] mzs114 opened #1092 "Option to drop/ignore lines that don't match a given expression."
**Is your feature request related to a problem? Please describe.**
Sometimes the user exactly wants lines that match a particular expression be captured and others ignored/dropped, those lines could be noise/irrelevant for the end user. And/or there are too many patterns in the files and the user is interested in specific one(s).

**Describe the solution you'd like**
A configuration option(like in

[2019-10-01 13:02] #1090 closed

[2019-10-01 13:27] slim-bean opened #1093 "Timestamp stage add a fudged timestamp for lines missing a timestamp"
If using the timestamp stage and processing multi-line log lines, (or log lines that might not have a timestamp), the behavior could be a bit unpredictable.

If the timestamp stage fails to match the timestamp, the promtail system time will be used for the log line, this creates a race between the last processed log lines timestamp and the system time, potentially leading to Loki rejecting the log

[2019-10-01 16:12] #908 closed

[2019-10-01 18:38] clickyotomy commented on #945
@ThoreKr, I am not familiar with the changes introduced in https://github.com/weaveworks/common/pull/167, but I will try to help. :)
  * I don't know what needs to be done [here](https://github.com/weaveworks/common/pull/167/files#r329560591) - should we include/replace `localhost` on all the tests?
  * However, [here](https://github.com/weaveworks/common/pull/167/files#r329560936) - maybe we can

[2019-10-01 18:41] cyriltovena opened #1098 "Loki API could return the size of logs it has processed."
**Is your feature request related to a problem? Please describe.**

When doing a query it would be interesting to know how many logs and how much bytes has been processed.

This can be very interesting for queries returning metrics or filter queries.

**Describe the solution you'd like**

Extends the API with more information.

[2019-10-01 18:47] ThoreKr commented on #945
@clickyotomy Me neither, I just rebased it. Maybe wait for comments from upstream whether it should be tested or not.

[2019-10-02 00:34] eagle1981 commented on #153
+1

[2019-10-02 00:36] cyriltovena commented on #153
With our new fluentbit output plugin, it should be possible to capture syslog via this official input plugin https://fluentbit.io/documentation/0.12/input/syslog.html

[2019-10-02 09:23] simonrondelez opened #1101 "Tablemanager creates provisioned table when provisioned_throughput_on_demand_mode is set to true"
**Describe the bug**
There is no way to prevent Tablemanager to create the Dynamodb tables first in provisioned mode before switching it to on-demand.

**To Reproduce**
Steps to reproduce the behavior:

configure tablemanager like
[code]
see behaviour on the created Dynamodb tables

**Expected behavior**
The Dynamodb tables should be created in on-demand mode at initial creation.

**Environment:**

[2019-10-02 10:25] shuttie opened #1102 "promtail high CPU usage on default helm install"
**Describe the bug**
I'm currently playing with promtail 0.3.0 on a medium-sized 50-node kubernetes cluster. And I'm observing a really high CPU usage of promtail pods even on a nodes with low amount of logs generated.

For example, there is a node with 3 pods running, emitting about 10kb of logs per second. Promtail has a constant high cpu usage pattern staying somewhere between 70-150% of CPU. S

[2019-10-02 11:41] shuttie commented on #1102
Profile:
[pprof001.svg.gz](https://github.com/grafana/loki/files/3680886/pprof001.svg.gz)
Trace:
[trace.gz](https://github.com/grafana/loki/files/3680889/trace.gz)

[2019-10-02 12:02] shuttie commented on #1102
As a suggestion about how it can be fixed, I have following ideas:
* have an option about frequency of kubernetes discovery kicking in. According to trace, currently it's happening every 5 seconds. If it will happen only once in a minute, it won't be that painful.
* while pulling pod information from kubernetes, either filter pods belonging to current node on a k8s api level, or discard it as earl

[2019-10-02 13:38] rfratto opened #1105 "Loki defines metrics that it never updates"
Referring to the [list of metrics](https://github.com/grafana/loki/blob/master/docs/operations/observability.md) that Loki exposes, it seems that a subset of them are defined but never incremented. One example of this is `loki_ingester_chunks_flushed_total`, although there may be others.

[2019-10-02 14:47] cyriltovena commented on #1102
@shuttie Thank you so much for all of this !

[2019-10-02 15:41] Horkyze opened #1107 "Suppor for referencing nested record fields in Fluent plugin"
Currently, there is no way (that I know of) to reference nested JSON items in fluents plugin.

Somthing like this:
[code]

It would be awesome to have the ability to use Fluent's [RecordAccessor](https://github.com/fluent/fluentd/blob/master/lib/fluent/plugin_helper/record_accessor.rb) module.

So the nested items will be accessible like this:

[code]

The whole problem can be avoided I one does n

[2019-10-02 16:20] cyriltovena commented on #1107
This is only true for fluentd, for fluent-bit we have nested mapping via json config.

This is very interesting, thank you !

[2019-10-02 19:49] chancez commented on #1102
I was following along on slack and had some thoughts on this.

Kubelet has many of these same problems, and there's been a lot of work to optimize it if I recall, but I'd suggest looking at how kubelet handles this.

I believe field selectors do support node name when listing pods, but I believe the filtering on that is still happening in-memory on the API server, so I'm not sure how good that is,

[2019-10-02 21:16] chancez commented on #1102
I back tracked the kubelet code to see where it sets up it's watchers and finally found it at: https://github.com/kubernetes/kubernetes/blob/67d928acdc351d3d4f9e20a92cee4452a26ed0c4////pkg/kubelet/config/apiserver.go#L33

It seems like it just uses a filtered watch using a field selector on the pod's spec.nodeName field matching the kubelet's nodeName. Seems like a relatively straight-forward chan

[2019-10-02 21:17] #1057 closed

[2019-10-02 23:04] cyriltovena commented on #1102
I think the best option is to open an issue on the Prometheus repo referencing this issue just to see if it would be acceptable.

[2019-10-03 13:06] #611 closed

[2019-10-03 14:38] aledeganopix4d commented on #52
@DanCech I believe this issue can be closed now.

[2019-10-03 14:44] aledeganopix4d opened #1113 "Different packaging for release binaries"
We deploy `promtail` on all our infra VMs as native binaries. Unfortunately the choice of gunzipping the binary file is a bit incovenient for us for two reasons:

1. We deploy with Saltstack that natively (through archive.extract) is unable to open .gz files (it can open .tar.gz though)
2. On Windows there's no native tool that can uncompress the .gz file and thus would require to install gzip fir

[2019-10-03 19:42] cyriltovena opened #1117 "docs: Labels recommendations"
I was searching through our recommendations for labels and couldn't find anything.

I think we should have in our user documentation some explanation about what are bad and good labels with some nice example.

Somwhere here https://github.com/grafana/loki/blob/master/docs/clients/README.md

We should also explain how to have the same labels in Prometheus and Why ? (switching from metrics to logs).

[2019-10-04 01:52] daixiang0 commented on #377
.

[2019-10-04 07:15] metri commented on #162
Please, don't close issue.

[2019-10-04 08:40] pracucci commented on #1101
Thanks @simonrondelez for the report. I'm working a fix. It may take a bit, cause the fix should be done in Cortex - a Loki dependency - so we need to fix it there first, then update the dependency here.

[2019-10-04 12:20] aledegano opened #1119 "Configure encoding of scraped logs"
As Windows is... special... in the Server2019 edition (at least) the log files are saved with the `UTF-16` encoding, this means that trying to scrape them as-is will result in a mangled output in Grafana.

If it was possible to specify through configuration the encoding of the scraped logs (and then parsing the files accordingly) this problem above could be simply solved.

For the time being I'm r

[2019-10-04 12:59] #936 closed

[2019-10-04 14:59] #60 closed, assigned to nobody

[2019-10-04 21:59] #734 closed

[2019-10-05 11:13] #28 closed

[2019-10-05 16:36] pracucci commented on #916
@cyriltovena May you explain the rationale behind it? In my recent investigation on how the table manager works, I've realized that actually it keeps `floor(retention_period / table_period) + 1` tables, so I would say that the retention period should be at least equal to the period table period (not the double) and should be a multiple of it.

[2019-10-06 07:05] pracucci commented on #1093
_I'm working on it._

[2019-10-06 16:14] MalloZup commented on #52
I will work on this soonish. I might create rpm first also I might be that I could build Debian pkg (if needed) with obs https://openbuildservice.org/

We do already for other projects

[2019-10-06 19:14] #953 closed

[2019-10-06 19:14] #954 closed

[2019-10-07 02:45] genebean commented on #935
I vote for solving In promtail

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-07 09:26] pracucci commented on #915
_Please keep it alive, since there's a PR already open._

[2019-10-07 12:24] #915 closed

[2019-10-07 13:14] mleyden opened #1125 "Release 0.3.0 checksum error"
Using:
molecule, version 2.20.2
ansible 2.8.3
docker with CentOS 7

Downloading as follows:

Using sha256sum ver. 8.22

936cd0cb8e28944d97a877976910376df8d881a4892d24fcf56526ea4ebcca33  /usr/local/bin/loki.gz

Which does not match the entry in https://github.com/grafana/loki/releases/download/v0.3.0/SHA256SUMS
which states it should be 2dc01f97e50b1de286bc02c09f95e18a9140c5a5345f737b22c145f2f02072

[2019-10-07 14:03] rfratto commented on #1125
Hi, thanks for reporting. We've re-released v0.3.0 and the SHAs should match now.

The promtail binaries for v0.3.0 was updated last week to address #1057 before v0.4.0 but apparently caused issues in the SHA256SUMS. Going forward, we'll make sure that we don't change binaries after the initial release.

[2019-10-07 14:03] #1125 closed

[2019-10-07 14:23] cyriltovena commented on #916
I actually don't know much about retention, @sandlis can you help here ?

[2019-10-07 14:47] sandlis commented on #916
@Morriz index tables hold index for a configurable duration to help optimize the queries. Its value defaults to 7 days. Retention deletes complete table at a time so it deletes the whole table only when whole table is out of retention period since there is no way to delete tables partially.

@pracucci you are right, need to update the docs. It should just say retention should be multiple of period

[2019-10-07 15:58] pracucci commented on #916
@sandlis I'm still dubious why "retention should be multiple of periodic table duration". Why can't the retention be equal to the period table duration? The current table manager implementation keeps the last `floor(retention_period / table_period) + 1`  tables, so if `retention_period == table_period` it will keep the last 2 tables, which looks OK to me.

[2019-10-07 16:12] sandlis commented on #916
Cortex now does not support retention period which is not a multiple of periodic table duration which also means Loki won't support it. It was changed by me recently since partial deletion of tables is not supported yet and it was setting wrong expectations.

[2019-10-07 16:18] kessiler commented on #1075
@sharmaanshul21 r u going to work on this or can I take it? Happy to help here.
cc @cyriltovena

[2019-10-07 16:38] pracucci commented on #916
Sorry @sandlis but **I've misunderstood your last message**. We're on the same page. Retention must be:
1. Always a multiple of table `period`
2. At least equal to the table `period` (while currently the doc erroneously says that it must be at least the double)

[2019-10-08 01:41] daixiang0 opened #1127 "Add default value for loki/promail"
Built loki binary file with master HEAD commit, run below cmd:
[code]

The root reason is that some config like tablemanager does not have default value.

@slim-bean @cyriltovena if needed, i would like to do this.

[2019-10-08 01:41] daixiang0 commented on #1127
Also, need to document which value must set i think.

[2019-10-08 05:22] sh0rez commented on #1127
The thing here seems to be that this is very environment specific, IE Dynamo on Aws but Bigtable on Gcp.

It would be hard to find a default that fits all so it might be better to improve the error message instead

[2019-10-08 08:21] daixiang0 commented on #1127
Yep, so need to discuss which parts of config can use default and which must be set by users.

[2019-10-08 08:28] sh0rez commented on #1113
Hi, thanks for pointing out! I assumed that `gzip` was well-supported at the time choosing this format.

Of course we can switch to a more common format. I wonder what fits best here, `tar.gz` is probably the most common format in the UNIX world, while `zip` should be supported literally everywhere.

We would need to carefully update install instructions to make users aware of this change / update

[2019-10-08 09:40] pracucci commented on #1055
From my perspective, plugins and scripting would cover different use cases. Plugins may be used to add pipeline stages without any technical limitation, while scripting would be limited to the scripting language capabilities and its functions library. In this scenario, an embedded scripting language may be eventually implemented as a plugin itself.

For this reason, I would suggest to keep this di

[2019-10-08 10:23] pracucci commented on #1011
If I do understand correctly, the issue is about being able to manipulate a JSON log message while keeping it in the JSON encoded format, so that the log "message" pushed to Loki is still a JSON.

_The following assumes my previous sentence is correct._

To my understanding, Filebeat `drop_fields` covers a different use case. In Filebeat all fields are pushed to ElasticSearch, so you need a way to

[2019-10-08 10:30] misha-tectonic commented on #1011
This syntax solves my immediate problem.

A richer filter, e.g. being able to say something similar to `@.[?name!='bar']`, might be occasionally useful, but does not add much.

[2019-10-08 10:43] pracucci commented on #1002
I checked all the available linters and I would suggest:
- Remove `interfacer`
- Replace `megacheck` with `staticcheck`
- Add `prealloc`: finds slice declarations that could potentially be preallocated

Any feedback?

[2019-10-08 13:39] rfratto commented on #1127
I agree with @sh0rez about the difficulty of this. Perhaps the default config (i.e., when no config file is provided) should be a single-binary Loki with local storage for quick demoing/evaluation. I don't think it's going to be possible to provide a _useful_ config by default, though.

[2019-10-08 13:41] #1027 closed

[2019-10-08 13:46] #916 closed

[2019-10-08 14:45] joe-elliott commented on #1105
Reviewing all metrics in the linked documents only `loki_ingester_chunks_flushed_total` is missing.  This metric is trivially calculated by summing `loki_ingester_chunks_stored_total`.  Removing it from the documentation/codebase.

[2019-10-08 20:37] #1045 closed

[2019-10-08 20:37] #1105 closed

[2019-10-09 05:37] sharmaanshul21 commented on #1075
Sure, please go ahead, I am stuck till 15th, can’t pick this issue before that :-(

Sent from my iPhone

[2019-10-09 12:05] fredbcode opened #1136 "Netflow or/and pipeline (cisco logs)"
Hello,

I'm using now ELK, logstash uses Netflow plugin for UDP logs from routers
Maybe this is something interesting for promtail

There is also a new ingest telemetry data from CISCO (pipeline), a plugin can works directly with prometheus or influxdb
https://blogs.cisco.com/sp/introducing-pipeline-a-model-driven-telemetry-collection-service
Unfortunately the plugin code is not updated https://gi

[2019-10-09 16:43] MalloZup commented on #52
My plan would be to pkg promtail and loki in different pkgs and create a systemd service to start stop agents. As a question what do you think about the configuration files directory?? Where should we put conf? E.g in existing etc/grafana or etc/loki and etc/promtail ?

[2019-10-09 19:46] #1059 closed

[2019-10-09 20:29] cyriltovena commented on #52
I'm rooting for etc/loki and etc/promtail

[2019-10-09 20:33] cyriltovena commented on #1113
yes let's do it !

[2019-10-09 20:48] cyriltovena commented on #1011
You actually have to choose what goes into the extracted map.

We can definitively run another stage  while this seems more elegant it is less efficient as we would probably decode the json twice. Unless this is taken into consideration when implementing this we could share the `map[string]{}` across all json stages, feels hacky though.

I also feel like most of the time when you want to delete js

[2019-10-09 21:02] joe-elliott opened #1138 "Adjust loki_ingester_chunk_compression_ratio to better report compression ratio"
Currently `loki_ingester_chunk_compression_ratio` (https://github.com/grafana/loki/blob/master/pkg/ingester/flush.go#L44) has poorly defined histogram buckets.

The 90th percentile will often be artificially capped at 8.5 (the largest bucket value).  Additionally it will might be nice to have more vision <1.  Through experimentation determine and configure a better set of buckets.

[2019-10-09 23:09] kessiler commented on #1075
Hi @cyriltovena, after some research here what you're trying to achieve is not possible today.

Helm doesn't support computed values in `requirements.yaml` (condition property).

Here's the draft: https://github.com/grafana/loki/pull/1140/files

I've tried to use _helpers.tpl to add dynamically the condition in values.yaml, however, it did not work.

There is an issue open for it in helm chart rep

[2019-10-10 05:08] mizeng commented on #364
In my opinion, filesystem chunk storage now is only fit for small and local testing. For any large deployment or prod use-case, please choose other storage like S3.

If you still need to use filesystem, maybe a NFS like CephFS, it's better to implement isolation by yourselves like isolate chunks by namespace or something else, and contribute to Cortex project if it works well in your side.

[2019-10-10 07:23] jzandbergen commented on #364
@mizeng, thanks for the feedback!
However, in my opinion it is unbelievable that something as mundane as writing to a filesystem is not considered production ready (NOFI).

[2019-10-10 07:31] kalingals commented on #340
Hi @cyriltovena cyriltovena can you please tell me when do you plan to release Loki alerting feature?

[2019-10-10 07:33] mizeng commented on #364
that's question to Cortex..

Quote from https://github.com/grafana/loki/tree/master/docs/operations/storage
[code]

[2019-10-10 09:08] MalloZup commented on #52
ok thx! sounds good to me

[2019-10-10 09:08] MalloZup commented on #52
ok thx! sounds good to me

[2019-10-10 11:03] tomwilkie commented on #340
Loki already accepts PromQL like expressions (LogQL) on a Prometheus-compatible API, so the rough plan is to use the Cortex Ruler to evaluate Prometheus-style alert rules against logs.  The Cortex Rules already exists, is horizontally scalable & highly available, so the integration should be relatively straight forward we hope.

This plan is in its super early stages mind you; input is more than w

[2019-10-10 11:17] Horkyze commented on #985
I am experiencing the same issue on Grafana 6.4.2 and Loki from[ docker hub](https://hub.docker.com/layers/grafana/loki/latest/images/sha256-469bed72813d14737e150b3e9a76dcdd9e705308c947db889233c360769d890f)

![image](https://user-images.githubusercontent.com/1040383/66564277-ed781080-eb5f-11e9-9c8d-a1d2f32bcdad.png)

What is the current status of this issue? Should it be working?

[2019-10-10 11:47] TakumaNakagame commented on #912
Thank you for response.
I tried Grafana Alerting. This was certainly enough.

Thank you!

[2019-10-10 13:05] sh0rez commented on #912
Great to hear that you have been able to solve your problem! Feel free to reach out for further questions on Slack!

[2019-10-10 13:05] #912 closed

[2019-10-10 13:20] cyriltovena commented on #1075
I'll check your PR.

[2019-10-10 14:24] cyriltovena commented on #985
No this is not available yet in Grafana, @davkal do we have an issue on Grafana side ?

Also I notice the path Grafana is using currently is wrong it should be https://github.com/grafana/loki/blob/master/docs/api.md#get-lokiapiv1query_range

If you still want to use this you can @Horkyze , you can use Loki as a Prometheus datasource, although you won't have label and label value completion it will

[2019-10-10 14:32] cyriltovena commented on #364
Not yet ! but we want filesystem to be production ready and friendly :)

[2019-10-10 14:39] #1093 closed

[2019-10-10 15:37] Horkyze commented on #985
Thanks for quick reply.

Could you provide you datasource config please?
Because I cant get it to work.. :/

`curl https://loki.<oursite>.net/loki/api/v1/query?query=1%2B1&time=1570721681.814`
return 404 from our proxy..

[2019-10-10 16:02] cyriltovena commented on #985
I'm guessing you're on Loki 0.3, you need at least this commit https://github.com/grafana/loki/commit/364b5bc4f654230eb0640b89fba99be98184a610 which will be in the soon to be released 0.4

[2019-10-10 16:04] cyriltovena commented on #985
https://hub.docker.com/layers/grafana/loki/master-364b5bc/images/sha256-4ad1606007c58baa1adff9c17ee2f698cf6e371774d79d8a0d2a1408b9d37df5 if you want to try it out.

[2019-10-10 21:15] MalloZup commented on #52
ok first RPM I have build for opensuse are here :green_apple:  https://build.opensuse.org/package/show/server:monitoring/loki.

I will need to play and experiment with this pkg and then I could update the pkgs to 0.3.0. Currenlty I have some issues with the golang pkg. I guess perhaps soemthing changed in the vendoring? orsoemthing between 0.1.0 to 0.2.0 I might neeed to check.

After that, I coul

[2019-10-11 00:39] #409 closed

[2019-10-11 09:34] Horkyze commented on #985
Thanks, it is working now :) However with some small issue (which I resolved) https://github.com/grafana/grafana/issues/19764

[2019-10-11 09:48] pracucci commented on #820
@cyriltovena May the experiment done in https://github.com/pracucci/lokitool be of any interest to be backported to this repo?

[2019-10-11 09:53] davkal commented on #985
The grafana team is working on this for 6.5. Sorry for the delay.

[2019-10-11 13:42] #701 closed

[2019-10-11 13:46] cyriltovena commented on #1075
Yep you are right, Thanks @kessiler for the investigation, too bad helm doesn't support this.

[2019-10-11 13:46] #1075 closed

[2019-10-11 13:51] rfratto opened #1142 "Change `/loki/api/v1/push` JSON object to be consistent with other v1 paths"
In the [API docs for the push path](https://github.com/grafana/loki/blob/master/docs/api.md#post-lokiapiv1push), the POST body still accepts a single string to refer to all of the labels (i.e., `"{foo=\"bar\"}"`).

This way of referring to the label set has deprecated in all other v1 endpoints, replaced with a labels object: `{"foo": "bar"}`. Before 0.4.0 is released with the new endpoints, it wou

[2019-10-11 15:14] #1138 closed

[2019-10-11 16:42] #913 closed

[2019-10-11 19:38] rally25rs commented on #199
Anyone ever figure this out? I get this by simply following https://github.com/grafana/loki/blob/master/docs/installation/helm.md and customizing nothing other than using `fluent-bit` instead of `promtail`.

requirements.yaml
[code]

values.yaml
[code]

deploy it with `helm upgrade --install ...`

then open the Grafana UI and try to add Loki as a datsource with the URL `http://{my release name}-lo

[2019-10-11 19:40] joe-elliott opened #1144 "Update fluentd plugin to use the new push endpoint"
The fluentd plugin is still using the old formats and push path at `/api/prom/push` update it to use the new json format and new path `/loki/api/v1/push`

Documentation of new endpoint:
https://github.com/grafana/loki/blob/master/docs/api.md#post-lokiapiv1push

[2019-10-11 19:59] cyriltovena commented on #199
yes you don't have any data, could be an error on the agent side.

[2019-10-11 20:07] rodrigoroma commented on #1117
I have the following doubt about labels recommendations in Loki and maybe it differs from Prometheus in this point despite Loki being "Prometheus for logs":

In Prometheus, it's not recommended to create labels with a high number of different values (the user id or email for example) because it would create a lot of different time series. Does this apply to Loki? Or it's ok to create labels with a

[2019-10-11 20:18] cyriltovena commented on #1117
The same apply to Loki, you usually want to avoid latency as label as it is unbounded, but pod name is good label to have.

[2019-10-11 20:25] rodrigoroma opened #1146 "Ingest RabbitMQ (AMQP) messages into Loki"
I think sending application log messages to RabbitMQ (or other queue system that implements AMQP protocol) is a good architetural decision because:
* It helps decouple the application
* It puts the log messages in a buffer in case of log system unavailability
* Increase the application speed as putting the logs in a queue sould be faster than sending then to the log system

I use this architeture

[2019-10-11 20:53] rodrigoroma commented on #1117
@cyriltovena I confess it's a little disappointing to me to not be able to filter by `userId` or `requestId` for example.

Am I thinking the wrong way?!

[2019-10-11 22:36] cyriltovena commented on #1117
No at all, we use Loki to find jaeger traceid using logql filter.

You can still find those logs without having to label/index them

[2019-10-12 00:42] mizeng opened #1147 "Different config between doc and code for limits config"
**Describe the bug**
Seems there're quite a few difference of limits config between config doc and real code.
e.g. https://github.com/grafana/loki/tree/master/docs/configuration#limits_config vs https://github.com/grafana/loki/blob/master/pkg/util/validation/limits.go#L15-L40

Take ** ingestion_rate** as an example, I can not find it in the code at all. Instead, there's one named "ingestion_rate_m

[2019-10-12 09:03] wpcnjupt commented on #978
Thanks a lot.

[2019-10-12 09:03] #978 closed

[2019-10-12 11:23] wuestkamp opened #1149 "Promtail Unhealthy: kubernetes_events Warning loki-stack-promtail"
**Describe the bug**
`loki-stack-promtail` instances go into Warning state.

I get notified through Grafana/Prometheus if "kubernetes_events" Warning events happen

**Expected behavior**
`loki-stack-promtail` should not get into a Warning state.

**Environment:**
DigitalOcean cluster
[code]
installed `grafana/promtail:v0.3.0` and `grafana/loki:v0.3.0`

**Kubernetes Event**
[code]

**memory and cpu

[2019-10-13 01:33] rally25rs opened #1150 "loki-stack sets the wrong push URL in fluent-bit config"
**Describe the bug**

Fluent-bit reports errors when pushing to Loki:

[code]

**To Reproduce**

All I did was set up a Helm chart that used loki-stack as a requirement:

requirements.yaml
[code]

values.yaml
[code]

Then installed it with a release name
[code]

**Expected behavior**

I would have expected loki-stack to configure fluent-bit to correctly push logs to loki.

**Environment:**
 - Infr

[2019-10-13 02:30] slim-bean commented on #943
I think this should stay open, come back later stalebot

On Sat, Oct 12, 2019, 10:20 PM stale[bot] <notifications@github.com> wrote:

[2019-10-13 13:55] cameronbraid opened #1151 "can you use kubernetes discovery when docker using journald?"
I am running openshift which uses journald for logging and therefore /var/log/pods/* is empty

How would I go about configuring promtail to use kubernetes discovery with journald ?

[2019-10-13 17:28] #923 closed

[2019-10-14 08:51] cameronbraid commented on #1151
I managed to setup some relabel configs to at least make the extracted log events usable

[code]

they are based off the regular expression from fluentd https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter/blob/master/README.md

[code]

[2019-10-14 09:54] MrSaints commented on #1051
We've encountered a similar problem using Loki with DigitalOcean Spaces.

[2019-10-14 10:14] tivvit commented on #1146
I am working on implementing Kafka queue as input to Loki for the exact same reasons you stated. I will publish `kafka2loki` project which is client reading messages from Kafka and sending them to Loki using Promtal client.

[2019-10-14 16:24] cameronbraid opened #1153 "failed to create target - too many open files, ulimit -n 1048576"
I am getting errors in promtail :
[code]

on the host

[code]

in the promtail container

[code]

Any hints on how to solve this ?

[2019-10-15 07:48] cwrau opened #1154 "[Helm Chart] Added properties on the statefulset prevent updates"
**Describe the bug**
When updating from 0.16 to 0.17 the `helm upgrade` fails, as the statefulset changed in a not supported way.

**To Reproduce**
Steps to reproduce the behavior:
1. Create release with helm chart version 0.16
2. Upgrade release to helm chart version 0.17
3. Error message

**Expected behavior**
The upgrade works

**Environment:**
 - Kubernetes
 - Helm

**Screenshots, Promtail con

[2019-10-15 11:06] #1142 closed

[2019-10-15 12:00] cyriltovena commented on #1150
We planned to release with the new path in 0.4.

Fluent-bit has been added recently with that new path. You can either change  it in the config or use another tag for loki.

[2019-10-15 12:05] cyriltovena commented on #1153
Hello @cameronbraid do you have more details ?

Is this happening for every nodes ? or only certain nodes ? Can you check which files are open ?

[2019-10-15 12:14] cyriltovena commented on #1154
Hello @cwrau can you confirm if you talking about loki-stack chart of just loki chart ?

I think this has been introduced by this commit https://github.com/grafana/loki/commit/a2060efd6332464d3239ebce882e8d4a1fcd61e3#diff-d4b0bdded56881fb174e31918d17cc2c

Are you using persistence ? if yes what is your current `storageClassName` ?

Thank you !

[2019-10-15 12:18] cyriltovena commented on #1151
Our current kubernetes service discovery works only with files. But from what I can see you already have some source label that have what you need.

I think you have the right solution here, though we need to document this, feel free to send us a PR if you have some time to give back.

[2019-10-15 12:18] cameronbraid commented on #1153
Sure, its a openshift cluster v3.9, docker log driver is json-file

There are 3 nodes that are working fine, and three that have this issue.

On one of the problematic nodes the file counts are :

[code]

[2019-10-15 12:19] cyriltovena commented on #1150
Going to send a PR to change that until we have the 0.4 release.

[2019-10-15 12:33] #1092 closed

[2019-10-15 13:21] #1150 closed

[2019-10-15 14:22] cyriltovena commented on #1153
I think there is something on those nodes already using a lot of file descriptors, and this is not promtail.

You should check what that is, if this is fine for you, then the only options is busting up that limit.

[2019-10-16 02:35] liguozhong opened #1158 "[feature request] loki client: java Library to send logs to Loki"
Our log here has already caught a central Jstorm through other Agents. Here we can use the java language to do the extension.

We hope to write this data to the loki server, and then provide it to the R&D staff in the loki explore of grafana for fault analysis. .

But searched on github, there is no client searching for java.

go : https://github.com/livepeer/loki-client
java : ????

![image](http

[2019-10-16 02:48] mizeng opened #1159 "Ingester not leaving Ring properly again"
**Describe the bug**
In kubernetes world, if I delete one Ingester pod, the new one will join the Cortex ring, however the old one still exists in the ring with status "unhealthy". This will cause 500 error in Distributor for unhealthy ingester.

**To Reproduce**
Steps to reproduce the behavior:
1. Started several Loki Ingesters.
2. When they join the Cortex ring, delete one Ingester.
3. Let the n

[2019-10-16 03:00] mizeng commented on #1159
Seems related to below logic
[code]

So for my settings `replication_factor: 1`, **maxErrors=0**, then during loop, it will find one unhealthy ingester, then **maxErrors=-1**. Then the error `too many failed ingesters` appears, and block `pool.removeStaleClients`.

[2019-10-16 07:06] mizeng commented on #1159
However even if I set `replication_factor=2`, when I delete one ingester, the error disappears `msg="error removing stale clients" err="too many failed ingesters"`, but distributor did not delete the unhealthy ingester from Cortex Ring either.

[2019-10-16 07:47] liguozhong commented on #1158
`
import com.alibaba.fastjson.JSON;
import com.google.common.collect.Lists;
import org.apache.http.HttpResponse;
import org.apache.http.client.methods.HttpPost;
import org.apache.http.entity.StringEntity;
import org.apache.http.impl.client.DefaultHttpClient;
import org.apache.http.util.EntityUtils;

import java.text.SimpleDateFormat;
import java.util.Date;
import java.util.List;
import java.util.T

[2019-10-16 08:08] cameronbraid commented on #1153
Yes, there are lots of file descriptors used, that's not the case. as Nothing else is complaining about it.  Its only promtail.

And you can see from the stats, 62688 open before launching promtail, with a max of 13059628, leaving room for 12996940 more. The targets that promtail creates are all in /var/log/pods and /var/lib/docker/containers which are a total of 2500.

[2019-10-16 09:13] cwrau commented on #1154
Oh, I didn't know about multiple charts
It's the `loki-stack` chart (Updated the first comment)

Yes, we're using persistence.
The `default` storageClass, which is named `default`, and is provisioned using kubernetes.io/azure-disk

[2019-10-16 09:20] cwrau commented on #1154
If I do a `helm diff upgrade`, I get the following diff in the Statefulset:

[code]

Looks like the `metadata.labels.chart` field change is the culprit?

[2019-10-16 10:47] rally25rs commented on #1150
Confirmed fixed in `loki-stack@0.17.2` 👍 🎉

[2019-10-16 11:35] rfratto commented on #1159
Do you have any logs from `ingester-7dff74c688-9mgsl` that show why it may not have left the ring properly?

Also, what is the terminationGracePeriod set to for your ingesters? We run ours with a termination grace period of 4800 to make sure that the ingesters have enough time to cleanly shut down and leave the ring.

[2019-10-16 12:11] cyriltovena commented on #1158
You should not have an IP in labels :)

It looks good, I think @slim-bean might get started on something similar. Not sure about the ETA but we also need a java client.

[2019-10-16 12:36] cyriltovena commented on #1154
can you try to use a newer version of helm ? That seems absurd to fail for a label change.

[2019-10-16 12:41] cyriltovena commented on #1154
Can you share kubernetes version and helm version ? Also can I see the full diff, this seems to be expected if you change something in the volumeClaim property which it seems you're not.

[2019-10-16 12:51] cwrau commented on #1154
`kubectl version`:
[code]

`helm version`:
[code]

Both should be the latest version

`helm diff upgrade loki --namespace monitoring loki/loki-stack --version 0.17.1 --values=loki.yaml`:
[code]

[2019-10-16 12:53] cyriltovena commented on #1154
Thanks a lot, I'll investigate on my side and will come back to you.

[2019-10-16 12:54] cwrau commented on #1154
Thank you!

[2019-10-16 14:49] cwrau commented on #1154
Oh, I used the latest `0.17`, so `0.17.1`.
Sorry, I didn't mention that specifically (though it's written in my last comment 😉)

[2019-10-16 15:01] brokenjacobs opened #1161 "logcli on OSX does not respect VPN DNS"
**Describe the bug**
When connected over a VPN, on OSX, the logcli binary doesn't use the scutil resolvers configured by the vpn, instead it tries to parse /etc/resolv.conf and use the native go resolver. This is due to the way the go resolver system works on OSX.

**To Reproduce**
Steps to reproduce the behavior:
Connect with vpn.
use logcli
observe host not found error

**Expected behavior**
log

[2019-10-16 15:36] alucianus opened #1164 "Unknown error during query transaction. Please check JS console logs."
Hello everyone, I use Loki 0.3.0  locally...  when I run  one week log query, or more it returns an error
`Unknown error during query transaction. Please check JS console logs.`
My database is Boltdb actually with 3G used disk, my server has 4vcpu, 4gb Ram  with few hosts collected
Anyone did have the same problem?
My syslog :
`level=warn ts=2019-10-15T20:01:05.240017374Z caller=logging.go:49 trac

[2019-10-16 20:22] sh0rez commented on #1158
For the time being, you might get along with one of these workarounds:
- let your application log to files, use `promtail` to ingest these to loki
- Use a combination of our https://github.com/grafana/loki/tree/master/fluentd/fluent-plugin-grafana-loki and their Java plugin https://docs.fluentd.org/language-bindings/java

Would any of these work for you?

[2019-10-17 00:09] mizeng commented on #1159
The pod `ingester-7dff74c688-9mgsl` is deleted from the cluster, so I have no logs. However, per my understandings, Distributor is responsible for remove one ingester from the ring, right?

[2019-10-17 00:27] cyriltovena commented on #1164
Hello @alucianus ,

By default Grafana will timeout within 30s, the query you are running probably needs more than 30sec.

One thing you can do right now is update this timeout: https://grafana.com/docs/installation/configuration/#timeout

Currently Loki queries are run within a single go routine so using a single CPU, we're currently working to improve that.

Although I didn't catch correctly if

[2019-10-17 00:30] cyriltovena commented on #1164
You can also activate debug logs, it should output numbers about the size of your query (indexes and chunks involved). Don't hesitate to share that with us to see if there is anything abnormal.

[2019-10-17 00:34] rfratto commented on #1159
If you have Promtail monitoring the Loki components, you can use Loki to read logs from the deleted pod. This is how we tend to diagnose these kinds of issues in production.

Not quite. Ingesters handle their own insertion and deletion from the ring. When an ingester is shut down from k8s, after the shutdown process completes (i.e., either handing off its chunks to a pending ingester or flushing c

[2019-10-17 00:37] mizeng commented on #1159
Thanks for the info!

I will look through the Ingester code again to triage.

[2019-10-17 00:43] cyriltovena commented on #1153
Could you check ulimit from within the promtail container ? It should see the same ulimit than the host but it doesn’t seems true here

[2019-10-17 00:48] cameronbraid commented on #1153
in promtail container
[code]

[2019-10-17 00:50] cameronbraid commented on #1153
Also in the container :
[code]

[2019-10-17 00:56] cyriltovena commented on #1153
Have you tried to check the /service-discovery and /targets page of promtail to see how many targets you have ? I’m wondering if this is a promtail or openshift issue.

[2019-10-17 00:59] cyriltovena commented on #1153
Can you also activate debug log in promtail and share that with us ? we will see path and targets found.

[2019-10-17 01:01] cyriltovena commented on #1153
You can also check the metric exposed promtail_files_active_total.

[2019-10-17 01:04] cyriltovena commented on #1153
One last thing if your log files are rotating but old logs files are not deleted over time, promtail will keep watching them. This could easily build up, any chance you have ton of log file not used ?

[2019-10-17 01:08] cyriltovena commented on #1153
https://access.redhat.com/solutions/2334181 Do hou have a max file limit for docker ?

[2019-10-17 01:17] cameronbraid commented on #1153
/metrics :
promtail_files_active_total 0.0
promtail_targets_active_total 99.0

/service-discovery :
kubernetes-pods-app (17/794 active targets)
kubernetes-pods-direct-controllers (42/819 active targets)
kubernetes-pods-indirect-controller (0/777 active targets)
kubernetes-pods-name (40/817 active targets)
kubernetes-pods-static (0/777 active targets)

/targets :
kubernetes-pods-app (0/17 ready)
ku

[2019-10-17 01:18] cameronbraid commented on #1153
[debug-log.txt](https://github.com/grafana/loki/files/3737010/debug-log.txt)

[2019-10-17 01:23] cameronbraid commented on #1153
/metrics :
promtail_files_active_total 0.0
promtail_targets_active_total 99.0

/service-discovery :
kubernetes-pods-app (17/794 active targets)
kubernetes-pods-direct-controllers (42/819 active targets)
kubernetes-pods-indirect-controller (0/777 active targets)
kubernetes-pods-name (40/817 active targets)
kubernetes-pods-static (0/777 active targets)

/targets :
kubernetes-pods-app (0/17 ready)
ku

[2019-10-17 01:23] cameronbraid commented on #1153
Also, by default openshift 3.9 uses journald for logging, however I changed it to use json-file and enabled log rotation as well

[2019-10-17 01:36] cyriltovena opened #1165 "Documentation on how to get started with Openshift"
**Is your feature request related to a problem? Please describe.**
It seems that running promtail in Openshift is not easy. see https://github.com/grafana/loki/issues/1153

We should have better documentation for running on Openshift.

**Describe the solution you'd like**
Step by step guide to install and configure Loki and Promtail in [Openshift](https://www.openshift.com/)

[2019-10-17 02:05] cyriltovena commented on #1153
From the log file you are not tailing a single file, but still creating a new watcher failed.

Are those master nodes or anything special ?

[2019-10-17 02:08] cameronbraid commented on #1153
The node I am using is compute,infra and master, though I am not sure how that would impact anything ?

[2019-10-17 02:37] cyriltovena commented on #1153
Have you tried this on the host ?
[code]

[2019-10-17 02:46] mizeng commented on #1159
Could we have below 2 lines configurable?

[2019-10-17 02:48] mizeng commented on #1159
I've tried to enlarge "terminationGracePeriodSeconds" to give Ingester more time to finish transfer work during shutting down process. However still get below error:
[code]

[2019-10-17 02:49] cameronbraid commented on #1153
[code]

[code]

I upped the inotify limits and am no longer getting that error.. however I still have issues.. will open a separate ticket for that.

Thanks heaps for your help.

[2019-10-17 02:52] cyriltovena commented on #1153
you should take a look at who is using inotify, if an application is leaking could be interesting to know, I don't think its promtail since from the logs it was not even able to go that far.

[2019-10-17 03:04] mizeng commented on #1159
Increase MaxTransferRetries=200, still get error:
[code]

[2019-10-17 03:04] cameronbraid opened #1166 "promtail kubernetes discovery target added without path"
installing on openshift 3.9

![image](https://user-images.githubusercontent.com/672405/66974328-77872280-f0e6-11e9-90d3-d321e4034438.png)

Using helm deployed with the following values :

[code]

Debug logs

[debug-log.txt](https://github.com/grafana/loki/files/3737238/debug-log.txt)

[2019-10-17 03:33] mizeng commented on #1159
So I think the new start-up Ingester go pass "Pending" state too soon, which cause the old Ingester can not find a "Pending" state Ingester to transfer. Try to increase "join-after" for Ingester stay more time in "Pending" State.

[2019-10-17 07:47] Alexvianet opened #1167 "How to resize Loki Log label panel in Grafana Explore"
I have added hostip as the label in promtail and get:
![Screenshot from 2019-10-17 10-45-26](https://user-images.githubusercontent.com/17483589/66988493-49e0b000-f0cb-11e9-8e1e-80274188ffe6.png)

How to resize panel to see full IP address, just for making it pretty.
Thanks

[2019-10-17 07:51] mizeng commented on #1159
Increase "join-after" to 30s, manually test deleting one pod for several times, and Ingester removed from consul normally.

[code]

[2019-10-17 11:38] alucianus commented on #1164
Hi @cyriltovena thanks again...
I Ran the same comand and Logcli reports  EOF error as well... so we eliminate grafana side issue Right?
you're right I run my loki with default parameters I start it through systemd

[code]

So I saw a lot of option to configure I will try change it.
soon I send you the results
thanks

[2019-10-17 11:49] rfratto commented on #1159
Yes, the `join-after` should be set to a period that's high enough for the leaving ingester to discover the joining ingester.

It's interesting why it's not exiting from consul when it doesn't transfer successfully; it's definitely supposed to. I would expect something like this to be in the logs, followed by a flush and removal form consul:

[code]

I'm suspecting there might be a crash somewhere

[2019-10-17 12:06] cyriltovena commented on #1164
Yep the EOF from the logcli sounds like a bug, never seen this before.  Uses this flag`-log.level=debug` and share the output with us.

[2019-10-17 12:07] #1153 closed

[2019-10-17 12:09] cyriltovena commented on #1167
/cc @davkal I think this is more a Grafana issue.

@Alexvianet do you mind if I transfer this issue there ?

[2019-10-17 12:22] Alexvianet commented on #1167
@cyriltovena do it please, thanks

[2019-10-17 12:30] cyriltovena commented on #1166
Are you using the default scrape config from helm ?

[2019-10-17 12:32] cyriltovena commented on #1166
When mousing over you can also see labels before relabeling. That would be useful to see what you have there for one of them.

[2019-10-17 12:41] cyriltovena commented on #1166
By default the relabeling rule that should add the glob path to watch for is:

[code]

I'm wondering if you have those two labels `__meta_kubernetes_pod_uid` and `__meta_kubernetes_pod_container_name` before relabeling, but also I'm wondering if ` /var/log/pods/*$1/*.log` is the correct path for logs on your host ?

[2019-10-17 12:42] alucianus commented on #1164
I Tried  ` -querier.query_timeout` option  don't work

[debug.txt](https://github.com/grafana/loki/files/3739288/debug.txt)

[2019-10-17 12:47] cyriltovena commented on #1164
Was this log using logcli ? I can see that it timeout after 47seconds. If you want to increate Grafana timeout you have to use Grafana config file.

[2019-10-17 12:54] cameronbraid commented on #1166
here is an example, yep - those labels exist

[code]

in the promtail container :

[code]

[code]

[2019-10-17 12:55] cyriltovena commented on #1164
`-querier.query_timeout=5m` should also help.

[2019-10-17 12:55] cameronbraid commented on #1166
And yep I'l using the default heml config.. you can see my values above

[2019-10-17 12:57] cameronbraid commented on #1166
[code]

[2019-10-17 13:08] cyriltovena commented on #1166
Everything looks correct.

you could try to add:

[code]

just to verify if promtail can access that symlink.

[2019-10-17 13:10] cameronbraid commented on #1166
That works

![image](https://user-images.githubusercontent.com/672405/67011607-ab406780-f13b-11e9-9d64-eab6d1849fa6.png)

[2019-10-17 13:10] cyriltovena commented on #1166
Ok I think the problem is the default config doesn't work for you.

[2019-10-17 13:11] rally25rs opened #1169 "loki-stack sets a name for prometheus; breaks multiple helm releases"
**Describe the bug**
The loki-stack values.yaml sets a hard-coded name for `prometheus`:
[code]
This overrides prometheus' default behavior of incorporating the `{{.Release.Name}}` into the service name.

Since the release name is no longer included, this breaks Helm installs if you try to have more than one release, since `prometheus-server` will already exist on the second helm release.

**To Re

[2019-10-17 13:15] cyriltovena commented on #1166
So the problem is that our default glob matches in the scrape config is:

`/var/log/pods/*$1/*.log` for the rabbitmq example that gives us `/var/log/pods/*00406294-f087-11e9-8262-0cc47a39144c/*log`

however it seems that this won't match when files are located in `/var/log/pods/00406294-f087-11e9-8262-0cc47a39144c/....` because it expect something before the pod id.

see [here](http://www.globtest

[2019-10-17 13:15] cameronbraid commented on #1166
The log has lines like this :

ignoring target, wrong host, which I guess is used to match the discovered record to the local host, but it also shows the other labels that are generated

[code]

it has the container name in the __path__

/var/log/pods/*e1ad0dac-f084-11e9-8262-0cc47a39144c/webdata-http/*.log

I thought it should be more like

/var/log/pods/*e1ad0dac-f084-11e9-8262-0cc47a39144c/*.lo

[2019-10-17 13:19] cyriltovena commented on #1166
Yes I got confused by the glob test website. The glob seems ok.

[2019-10-17 13:27] cameronbraid commented on #1166
Ok, the fix is to change the

```/var/log/pods/*$1/*.log``` to ```/var/log/pods/$1*.log```

Since $1 becomes ```e1ad0dac-f084-11e9-8262-0cc47a39144c/webdata-http```

Then the result is :

```/var/log/pods/e1ad0dac-f084-11e9-8262-0cc47a39144c/webdata-http*.log```

which matches

```e1ad0dac-f084-11e9-8262-0cc47a39144c/webdata-http_1.log```

[2019-10-17 13:27] cameronbraid commented on #1166
and I can confirm that works

![image](https://user-images.githubusercontent.com/672405/67012999-1b4fed00-f13e-11e9-8b78-bc408566ea04.png)

[2019-10-17 13:28] cyriltovena commented on #1166
I was about to write this !

[2019-10-17 13:28] cyriltovena commented on #1166
Awesome !

[2019-10-17 13:28] cameronbraid commented on #1166
Yeah, thanks heaps for your help

[2019-10-17 13:31] cyriltovena commented on #1166
I'm wondering if this is openshift related. In that case it should be documented.

[2019-10-17 13:33] cyriltovena commented on #1165
Another trouble when using Openshift, https://github.com/grafana/loki/issues/1166

[2019-10-17 13:34] #1166 closed

[2019-10-17 13:49] cyriltovena commented on #1169
Hey @rally25rs ,

I did this :), I'm sorry it causes trouble for you, the idea was that its not possible to get the actual value generated service name from another chart to use for the grafana datasource here:

https://github.com/cyriltovena/loki/blob/c392ceba32c1cb591a361e3df3facc14f5f217ee/production/helm/loki-stack/templates/datasources.yaml#L27

There is may be an easier way to fix this.

[2019-10-17 14:20] alucianus commented on #1164
YEs...through logcli ...

loki side increased to 10 min
[code]
Grafana side Increase to  600s

Not  work yet!

[2019-10-17 14:35] cyriltovena commented on #1164
do you still get the same error or does it takes now 10 min and then fails ?

[2019-10-17 14:42] rally25rs commented on #1169
Ah I see. Yeah that makes sense. It's unfortunate that the prometheus chart doesn't `tpl` the value it gets, otherwise you could use `{{.Release.Name}}` in `values.yaml` to override the name.

I suppose another solution could be to copy/paste the name generation helper https://github.com/helm/charts/blob/master/stable/prometheus/templates/_helpers.tpl#L72-L87 up to `loki-stack`, then I believe `pr

[2019-10-17 14:50] alucianus commented on #1164
Yes  both sides same query.. same issue
splitting in two not working too...

[2019-10-17 16:51] maxless opened #1170 "Invalid documentation about duration."
The documentation states:
[code]

But when I try to set duration to "7d" and "14d", for example, I get this error message:
[code]

[2019-10-17 20:30] alucianus commented on #1164
Good News @cyriltovena I got it
I was already giving up, I changed three parameters and works for me

`/usr/local/bin/loki -config.file=/files/loki.yaml -querier.query_timeout=10m -server.http-read-timeout=10m -server.http-write-timeout=10m
`
After this I was able to make complex queries in a period of a month in both cases grafana and logcli
runs smoothly hehe !
Thank you so much!
best regards

[2019-10-18 00:32] mizeng commented on #1159
Chunk: Ceph Obj Store with S3 API
Index: ElasticSearch

[2019-10-18 05:59] litaxc commented on #271
still seeing the same issue with loki/promtail v0.3.0

[2019-10-18 08:05] hellodudu opened #1173 "After running one night, Loki lost connection."
**Describe the bug**
- I start two docker containers in remote server, Grafana and Loki. It's works well yesterday, After running 20 hours, I found Loki lost connection. Now I cann't set datasource in grafana and get `404 page not found` response from `loki/api/v1/label`

- I use Loki collecting logs without Promtail, only by pushing api `api/prom/push`.

- `loki-local-config.yaml` and `grafana.in

[2019-10-18 08:57] hellodudu commented on #1173
Hi sandlis,
Thanks a lot, I changed query api to `/api/prom/label`, and got response successful. It means Loki work fine right? But I still can't set datasource from Grafana with either `http://loki:3100` or `http://host.docker.internal:3100` nor even `http://{public_id}:3100`. Do you know where the problem is?

[2019-10-18 09:02] ThoreKr commented on #1051
Unfortunately it seems like there is little hope to get this working someday soon.

[2019-10-18 09:26] sandlis commented on #1173
Yes it means Loki is working fine.
Can't say what the issue might be with adding Loki in datasources without knowing what the error is.
If you want you can also have a look at compose file used by Joe, one of the maintainers of Loki.
https://github.com/joe-elliott/grafana-local/tree/master/loki

[2019-10-18 11:00] hellodudu commented on #1173
I added promtail and will see the result tomorrow.

[2019-10-18 15:37] #1164 closed

[2019-10-18 16:09] davkal commented on #1164
FYI https://github.com/grafana/grafana/pull/19910 makes sure Loki connection errors are passed through to the query row.

[2019-10-18 19:24] cyriltovena commented on #1170
Hello @maxless,

Which field are you try to update ?

[2019-10-18 21:10] #1169 closed

[2019-10-19 09:39] Sh4d1 commented on #759
@mizeng any news on the bump of weaveworks/common ?

[2019-10-21 00:00] #957 closed

[2019-10-21 01:05] mizeng commented on #759
@Sh4d1  Sorry for I did not take more time in this since I did not use wasabi s3.

[2019-10-21 05:27] Sh4d1 commented on #759
@mizeng did a little digging, and apparently we just need to wait for a PR on weaveworks/common to be merged, and then we can replace the fork, and it should work :)

[2019-10-21 07:10] hellodudu commented on #1173
It looks fine now. But log labels disappeared after a while.

[code]

and grafana query failed too.
<img width="1236" alt="image" src="https://user-images.githubusercontent.com/519830/67183182-766e3200-f413-11e9-94a5-b6cc04fd4809.png">

while query from postman or push another new log will get response success.
[code]
<img width="768" alt="image" src="https://user-images.githubusercontent.com/5198

[2019-10-21 07:22] hellodudu commented on #271
same issue here https://github.com/grafana/loki/issues/1173?_pjax=%23js-repo-pjax-container#issuecomment-544380165

Is there any config can last loki labels for long time?

[2019-10-21 09:45] mizeng commented on #1066
Yes, you are right. I was facing similar issue in Ceph Obj with S3 API. My proposal is to automatically isolate chunk objs with sub bucket with namespace. e.g. base bucket for loki is "s3://loki", sub bucket are "s3://loki/ns1" and "s3://loki/ns2". However this need quite a few code change in read/write to support this new storage arch.

[2019-10-21 11:13] maxless commented on #1170
limits_config.reject_old_samples_max_age
and
table_manager.retention_period

[2019-10-21 11:24] putrasattvika opened #1187 "Logs disappear after the chunks were removed from memory"
**Describe the bug**
Logs that have been ingested disappear after the chunks were removed from the
ingesters' memory. Before the chunks are flushed and removed, all of the logs
are queryable via `logcli` and Grafana.

Reproduced with commit hash [`fa79c2469c59c90cfb8e0415b0998665d5db2601`](https://github.com/grafana/loki/tree/fa79c2469c59c90cfb8e0415b0998665d5db2601)
in single process mode, but al

[2019-10-21 14:55] ThoreKr commented on #759
@Sh4d1 It's all blocked by #945 which relies on an abandoned PR by @tomwilkie and weaveworks/common#167.

[2019-10-22 14:31] edasque commented on #1087
AFAIK, this is still the case. latest is over a month old. Would be nice to version tag too so we can start using SEMVER on something like 0.3

[2019-10-22 16:55] raimon-segura opened #1190 "Loki does not support do-block-storage (digitalocean) as storageClassName"
**Describe the bug**
Loki does not support do-block-storage (digitalocean) as storageClassName , it worked before using loki.persistence.existingClaim .

Seems that "do-block-storage" is not in the list of supported storageClassName's:
"aws, cassandra, inmemory, gcp, bigtable, bigtable-hashed"

That message comes from https://github.com/cortexproject/cortex/blob/master/pkg/chunk/storage/factory.go

[2019-10-22 19:13] sh0rez commented on #1087
Been quite busy for the last weeks, will look into this after I am back from vacation

[2019-10-22 19:16] slim-bean commented on #1087
Version tags exist already `v0.3.0` is the most recent, `v0.4.0` will be out soon

I will hopefully also get a chance to look at the latest/master tags this week

[2019-10-24 00:51] cyriltovena opened #1192 "Logstash plugin"
I think it would be interesting to have a logstash plugin for folks that are using it and have it already configured.

info here: https://www.elastic.co/guide/en/logstash/current/contributing-java-plugin.html

/cc @slim-bean the java expert :)

[2019-10-24 07:31] codesome opened #1193 "Send --help output to stdout"
Given there are so many flags in the Loki executable, it is easier to find the flag using grep. Currently, the help text goes to stderr which makes it not possible. Do we want to consider moving it to stdout instead?

[2019-10-24 15:08] #878 closed

[2019-10-24 22:54] Alexvianet opened #1199 "promtail-linux-amd64.gz 0.4.0 full of errors after upgrade"
**Describe the bug**
After promtail update to 0.4.0 binary (Centos 7 VM)
promtail log full of:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Started Loki (SHA or version) 0.4.0 binary https://github.com/grafana/loki/releases/download/v0.4.0/loki-linux-amd64.gz
loki_config:
[code]

2. Started Promtail (SHA or version) 0.4.0 binary https://github.com/grafana/loki/releases/download/v0.4

[2019-10-25 01:23] slim-bean commented on #1199
Hey @Alexvianet, there was additional functionality added to Loki supporting additional limits.  These mostly apply when running Loki in a multi-tennant mode but are still enforced in any scenario.

I believe you are seeing the difference between promtail 0.3 and 0.4 because of some batching changes made in promtail 0.4, where it will send larger batches.

Regardless, the limits are set in Loki an

[2019-10-25 07:41] Alexvianet commented on #1199
i have updated loki_config:
[code]
promtail_config:
[code]
After promtail restart i get:
[code]

[2019-10-25 12:44] cyriltovena commented on #1199
The error limiting is gone, looks like promtail is trying to send old logs that can happen is the position has not been save correctly, are you still seeing this permanently ?

[2019-10-25 13:16] Alexvianet commented on #1199
my ￼/tmp/positions.yaml was not changed

positions:
  journal-journal: s=0fc1537c6b1840e1877999baf0cb73ea;i=293ba;b=0ac4bb9da52f49d7
9a6bd2d163c1da11;m=26e7b3c01f3;t=595bbdc1ea6a6;x=e141da8f3b5c3d38

it's showing after each promtail restart and then silence:
[code]

[2019-10-25 13:34] slim-bean commented on #1199
It's possible this is normal behavior, if promtail re-sends a line (or a line older than the newest for a given stream) Loki will reject the line with that error.

Deleting the positions file would definitely cause some resent files and trigger this error.

I would however expect those errors would go away over time as promtail starts sending newer logs which Loki has not seen yet.

[2019-10-25 18:57] slim-bean opened #1200 "What (if any) limits should be applied to the default Helm installation"
The v0.4.0 release introduced finer grained limit controls on Loki for both reads and writes via PR #948, however we have seen since release that the defaults are lower than traffic users are sending and their clients are getting rate limited.

Should we raise the limits on ingestion for the Helm installation? Or remove the limit completely?

[2019-10-27 03:37] zhushilu commented on #748
Take a look at this article.    https://itnext.io/grafana-logging-using-loki-45665916aec9

[2019-10-27 04:06] prasenforu commented on #748
I followed that URL but not working.

Finally I moved to fluent-bit

[2019-10-28 08:06] chbloemer commented on #271
Seeing issue also in loki/promtail v0.4.0
On Friday I got this:
[code]
On Monday I got this:
[code]
Grafana says: "Error connecting to datasource: Data source connected, but no labels received. Verify that Loki and Promtail is configured properly."
No restarts happened. If I redeploy the stack it works again vor some time.

Service config from compose file:
[code]

loki local-config.yaml:
[code]

[2019-10-28 12:48] cyriltovena commented on #1170
@maxless we're using the duration format from golang: https://golang.org/pkg/time/#ParseDuration

Unfortunately `d` as in days is not supported

You can still express your settings in hours. `24h`

[2019-10-28 21:37] #1019 closed

[2019-10-28 23:22] cyriltovena commented on #748
Labels after relabeling are accessible in pipeline stage, we support dropping via the match stage so that should work now.

[2019-10-29 00:24] cyriltovena commented on #1190
Can you share your full config ? Existing claim is a kubernetes config but I think there's something wrong with your Loki config.

[2019-10-29 00:31] cyriltovena commented on #1173
Labels queries have also a start and end parameters, if you haven't
received logs in the last 5min it's normal to not received a response for
the last 5min labels, have you tried to increase the period ?

Le lun. 21 oct. 2019 à 03:10, dudu <notifications@github.com> a écrit :

[2019-10-29 00:36] cyriltovena commented on #820
Yeah for sure

[2019-10-29 07:21] Robert-Stam opened #1208 "v0.4.0: x_build_info isn't emitting version anymore."
**Describe the bug**
loki_build_info and promtail_build_info isn't emitting version anymore.
This was emitted in v0.1.0-0.3.0

**To Reproduce**
Steps to reproduce the behavior:
1. Started Loki & Promtail 0.4.0
2. Scrape both components with Prometheus
3. Retrieve the loki_build_info and promtail_build_info metrics
4. Inspect that the 'version' label is missing.

**Expected behavior**
The 'version'

[2019-10-29 07:41] pracucci commented on #820
@cyriltovena How would you name the tool once backported to the `grafana/loki` repo? Should be integrated into `logcli` or as a separate tool?

[2019-10-29 10:09] maxless commented on #1170
Then you need to fix the docs.

https://github.com/grafana/loki/tree/master/docs/configuration

[code]

[2019-10-29 10:58] cyriltovena commented on #1170
Ho yes !

[2019-10-29 12:03] #810 closed

[2019-10-29 14:44] cyriltovena opened #1209 "Query range step does not support duration string."
From slack:

Easy change to support and we should be as close as possible to Prometheus.

Please also update the doc.

[2019-10-29 15:44] slifty opened #1210 "Missing Docker installation instructions"
# Describe the issue
The root [README.md](https://github.com/grafana/loki#getting-started) references docker installation instructions, but the [install docs README.md](https://github.com/grafana/loki/blob/master/docs/installation/README.md) doesn't clearly direct potential uses to where that documentation exists.

It might be good to either remove the reference to docker in the initial descriptio

[2019-10-29 18:58] #1040 closed

[2019-10-29 19:36] nehayward commented on #1209
I can give this a try

[2019-10-29 22:05] #959 closed

[2019-10-29 22:47] cyriltovena commented on #1173
Are you sending log with the docker driver ? If so can you check daemon logs to verify there isn’t any error ?